.table
    .table-desktop
        .table__row.table__row--gray.t-hide
            .table__item
                .text.text-fs14.text--light Вид металла
                .text.text-fs14.text--orange.table__index D
            .table__list.table__list--header
                ul.list
                    li
                        p.text.text-fs14.text--light ГОСТ, ОСТ, ТУ
                    li
                        p.text.text-fs14.text--light Марка
            .table__item-buy.table__item--hide-mb.pr-3
                a(href='')
                    .text.text-fs14.text--light Цена
                a(href='')
                    .text.text--light Купить
        .table__row
            .table__item
                a(href='').text.link.text-fs14 Рениевые заготовки
                .text.text-fs14.text--orange.table__index
                    span.table--hide-text.text.text-fs14 D:
                    |                 0,8
            .table__list
                ul.list
                    a(href="")
                        li.text.text-fs14.text--orange.text--light ТУ-48-19-250-77
                    a(href="")
                        li.text.text-fs14.text--orange.text--light мр-478П
            .table__item-buy.table__item--hide-mb
                a(href='#' data-toggle='modal', data-target='#modalPrice')
                    .text.link.text-fs14.text--orange.text--light Узнать цену
                a(href='#' data-toggle='modal', data-target='#modalCart')
                    svg.table__buy
                        use(xlink:href="/src/assets/icons.svg#basket")
            a(href='#' data-toggle='modal', data-target='#modalPrice').table__info.text.text--light Узнать цену
        .table__row
            .table__item
                a(href='').text.link.text-fs14 Рениевые заготовки
                .text.text-fs14.text--orange.table__index
                    span.table--hide-text.text.text-fs14 D:
                    |                 0,8
            .table__list
                ul.list
                    a(href="")
                        li.text.text-fs14.text--orange.text--light ТУ-48-19-250-77
                    a(href="")
                        li.text.text-fs14.text--orange.text--light мр-478П
            .table__item-buy.table__item--hide-mb
                a(href='#')
                    .text.link.text-fs14.text--orange.text--light Узнать цену
                a(href='#')
                    svg.table__buy
                        use(xlink:href="/src/assets/icons.svg#basket")
            a(href='#' data-toggle='modal', data-target='#modalPrice').table__info.text.text--light Узнать цену
        .table__row
            .table__item
                a(href='').text.link.text-fs14 Рениевые заготовки
                .text.text-fs14.text--orange.table__index
                    span.table--hide-text.text.text-fs14 D:
                    |                 0,8
            .table__list
                ul.list
                    a(href="")
                        li.text.text-fs14.text--orange.text--light ТУ-48-19-250-77
                    a(href="")
                        li.text.text-fs14.text--orange.text--light мр-478П
            .table__item-buy.table__item--hide-mb
                a(href='#')
                    .text.link.text-fs14.text--orange.text--light Узнать цену
                a(href='#')
                    svg.table__buy
                        use(xlink:href="/src/assets/icons.svg#basket")
            a(href='#' data-toggle='modal', data-target='#modalPrice').table__info.text.text--light Узнать цену
    .table-mb
        .table-mb__card
            .text.text-fs16.text--md Рениевые заготовки
            .table-mb__list
                li
                    span.text.text-fs14 Марка:
                    a(href="#").text.text-fs14 ТУ-48-19-250-77У-48-19-250-77Т
                li
                    span.text.text-fs14 ГОСТ/ТУ:
                    a(href="#").text.text-fs14 МР-478П
                li
                    span.text.text-fs14 D:
                    a(href="#").text.text-fs14 0,8
            .d-flex.align-items-center.justify-content-between
                p.text.text-fs14 Цена:
                    =" "
                    span.text.text--orange.text--md.text-fs14 17 700р/т
                .table-mb__btn
                    .btn.btn--rnd
                        p.text.text--white.text-fs12 Узнать цену
                .table-mb__btn.table-mb__btn--green
                    .btn.btn--rnd
                        p.text.text--white.text-fs12 Добавить
                        svg
                            use(xlink:href="/src/assets/icons.svg#cart")
        .table-mb__card
            .text.text-fs16.text--md Рениевые заготовки
            .table-mb__list
                li
                    span.text Марка:
                    a(href="#").text.text-fs14 ТУ-48-19-250-77У-48-19-250-77Т
                li
                    span.text ГОСТ/ТУ:
                    a(href="#").text.text-fs14 МР-478П
                li
                    span.text D:
                    a(href="#").text.text-fs14 0,8
            .d-flex.align-items-center.justify-content-between
                p.text Цена:
                    =" "
                    span.text.text--orange.text--md 17 700р/т
                .table-mb__btn
                    .btn.btn--rnd
                        p.text.text--white.text-fs12 Узнать цену
                .table-mb__btn.table-mb__btn--green
                    .btn.btn--rnd
                        p.text.text--white.text-fs12 Добавить
                        svg
                            use(xlink:href="/src/assets/icons.svg#cart")


