.breadcrumbs {


  .section {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  a {
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    &:after {
      content: '/';
      padding-left: 7px;
      padding-right: 3px;
    }

    &:hover, &:active, &.active {
      color: #4F4F4F;
    }

    &:last-child {
      color: #828282;
      cursor: unset;
      &:after {
        display: none;
      }
    }
  }

  svg {
    display: none;
  }
}

@media (max-width: 650px) {
  .breadcrumbs {
    padding-top: 27px;

    a {

      .last {
        cursor: none;
      }

      &.active {
        display: flex;
        cursor: pointer;
        color: #828282;
      }
    }
    svg {
      display: flex;
      width: 12px;
      height: 10px;
      margin-right: 5px;
      stroke: #828282;
    }
  }
}