.cities {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    margin: 0 10px 10px 0;
    background: #FAFAFA;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  @media (max-width: 800px) {
    overflow-y: scroll;
    max-height: 400px;
    border-bottom: 30px solid white;
  }



  @media (max-width: 500px) {
    max-width: 350px;
    &__card {
      font-size: 14px;
      line-height: 17px;
    }
  }
}