.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  margin: 0 auto;
  max-width: 1470px;
  background: #333333;

  &__info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 23px 15px 35px;
    width: 100%;

    .text {
      color: white;
    }

    &-text {
      width: 100%;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .call-text {
    text-align: end;
    margin-bottom: 10px;

    a {
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
      color: $orange;

      &:active {
        text-decoration: underline;
      }
    }

    &:last-child {
      text-align: left;
      margin-bottom: 0;
      padding-top: 14px;

      p {
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: white;
      }
    }

    &__icon {
      display: none;
    }
  }

  .call-icons {
    display: none;
  }

  &__logo {
    position: absolute;
    width: 104.76px;
    height: 54px;
    background: url("/src/assets/img/logo-bvb-white.png") center no-repeat;
    margin-right: 17px;
  }

  .accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    a {
      outline: none;
      text-decoration: none;

      p {
        color: white;
      }
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 9px 8px 9px 16px;
    }

    &__icon {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 45px;
      height: 40px;
      stroke: white;
      stroke-width: 4px;
      top: 0;
      right: 0px;
      transition: $animate;

      svg {
        height: 23px;
        width: 23px;
      }

      &:hover {
        cursor: pointer;
      }

      &--active {
        transform: rotate(-180deg);
      }
    }

    &__inn {
      position: relative;
      padding: 0 22px 0 15px;
      //width: 100vw;
      max-width: 269px;
      overflow: hidden;
      background: $orange;
      transition: height 1s, width 1s, padding 1s, visibility 1s,
      opacity 0.5s ease-out;

      a {
        display: block;
        padding: 10px 0 10px 14px;
        width: 100vw;
        max-width: 269px;
        margin-left: -14px;
        text-decoration: none;

        &:active,
        &:hover {
          cursor: pointer;
          background: #FFD060;
        }
      }

      &:active,
      &:hover {
        cursor: pointer;
      }
    }
  }

  .list-inn {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0px;
    transition: .2s linear;

    &--full {
      max-height: 100%;
    }

    &__item {
      padding: 7px 16px 7px 0;

      a {
        color: white;

        &:active,
        &:hover {
          color: #FFD060;
        }
      }

      &:hover {
        color: #FFD060;
      }

      svg {
        transform: rotate(-90deg);
        width: 14px;
        height: 7px;
        stroke: #5B626E;
      }
    }
  }

  &__call {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 23px;

    .text-fs12 {
      color: white;
    }
  }

  &__items {
    margin-top: 133px;
    margin-bottom: 125px;
    padding-bottom: 41px;


  }

  &__btn {
    display: flex;
    width: 268px;
    height: 40px;
    margin: 25px 0 19px;

    .btn--rnd {
      font-weight: 400;
    }
  }

  &__link {
    font-family: Roboto;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #F2B61A;
    margin-bottom: 15px;
    cursor: pointer;

    &:hover, &:active {
      text-decoration: underline;
    }
  }
}

@media(min-width: 700px) {
  .footer {
    background: #F5F5F5;

    &__items {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      padding-left: 13px;
      margin-top: 0;

      .list-inn__item a {
        color: black;
      }
    }

    &__logo {
      background: url("/src/assets/svg/logo-bvb-3.svg") center no-repeat;
      background-size: contain;
      width: 97px;
      height: 50px;
    }

    &__info {
      position: relative;
      padding-bottom: 13px;

      p {
        padding-left: 10px;

        &:after {
          position: absolute;
          content: "";
          left: -10px;
          top: 5px;
        }
      }

      &-text {
        .call-text a {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: black;

          &:active, &:hover {
            text-decoration: none;
            color: $orange;
          }
        }

        .call-text:last-child {
          p {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            padding-left: 0;
            color: black;
          }
        }
      }
    }

    &__call .text-fs12 {
      color: black;
    }


    .accordion {
      width: 23%;
      margin-bottom: 20px;
      position: relative;

      &__icon {
        stroke: black;
      }

      a p {
        color: black;
      }
    }
  }
}

@media(min-width: 850px) {
  .footer {
    flex-direction: row;
    padding: 22px 16px 22px 36px;
    min-height: 411px;

    &__info {
      display: block;
      margin-bottom: 0;
      max-width: 285px;
      padding: 0;

      &-text {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
      }
    }

    &__logo {
      position: relative;
      margin-bottom: 14px;
    }

    &__items {
      flex-wrap: nowrap;
      max-width: unset;
      width: 100%;
      align-items: baseline;
      margin-top: 0;
      margin-left: 40px;
      margin-bottom: 0;
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }

    .accordion {
      margin-bottom: 20px;
      margin-right: 15px;
      max-width: 203px;

      &.lg {
        max-width: 100%;
        width: 100%;
      }

      a p {
        margin-bottom: 9px;

      }

      svg {
        display: none;
      }
    }

    &__call {
      max-width: 300px;
      margin-left: 23px;
      margin-right: 0;
      padding-bottom: 26px;
      top: unset;

      &-icons {

      }

      .text-fs12 {
        margin-right: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }

    &__btn {
      margin-top: 0;
      margin-right: auto;
      margin-left: 19px;
      width: 164px;
    }

    &__link {
      order: 1;
      margin-top: 10px;
      margin-right: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: black;

      &:hover, &:active {
        color: $orange;
      }
    }

    .call-text {
      display: flex;
      align-items: center;
      margin-bottom: 20px;


      p {
        padding-left: 0;
        font-size: 14px;
        line-height: 16px;

      }

      &:last-child {
        padding-top: 0;
        padding-bottom: 20px;

        p {
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
        }
      }

      &:nth-child(2) {
        order: -1;
        margin-bottom: unset;
        padding-bottom: unset;
      }

      p {
        margin-bottom: 0;
      }
    }

    .call-text__icon {
      display: flex;
      width: 16px;
      height: 16px;
      margin-right: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .call-icons {
      display: flex;
      align-items: center;
      margin-bottom: 28px;
      padding-right: 73px;

      &__icon {
        width: 24px;
        height: 24px;
        fill: $orange;
        margin-right: 25px;
      }
    }

    .list-inn {
      max-height: none;
    }
  }
}

@media(min-width: 1000px) {
  .footer {
    &__items {
      width: 100%;
      flex-wrap: nowrap;
      margin-left: 0;
      padding-top: 5px;
      padding-left: 124px;
    }

    .accordion {
      margin-right: 40px;
    }

    .list-inn__item {
      .text-fs14 {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}

