.gallery-docs {
  margin-top: -38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 436px;
  max-width: 100%;

  .item {
    max-width: 300px;

    img {
      width: 432px !important;
      height: 305px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  .control {
    display: flex;
    align-items: center;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 83px;
      height: 116px;
      margin-right: 5px;

      &.active {
        position: relative;
        &:after {
          position: absolute;
          content: "";
          left: 50%;
          transform: translateX(-50%);
          top: 0;
          width: 100%;
          height: 93%;
          border: 4px solid $orange;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .btn-image {
      cursor: pointer;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 900px) {
  .gallery-docs {
    display: none;
  }
}
