.card-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 11px 19px;
  border: 3px solid #f2b61a;
  box-sizing: border-box;
  border-radius: 10px;
  transition: .3s ease;

  &__img {
    margin: 0 auto 34px;
    width: 150px;
    height: 150px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  p {
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
  }

  &__date {
    margin-right: auto;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
  }
}