.card-category {
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;

  @media (min-width: 1000px) {
    flex-direction: column;

  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
    width: 100%;
    max-width: 72px;
    height: 56px;
    flex-shrink: 0;

    @media (min-width: 700px) {
      max-width: 100px;
      height: 85px;
    }

    @media (min-width: 1000px) {
      max-width: 100%;
      height: 100%;
      max-height: 200px;
    }

    img {
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-top-left-radius: 5px;

      @media (min-width: 1000px) {
        border-radius: 0;
      }
    }
  }

  p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 11px;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
    font-weight: 500;

    @media (min-width: 1000px) {
      padding: 20px 12px 18px 16px;
    }
  }
}

