.menu-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .m-selector {
    padding: 31px 20px;

    &:hover {
      background: #333333;

      .text {
      color: white;
      }

      .m-selector__box-content {
        visibility: visible !important;
      }

      .m-selector__icon {
        transform: rotate(270deg);
        border-left: 5px solid white;
      }
    }

    &__box {
      position: relative;

      &-content {
        position: absolute;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        left: -20px;
        top: 40px;
        width: 300px;
        background: #333333;
        z-index: 10;

        .text {
          padding: 13px 13px 13px 16px;

          &:hover {
            background: $orange;
            color: #4F4F4F;
          }
        }

        &:before {
          content: "";
          width: 98px;
          height: 33px;
          top: -39px;
          left: 0;
          border-bottom: 4px solid #333333;
          position: absolute;
        }
      }

      p {

      }
    }

    &__icon {
      display: flex;
      margin-left: auto;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid #f2b61a;
      transform: rotate(90deg);
      margin-left: 15px;
    }

    &__row {
      display: flex;
      align-items: center;
      cursor: pointer;


      img {
        width: 11px;
        height: 5px;
        margin-left: 8px;
      }
    }
  }
}

