.header {
  width: 100%;
  max-width: 1200px;
  padding: 15px 26px 0 31px;
  width: 100%;

  &__tp-ln {
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
  }

  &-menu {
    display: none;
  }

  &-icons {
    display: none;
  }

  &__bt-ln {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  &__btn {
    display: flex;
    margin-right: 24px;
    width: 164px;
    height: 40px;
  }

  &__menu {
    width: 100%;
    max-width: 940px;
  }

  .text-fs12 {
    display: none;
  }
}

.top-header .header-info__row {
  align-items: center !important;
  margin-bottom: 7px;
  .link {
    margin-bottom: 0;
  }
}

.header-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
  margin-left: auto;
  padding-left: 10px;



  &__row {
    display: flex;
    align-items: baseline;

    .link {
      margin-bottom: 7px;
      color: $orange;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__call {
    display: flex;
  }

  &__icon {
    margin-right: 7px;
    width: 13px;
    height: 13px;
  }
}

.header-basket {
  display: flex;

  svg {
    width: 20.51px;
    height: 19.67px;
    margin-right: 7px;
    margin-top: -2px;
    fill: $orange;
  }
}

@media(max-width: 1200px) {
  .header {
    padding: 15px 16px 20px 31px;
  }

  .header-menu {
    display: flex;
    margin-right: 10px;
  }

  .header__bt-ln {
    padding: 12px 0 0 31px;
  }

  .header__menu {
    display: none;
  }
}


@media(max-width: 768px) {
  .header {
    padding: 0;
    background: white;
    z-index: 999;

    .link {
      display: none;
    }

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    &__tp-ln {
      border: none;
      padding: 12px 16px;
    }

    &__logo {
      width: 60px;
      height: 30px;
      background: red;
    }

    &__bt-ln {
      padding: 0;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      //flex-shrink: 0;
      width: 29px;
      height: 29px;
      margin-right: 15px;
      background: $orange;

      &-m {
        width: 20px;
        height: 20px;
        background: white;
      }
    }

    &__menu {
      display: none;
    }

    &-basket {
      display: none;
    }

    &-info {
      flex-shrink: unset;
      width: 100%;
      margin: 0;
      padding-left: 0;

      &__call {
        display: none;
      }

      &__row {
        justify-content: space-between;
        width: 100%;

        .text {
          background: $orange;
          padding: 10px 27px;
          width: 100%;
          text-align: center;

          &:last-child {
            background: darken($orange, 5%);

          }
        }

        .text-fs12 {
          display: block;

          &:active {
            text-decoration: underline;
          }
        }
      }
    }

    &-icons {
      display: flex;
      align-items: center;
      margin-left: auto;

      &__icon {
        width: 14px;
        height: 14px;
        margin-right: 20px;

        &--gray {
          fill: #5B626E;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 29px;
        height: 29px;
        border: 2px solid #E0E0E0;
        border-radius: 3px;

        img {
          margin: 0;
        }
      }
    }

    .hide {
      display: none !important;
    }
  }
}