.offer-card {
  display: flex;
  padding: 9px 10px;
  width: 100%;
  max-width: 350px;
  border-radius: 3px;
  background: $white;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 70px;
    margin-right: 10px;

    img {
      object-fit: contain;
    }
  }

  &__items {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin-bottom: 7px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;

    &--sm {
      font-size: 12px;
      margin-top: auto;
      margin-bottom: 0;
      color: #D9D9D9;
    }

    &--hide {
      //display: none;
    }
  }

  span {
    color: #d9d9d9;
  }

  &__price {
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #f2b61a;

    @media (max-width: 600px) {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
    }
  }
}