.product-calculator {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 24px;
    background: $white;
  }

  &__wrapper {
    padding: 0 12px;
  }

  &__header {
    width: 100%;
    padding: 12px;
    background: $orange;
  }

  .selector {
    margin: 19px 0;
    background: #F6F6F6;
    border-radius: 5px;
    width: 100%;

    .text {
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
    }

    &__head {
      display: flex;
      align-items: center;
      padding: 17px 12px;
      width: 100%;
      cursor: pointer;
    }

    &__list {
      background: #F6F6F6;

      .text {
        padding: 9px 12px;

        &:hover, &:active {
          background: #f2f2f2;
        }
      }
    }

    &__icon {
      width: 0px;
      height: 0px;
      margin-left: 9px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $orange;
      transform: rotate(90deg);
    }

    &__checkbox {
      margin-bottom: 11px;
    }
  }

  &__row {
    display: flex;
    padding: 0 6px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__field {
    width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 20px);
    margin-top: 13px;

    &--lg {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    margin-top: 4px;
    padding: 12px 15px;
    background: $white;
    border: 1.5px solid #e0e0e0;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #3C3C3C;
    outline: none;

    &:active, &:focus {
      border: 1.5px solid #828282;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      color: #E0E0E0;
      opacity: 1; /* Firefox */
    }
  }

  &__btn {
    display: flex;
    margin-top: 20px;
    width: 164px;
  }
}

@media (min-width: 1000px) {
  .product-calculator {
    .text-fs16 {
      font-size: 18px;
      line-height: 21px;
      padding-left: 21px;
    }

    label.text-fs16 {
      padding-left: 0;
    }

    .selector {
      margin: 26px 0 12px;
      width: 422px;

      &__head {
        padding: 15px 20px;

        .text {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }

    &__row {
      justify-content: flex-start;
    }

    &__field {
      width: 200px;
      margin-right: 20px;

      &--lg {
        width: 340px;
      }

      .text-fs14 {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__input {
      margin-top: 14px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

