.wrapper .carousel-services {
  .owl-carousel {
    padding-bottom: 20px;

    .owl-nav {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      right: 3px;
      bottom: 3px;
    }

    .owl-stage-outer {
      padding-bottom: 18px;
    }

    .card-service {
      margin: 0 auto;
    }

    .owl-dots {
      position: absolute;
      left: 0;
      bottom: 17px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        transition: .1s ease;
        width: 8px;
        height: 8px;
        margin-left: 11px;
        border-radius: 50%;
        background: #D0D0D0;
      }

      .active {
        background: $orange;
      }
    }
  }

  position: relative;
  width: 100%;
  max-width: 1168px;

  .text-fs18 {
    margin-bottom: 12px;
  }

  .item {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto 18px;
  }

  @media (min-width: 900px) {
    .owl-carousel {
      padding-bottom: 0;

      .owl-nav {
        top: -69px;
        width: 96px;
        left: 437px;

        button {
          width: 38px;
          height: 38px;

          svg {
            width: 17px;
            height: 17px;

          }
        }
      }

      .owl-dots {
        display: none;
      }
    }

    .text-fs18 {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 36px;
    }
  }
}
