
.wrapper .carousel-statistic {
  width: 100%;
  max-width: 100%;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .owl-dots {
    position: absolute;
    left: 0;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      transition: .1s ease;
      width: 8px;
      height: 8px;
      margin-left: 11px;
      border-radius: 50%;
      background: #D0D0D0;
    }

    .active {
      background: $orange;
    }
  }

  .owl-carousel .owl-nav {
    bottom: -30px;
  }

  .card-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 18px;

    @media (min-width: 900px) {
      width: 100%;
      max-width: calc((1/3*100%) - (1 - 1/3) * 15px);
    }
  }

  &__carousel {
    padding-bottom: 21px;
  }

  &__carousel {
    @media (min-width: 900px) {
      display: none;
    }
  }
}