
.wrapper .carousel-news {
  position: relative;
  width: 100%;
  max-width: 1168px;
  padding-bottom: 19px;
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
    margin-bottom: 25px;
  }
  .owl-carousel .owl-nav {
    bottom: -32px;
  }

    .check-news {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      width: 100%;
      max-width: 188px;

      .active {
        z-index: 5;
      }

      .cheap {
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 14px;
        border-radius: 55px;
        background: $orange;
        cursor: pointer;

        &.right {
          position: absolute;
          background: #EDEDED;
          right: 30px;
        }

        p {
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #4F4F4F;
        }
      }
    }

  .link {
    position: absolute;
    display: flex;
    align-items: center;
    top: 53px;
    right: 10px;

    svg {
      width: 15px;
      height: 14px;
      stroke: black;
      margin-left: 10px;
      transform: rotate(180deg);
    }
  }

  .owl-dots {
    position: absolute;
    left: 0;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      transition: .1s ease;
      width: 8px;
      height: 8px;
      margin-left: 11px;
      border-radius: 50%;
      background: #D0D0D0;
    }

    .active {
      background: $orange;
    }
  }

  &__card {
    display: flex;
    width: 100%;
    max-width: 372px;
    height: 333px;
    margin: 0 auto 18px;
  }

  .owl-carousel .owl-item img {
    width: 150px;
  }

  .hide-mb {
    display: none;
  }

  @media (min-width: 800px) {
    &__title {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 36px;
    }
    &__card .card-news {
      border-color: #F1F1F1;

      &:hover, &:active {
        border-color: $orange;

        p {
          color: $orange;
        }
      }
    }
    .link {
      position: absolute;
      display: flex;
      align-items: center;
      top: 84px;
      right: 10px;

      &.text {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: black;
        text-decoration: none;

        &:hover, &:active {
          text-decoration: underline;
        }
      }

      svg {
        width: 24px;
        height: 20px;
        stroke: $orange;
        margin-left: 16px;
        margin-right: 0;
      }
    }
    .check-news {
      margin-bottom: 34px;
      width: 100%;
      max-width: 370px;

      .active {
        z-index: 5;
      }

      .cheap {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 26px;
        border-radius: 55px;
        background: $orange;
        cursor: pointer;

        &.right {
          position: absolute;
          background: #EDEDED;
          right: 8px;
        }

        p {
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #4F4F4F;
        }
      }
    }

    .hide-mb {
      display: flex;
    }

    .hide {
      display: none;
    }
  }
}