
.wrapper .main-page-carousel {
  position: relative;
  width: 100%;

  .owl-dots {
    display: none;
  }

  .banner {
    position: relative;
    width: 100%;
    height: 310px;
    object-fit: cover;

    &-info {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
      &__content {
        &-title {
          margin-bottom: 24px;
          font-weight: 800;
          font-size: 32px;
          line-height: 44px;
          text-transform: uppercase;
          color: #FFFFFF;
        }

        p {
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #F2B61A;
        }
      }
      &__btn {
        margin-top: 32px;
        display: flex;
        width: 240px;
        height: 50px;
      }
    }
  }
  @media (max-width: 900px) {
    .banner-info {
      display: none;
    }
  }
  @media (max-width: 768px) {
    background: #F9F9F9;
    padding-top: 16px;
    .banner {
      margin: 0 auto;
      border-radius: 5px;
      width: 292px;
      height: 140px;
    }
  }
}