// use wrapper to rechange native styles for carousel and get a higher priority





.wrapper .owl-carousel{

    .owl-nav {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      right: 3px;
      bottom: -37px;

      svg {
        width: 12px;
        height: 20px;
        stroke: white;
      }

      .owl-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: $orange;
        transform: rotate(-90deg);
      }

      .owl-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: $orange;
        margin-left: auto;
        transform: rotate(90deg);
        margin-right: 20px;
      }

      .owl-next, .owl-prev {
        outline: none;

        &.disabled {
          background: none;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          border-radius: 50%;

          svg {
            stroke: $orange;
          }
        }
      }
    }
  }

