
.special-offers {
  width: 100%;
  max-width: 100%;


  &__card {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 288px;
    border-radius: 3px;

    @media (min-width: 600px) {
      max-width: 379px;
    }
  }

  .special-btn {
    width: 100%;
    max-width: 140px;
    height: 28px;
    .btn {
      background: transparent;
      max-width: 140px;
      height: 28px;
      font-size: 10px;
      font-weight: 500;
    }
  }

  @media(min-width: 900px) {
    .special-btn {
      display: flex;
      margin: 20px auto 0;
      max-width: 310px;
      height: 56px;

      .btn {
        max-width: 310px;
        height: 56px;
        border-radius: 3px;
        background: orange;
        color: white;
        font-size: 16px;
      }
    }
  }
}