.about-page
    .section
        h1 Компания ООО «БВБ-Альянс»
        p.text.ap-content.ap-content--gap В нашей компании вы можете купить металлопрокат любых марок стали и типоразмеров! Мы предлагаем доступные цены на металлопрокат, быструю доставку, услуги металлообработки и анализа металла. Качество реализуемой продукции подтверждено сертификатами.
        img(src="src/assets/img/worker.png")
        h2.text Продажа металла
        p.text.ap-content Компания "БВБ-Альянс" основана в 2007 году. Сегодня она занимает лидирующие позиции на рынке металлоторговли, производства изделий из металла и металлообработки в 14 городах России и в 6 городах СНГ, где представлен широкий ассортимент высококачественного металлопроката и сплавов различного назначения, полимеры, кабели, техничекие полуфабрикаты на основе драгоценных металлов.
        h2.text Услуги металлообработки и производства
        p.text.ap-content Производствнные мощности позволяют изготовить детали любой сложности по чертежам заказчика, металлообработку, изоляцию и покрытие. С 2018 года компания является действующим членом Российского союза поставщиков металлопродукции (РСПМ).
        h2.text Преимущества работы с БВБ-Альянс:
        .ap-cards
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#store")
                .text.text-fs12.text--black.text--black Собственные склады в крупных городах РФ.
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#factory")
                .text.text-fs12.text--black Собственный цех производства профнастила.
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#calendar")
                .text.text-fs12.text--black Для постоянных клиентов мы можем предложить отсрочку платежа (до месяца).
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#liquid-metal")
                .text.text-fs12.text--black Быстрая обработка заказов.
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#box")
                .text.text-fs12.text--black Услуги ответхранения на крытых складах.
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#percents")
                .text.text-fs12.text--black Программа лояльности к постоянным клиентам - скидки при больших объемах.
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#truck-2")
                .text.text-fs12.text--black Доставка во все регионы России и СНГ.
            .ap-card
                svg
                    use(xlink:href="/src/assets/icons.svg#rocket-2")
                .text.text-fs12.text--black Все популярные виды металлообработки.


