.wrapper
    .section
        div
            .text.text-fs18.text--bold
            .section__list
                .section__basket-list
                    .section__basket-card
                        .basket-card
                            .basket-card__table
                                .basket-card__line-header
                                    .text.text-fs16
                                img.basket-card__icon(src='src/assets/svg/close.svg')
                                .basket-card__line-size
                                    .basket-card__size
                                        .text.text-fs13.text--light
                                            |
                                            span.text.text-fs13.text--orange 0.8
                                    .basket-card__size
                                        .text.text-fs13.text--light
                                            | &Rcy;&acy;&zcy;&mcy;&iecy;&rcy; B:
                                            span.text.text-fs13.text--orange 0.8
                                    .basket-card__size
                                        .text.text-fs13.text--light
                                            | &Rcy;&acy;&zcy;&mcy;&iecy;&rcy; C:
                                            span.text.text-fs13.text--orange 0.8
                                .basket-card__line-info
                                    div
                                        .basket-card__info
                                            .basket-card--text-gap.text.text-fs13.text--light
                                                | &Gcy;&Ocy;&Scy;&Tcy;/&Tcy;&Ucy;:
                                                span.text.text-fs13.text--orange &Tcy;&Ucy; 48-19-250-88
                                        .basket-card__info
                                            .text.text-fs13.text--light
                                                | &Mcy;&acy;&rcy;&kcy;&acy;:
                                                span.text.text-fs13.text--orange &Mcy;&Rcy;-47&Vcy;&Pcy;
                                    input.basket-card__field
                    .section__basket-card
                        .basket-card
                            .basket-card__table
                                .basket-card__line-header
                                    .text.text-fs16 &Rcy;&iecy;&ncy;&icy;&iecy;&vcy;&ycy;&iecy; &zcy;&acy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&icy;
                                img.basket-card__icon(src='src/assets/svg/close.svg')
                                .basket-card__line-size
                                    .basket-card__size
                                        .text.text-fs13.text--light
                                            | &Rcy;&acy;&zcy;&mcy;&iecy;&rcy; &Acy;:
                                            span.text.text-fs13.text--orange 0.8
                                    .basket-card__size
                                        .text.text-fs13.text--light
                                            | &Rcy;&acy;&zcy;&mcy;&iecy;&rcy; B:
                                            span.text.text-fs13.text--orange 0.8
                                    .basket-card__size
                                        .text.text-fs13.text--light
                                            | &Rcy;&acy;&zcy;&mcy;&iecy;&rcy; C:
                                            span.text.text-fs13.text--orange 0.8
                                .basket-card__line-info
                                    div
                                        .basket-card__info
                                            .basket-card--text-gap.text.text-fs13.text--light
                                                | &Gcy;&Ocy;&Scy;&Tcy;/&Tcy;&Ucy;:
                                                span.text.text-fs13.text--orange &Tcy;&Ucy; 48-19-250-88
                                        .basket-card__info
                                            .text.text-fs13.text--light
                                                | &Mcy;&acy;&rcy;&kcy;&acy;:
                                                span.text.text-fs13.text--orange &Mcy;&Rcy;-47&Vcy;&Pcy;
                                    input.basket-card__field
                    .section__basket-card
                        .basket-card
                            img.basket-card__icon(src='src/assets/svg/close.svg')
                            .text.text-fs16.text--md
                                | &Ucy;&scy;&lcy;&ucy;&gcy;&acy;
                                span.basket-card__service.text-fs14.text--md &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &zcy;&acy;&gcy;&lcy;&ucy;&shcy;&iecy;&kcy;
                            br
                            .text.text-fs12
                                | &Pcy;&rcy;&ocy;&icy;&zcy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&ocy; &zcy;&acy;&gcy;&lcy;&ucy;&shcy;&iecy;&kcy; &dcy;&lcy;&yacy; &tcy;&rcy;&ucy;&bcy; &scy; &dcy;&ocy;&scy;&tcy;&acy;&vcy;&kcy;&ocy;&jcy; &pcy;&ocy; &Rcy;&Fcy; &icy; &Scy;&Ncy;&Gcy;. &Dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&ycy;&iecy; &tscy;&iecy;&ncy;&ycy;. &Kcy;&ocy;&rcy;&ocy;&tcy;&kcy;&icy; &scy;&rcy;&ocy;&kcy;&icy;. &Vcy;&ycy;&scy;&ocy;&kcy;&ocy;&iecy; &kcy;&acy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy;.
        .section__form.section--gray
            .text.text-fs18.text--bold &Ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&iecy;&ncy;&icy;&iecy; &zcy;&acy;&kcy;&acy;&zcy;&acy;
            .form-order
                .form-order__list
                    .form-order__field
                        .text.text-fs14 &Vcy;&acy;&shcy;&iecy; &icy;&mcy;&yacy;*
                        input.form-order__input(placeholder='Иван')
                    .form-order__field
                        .text.text-fs14 &Vcy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;*
                        input.form-order__input(placeholder='+7 (___) ___-__-__')
                    .form-order__field
                        .text.text-fs14 &Vcy;&acy;&shcy; e-mail*
                        input.form-order__input(placeholder='E-mail')
                    .form-order__field
                        .text.text-fs14 &Vcy;&acy;&shcy; &kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&jcy;
                        input.form-order__input.form-order__input--lg(placeholder='Текст')
                .text.text-fs14
                    | &Ncy;&acy;&zhcy;&icy;&mcy;&acy;&yacy; &kcy;&ncy;&ocy;&pcy;&kcy;&ucy; &ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy;, &vcy;&ycy; &pcy;&rcy;&icy;&ncy;&icy;&mcy;&acy;&iecy;&tcy;&iecy;
                    a.link(href='') &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;
                .section__btn
                    .btn.text.text-fs14.text--white &Ocy;&fcy;&ocy;&rcy;&mcy;&icy;&tcy;&softcy;
