.black-list
    .section
        h1.text Черный список недобросовестных поставщиков
        .black-list__info
            p.text.text-fs14.text--gray «БВБ Альянс» строит партнерские отношения, поставляя металлопродукцию тысячам потребителей во всех
                | отраслях экономики России и СНГ. Большая часть партнеров и клиентов компании – добросовестные,
                | работа с которыми ведется к взаимной выгоде и подразумевает предоставление различных преференций.
            p.text.text-fs14.text--gray Но, как ни прискорбно, участились случаи мошенничества среди поставщиков, которые
                | не исполняют или не надлежаще исполняют обязательства по договорам поставки.
            p.text.text-fs14.text--gray БВБ Альянс публикует «черный список» недобросовестных поставщиков и покупателей.
                | Мы надеемся, что он поможет партнерам и другим поставщикам металлопродукции снизить риски и избежать потерь.
        h2.text Список неблагонадёжных покупателей и поставщиков:
        .black-list__partners
            h3.text ООО "РМНТК-Термические системы" ИНН1832075137
            p.text.text-fs14.text--gray Организацией ООО "РМНТК-Термические системы" возникла задолженность перед ООО
                | "БВБ-Альянс" в размере 3 266 160,45 рублей. Хотим предупредить Вас о неблагонадежном покупателе ООО
                | "РМНТК-Термические системы".
            p.text.text-fs14.text--gray На все обращения с нашей стороны о регулировании вопроса о погашении долга, дают
                |ответ:"нет денег". И переносят дату выплаты.
            p.text.text-fs14.text--gray С нашей стороны уже готовятся документы в арбитражный суд о взыскании
                | задолженности в принудительном порядке.
        .black-list__partners
            h3.text ООО «БЫСТРОРЕЗ» ИНН 7718302138
            p.text.text-fs14.text--gray Мы произвели закуп 24 марта 2016 года сплава Р6М5К5 на сумму 315 000 рублей у
                | компании ООО «БЫСТРОРЕЗ» ИНН 7718302138. По данному счету компанией ООО «БЫСТРОРЕЗ» ИНН 7718302138
                | произвела доставку бракованного товара. По факту выявления брака мы провели процедуру возврата и
                | замены на требуемую продукцию.  Новый счет, оформленный ООО «БЫСТРОРЕЗ» ИНН 7718302138, от 28 марта
                | 2016 года был уже на сумму 297 000 рублей. На основании последнего счета нам привезли замену,
                | НО при проведении химического анализа- марка стали не соответствовала сплаву Р6М5К5. Мы вновь оформили
                | возврат. Компания ООО «БЫСТРОРЕЗ» ИНН 7718302138 признала брак и подписала соответствующие документы
                | на возврат товара и суммы 297 000 рублей уплаченной за заказ компанией ООО «БВБ-Альянс».
            p.text.text-fs14.text--gray Директор компании Татьяна в начале обязалась осуществить возврат согласно
                | подписанным документам, но каждый раз процедура возврата переносилась. Теперь Татьяна не выходит на связь.
            p.text.text-fs14.text--gray Руководитель компании Казанов Аркадий Александрович (ИНН: 501100273670 не выходит на связь.
            p.text.text-fs14.text--gray Иск по данному договору уже оформлен и передан на рассмотрение в суд.
            p.text.text-fs14.text--gray При проверке выявилось, что у Казанова Аркадия Александровича (ИНН: 501100273670)
                | есть еще ряд зарегистрированных на него предприятий с одной сферой деятельности. Остерегайтесь их!:
            p.text.text-fs14.text--gray Сайт недобросовестного поставщика «БЫСТРОРЕЗ»:
                a(href="").link  http://www.str6m5.ru/main/company
        .black-list__cards
            img(src="src/assets/img/black-partner-1.png")
            img(src="src/assets/img/black-partner-2.png")
            img.mr-0(src="src/assets/img/black-partner-3.png")





