.cart
    .section
        div.cart__wrapper
            h1.text Корзина
            .cart__list
                .cart__basket-list
                    .cart__basket-card
                        .basket-card
                            img(src="src/assets/img/card-product.png")
                            .basket-card__table
                                .basket-card__line-header
                                    .text.text-fs16.text--black Рениевые заготовки
                                svg.cart__icon
                                    use(xlink:href="/src/assets/icons.svg#close")
                                .table-info
                                    .basket-card__line-size
                                        .basket-card__size
                                            p.text.text-fs13.text--light А:
                                            span.text.text-fs13.text--orange 0.8
                                        .basket-card__size
                                            p.text.text-fs13.text--light B:
                                            span.text.text-fs13.text--orange -
                                        .basket-card__size
                                            p.text.text-fs13.text--light C:
                                            span.text.text-fs13.text--orange -
                                    .basket-card__line-info
                                        .text-info
                                            .basket-card__info
                                                p.text.text-fs14.text--light ГОСТ/ТУ:
                                                span.text.text-fs14.text--light-black ТУ 48-19-250-88
                                            .basket-card__info
                                                p.text.text-fs13.text--light Марка:
                                                span.text.text-fs13.text--light-black МР-47ВП
                                        input.basket-card__field.field
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек для труб с доставкой по РФ и СНГ. Доступные цены. Коротки сроки. Высокое качество.
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
                    .cart__basket-card
                        .basket-card.basket-card--service
                            svg.cart__icon
                                use(xlink:href="/src/assets/icons.svg#close")
                            .text.text-fs16.text--md
                                | Услуга
                                span.basket-card__service.text-fs14.text--md Производство заглушек
                            br
                            .text.text-fs12
                                | Производство заглушек
        .cart__form.cart--gray
            .text.text-fs18.text--bold Оформление заказа
            form.form-order
                .form-order__list
                    .form-order__field
                        label.text.text-fs14(for="name") Ваше имя
                        input.field.form-order__input(placeholder='Иван' id="name" type="text")
                    .form-order__field
                        label.text.text-fs14(for="phone") Ваш телефон
                        input.field.form-order__input(placeholder='+7 (___) ___-__-__' id="phone" type="phone")
                    .form-order__field
                        label.text.text-fs14(for="email") Ваш e-mail
                        input.field.form-order__input(placeholder='E-mail' id="email" type="email")
                    .form-order__field
                        label.text.text-fs14(for="comment") Ваш комментарий
                        textarea.field.text.text-fs14(placeholder='Текст' id="comment")
                .text.text-fs14
                    | Нажимая кнопку оформить, вы принимаете &nbsp;
                    a.link(href='politics.html' target="_blank") условия конфиденциальности
                .cart__btn
                    .btn.text.text-fs14.text--white Оформить



