-
    const category = {
        img: "src/assets/img/renii.png",
        text: "Рениевый прокат в две длинных строки"
    };

    let listOfCategories = [1, 2, 3, 4, 5, 6];

    let cities = [
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'},
    {name: 'Санкт-Петербург', link: '#'}
    ];

.categories
    .section
        h1 Цветной прокат
        .categories-list
            each el in listOfCategories
                .categories-item
                    include ../mixins/card-category
                    +card-category(category)
            .categories__btn
                .btn
                    | Показать 12 и 36
        h2.text Цветной металлопрокат
        .categories-geo_info.block-text
            p.text.text--gray Мы реализуем цветной металлопрокат в Екатеринбурге, Москве, Тюмени, Сургуте, Новосибирске, Казани, Владивостоке.  Сделать заявку на приобретение продукции, уточнить актуальную стоимость и условия покупки вы можете по городским телефонам офисов продаж в Вашем городе:
            ul.list
                li
                    p.text.text-fs14 Москва
                    a.text.text-fs14(href="tel: +74994902031") +7(499)490-20-31(32)
                li
                    p.text.text-fs14 Екатеринбург
                    a.text.text-fs14(href="tel: +7(499)490-20-31") +7(499)490-20-31(32)
                li
                    p.text.text-fs14 Тюмень
                    a.text.text-fs14(href="tel: +73452578153") +7(3452)57-81-53
                li
                    p.text.text-fs14 Казань
                    a.text.text-fs14(href="tel: +78432023549") +7(843)202-35-49
                li
                    p.text.text-fs14 Новосибирск
                    a.text.text-fs14(href="tel: +73833832321") +7(383)383-23-21
                li
                    p.text.text-fs14 Сургут
                    a.text.text-fs14(href="tel: +73462980291") +7(3462)98-02-91
                li
                    p.text.text-fs14 Владивосток
                    a.text.text-fs14(href="tel: +74232492651") +7(423)249-26-51
    .divider.block-text
        .divider-content
            p.text.text-fs14.text--black Все вопросы по поставкам металлопродукции в другие регионы России, наличию товара на складах и ассортименту можно задать по бесплатному телефону
                =" "
                a(href="tel: +78005559154").text.text-fs14.text--bold
                    nobr 8(800)-555-91-54
                | .
    .section.block-text
        h2.text.pt-2 Мы реализуем такие популярные позиции цветного проката, как:
        ul.list.links.all-links
            li.link
                a(href="").text.text--orange.text-fs14 алюминиевый лист
            li.link
                a(href="").text.text--orange.text-fs14 алюминиевая лента
            li.link
                a(href="").text.text--orange.text-fs14 алюминиевая полоса
            li.link
                a(href="").text.text--orange.text-fs14 медная проволока
            li.link
                a(href="").text.text--orange.text-fs14 медная лента
            li.link
                a(href="").text.text--orange.text-fs14 латунный лист
            li.link
                a(href="").text.text--orange.text-fs14 бронзовые втулки
        .categories-info
            img(src='/src/assets/img/colour-metal.png')
            div
                p.text.text-fs14.text--gray Цветные металлы и сплавы -  группа металлов и их соединений, обладающих уникальными физико-химическими свойствами.  Цветные металлы зачастую выступают в качестве легирующих компонентов или раскислителей сталей и чугунов. Введение металла изменяет технологические и эксплуатационные свойства стали.
                p.text.text-fs14.text--gray Одними из самых известных и распространенных сплавов цветных металлов являются
                    =" "
                    a(href="#").link.text--orange.text-fs14 латунь
                    =" "
                    | и
                    =" "
                    a(href="#").link.text--orange.text-fs14 бронза
        h2.text Цветные стали
        .cat-block_info
            p.text Одним из самых востребованных способов обработки стали является легирование. С начала пользования
                | металлами в качестве орудий труда и попытками их обработать, человечество познакомилость с "природными"
                | легированными сталями. Так, например, метеоритное железо, пользовавшееся популярностью еще во времена
                | Средневековья, содержит около 8% никеля. Вулканичексое железо, из котрого ковались знаменитые самурайские мечи,
                | содержало в себе молибден Промышленный способ легирования был впервые освоенчеловеком только  в 1882 году,
                | ввиду сложности самого процесса.
            img(src='/src/assets/img/metalls.png')
            h2.text Классификация
            p.text На сегодняшний момент существует несколько классификаций цветных сталей. Одной из них считается разделение сталей по физическим свойствам:
            ul.list
                li
                    p.text Шарикоподшипниковые стали.
                        =" "
                        span.text.text--light Это стали, стабилизированные хромом. Имеют буквенную и цифровую маркировку: "ШХ" + % содержание хрома в тысячных долях массы.
                li
                    p.text Быстрорежущие стали
                        =" "
                        span.text.text--light Имеют буквенную и цифровую маркировку: "Р"+ % содержание вольфрама.
                li
                    p.text Автоматные стали
                        =" "
                        span.text.text--light Имеют буквенную маркировку "А" и др.
            h2.text Цветные металлы и сплавы
            p.text Одними из самых распространенных в использовании металлов и сплавов цветной группы являются алюминий, титан, латунь, бронза и медь. Способы применения зависит от физико-технологических свойств, которые могут существенно различаться у различных  сплавов или металлов.
            p.text Часть цветных металлов обладает хорошей электропроводностью и используется в электротехнике и электроэнергетике при создании схем и электроприборов.
            p.text Определенная группа цветных металлов демонстрирует отличную теплопроводность, что находит применение в создании систем отопления и отопительныхприборов.
            p.text Все цветные металлы имеют отличные антикоррозионные качества, что позволяет эффективно использовать продукцию, увеличивая ее срок эксплуатации.
            p.text Бронзовые сплавы, например, используются в производстве трубопроводной арматуры и фитинговых систем, а сплавы меди являются оптимальным альтернативным материалом для стальных труб.
            p.text К основным физическим характеристикам цветных металлов относят:
            p.text - пластичность. Медь, латунь, алюминий имеют высокую степень пластической деформации, что широко используется на производстве.
            p.text -малый удельный вес.Благодаря легкости и долговечности металлоконструкции из алюминия находят применение в строительстве и авиаконструировании.
            p.text -прочность.Легкий и высокопрочный титан применяется в авиационной, судостроительной и космической промышленности.
        #accordion-list.categories-services
            .categories-services__item.gray
                .accordion.border-0.collapsed(type='link', data-toggle='collapse', data-target='#accordionItemOne', aria-expanded='true', aria-controls='accordionItemOne')
                    h2.accordion__title.text Доставка
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #accordionItemOne.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .accordion-list__list
                    p.text Наша компания осуществляет доставку цветного
                        =" "
                        a(href="#") металлопроката
                        |  по всей территории Российской Федерации. Организацией доставки занимается наш менеджер. Стоимость доставки рассчитывается отдельно.
            .categories-services__item.gray
                .accordion.border-0.collapsed(type='link', data-toggle='collapse', data-target='#accordionItemTwo', aria-expanded='true', aria-controls='accordionItemTwo')
                    h2.accordion__title.text Сервис
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #accordionItemTwo.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .accordion-list__list
                        p.text Вы можете заказать у нас все виды металлообработки - резку, рубку, гальванику, защитные покрытия, гибку металла.
                        p.text Также в нашей компании вы можете получить бесплатную консультацию по маркам проката.
                        p.text Возможно, вас заинтересуют
                            =" "
                            a(href="#") черный прокат
                            | ,
                            =" "
                            a(href="") нержавеющий прокат
                            | .
            .categories-services__item
                .accordion.border-0.collapsed(type='link', data-toggle='collapse', data-target='#accordionItemThree', aria-expanded='true', aria-controls='accordionItemThree')
                    h2.accordion__title.text Условия продажи
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #accordionItemThree.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .accordion-list__list
                        ul.list.list--sm
                            li Реализация металлоизделий оптом и в розницу
                            li Оплата безналом, наличными средствами
                            li Возможность отсрочки платежей
                            li Бесплатные консультации наших специалистов
                            li Оказываем услуги упаковки товара по требованиям заказчика
                            li Готовы произвести продукцию любой сложности на заказ по чертежам заказчика
            .categories-services__item
                .accordion.border-0.collapsed(type='link', data-toggle='collapse', data-target='#accordionItemFour', aria-expanded='true', aria-controls='accordionItemFour')
                    h2.accordion__title.text Условия доставки
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #accordionItemFour.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .accordion-list__list
                        ul.list.list--sm
                            li Доставка металлопроката и другой продукции осуществляется с ближайшего склада, где товар имеется в наличии
                            li При необходимости мы можем предоставить услугу ответхранения
                            li Готовы предоставить скидку на на доставку согласно условиям партнерских программ транспортных компаний
                            li Имеется свой автопарк
                            li Также есть возможность самовывоза товаров со складов
            .categories-services__item
                .accordion.border-0.collapsed(type='link', data-toggle='collapse', data-target='#accordionItemFive', aria-expanded='true', aria-controls='accordionItemFive')
                    h2.accordion__title.text Гарантии
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #accordionItemFive.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .accordion-list__list
                        ul.list.list--sm
                            li Вся продукция сертифицирована, отпускается после технологического контроля
                            li Весь реализуемый металлопрокат соответствует ГОСТ и ТУ
                            li Есть возможность возврата товара в соответствии с законодательством Российской Федерации
            .categories-services__item
                .accordion.border-0.collapsed(type='link', data-toggle='collapse', data-target='#accordionItemSix', aria-expanded='true', aria-controls='accordionItemSix')
                    h2.accordion__title.text Контакты в Москве
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #accordionItemSix.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .accordion-list__list
                        ul.list.list--sm
                            li Физический адрес: Москва, проспект Маршала Жукова 1, к.1 оф 428
                            li Оформить заявку через формы на сайте или написать нам на e-mail msk@bvb-alyans.ru
                            li Также вы можете позвонить нам с 9:00 до 18:00 по телефону +7(499)490-20-31
                            li Или на бесплатную линию для регионов 8-800-500-32-74 Задать вопрос в чате JivoSite
    include ../mixins/cities
    .categories-cities
        h2 Цветной прокат в других городах
        .categories-cities__list
            +cities(cities)