-
    const category = {
        img: "src/assets/img/renii.png",
        text: "Рениевый прокат в две длинных строки"
    };

    let listOfCategories = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17];

.categories-list-page
    .section
        h1 Продукция
        a(href="categories.html")
            h2 Цветной прокат
        .categories-list-page__cards
            each el in listOfCategories
                .categories-list-page__card
                    include ../mixins/card-category
                    +card-category(category)
        a(href="categories.html")
            h2 Руда
        .categories-list-page__cards
            each el in listOfCategories
                .categories-list-page__card
                    include ../mixins/card-category
                    +card-category(category)
