.clients
    .section
        h1 Информация для клиентов
        h2 Качество
        p.text.text-fs14.text--gray Один из важнейших пунктов внутренней политики компании «БВБ-Альянс» - точное следование всем стандартам качества реализуемой продукции и поддержание сервиса на максимально высоком уровне. В первую очередь, мы заботимся об интересах наших клиентов, вот почему, вся предлагаемая нами продукция проходит проверки качества и соответствует требованиям заказчика.
        img(src="src/assets/img/worker.png")
        h2 Производство и логистика
        p.text.text-fs14.text--gray.pb-4 Производство и логистика Благодаря самым высококачественным ресурсам и передовым технологиям, мы смогли оптимизировать процессы обработки металла и производства профнастила и довести их до совершенства. Кроме этого, благодаря собственному автопарку, мы можем доставить ваш заказ в минимальные сроки, с учетом всех ваших пожеланий и предложений.
        h2 Индивидуальный подход
        p.text.text-fs14.text--gray.pb-4 Мы полностью открыты для сотрудничества. Если вы хотите приобрести продукцию, вы можете выбрать товары, из имеющихся на складе, или сделать индивидуальный заказ. Вы можете быть полностью уверены в том, что каждая заявка будет рассмотрена в индивидуальном порядке и для вас будет разработана персональная спецификация на продукцию. Сотрудники нашей компании проводят доскональный анализ всех поступающих заказов, и пытаются найти наиболее подходящее решение для каждого.
        h2 Мы беремся за выполнение любого заказа.
        p.text.text-fs14.text--gray.pb-4 Для вас мы сможем найти даже самые редкие стали и сплавы. Наша компания готова предложить вам продукцию самого высокого качества и отличный сервис. Именно соответствие высоким стандартам качества во всех сферах нашей деятельности выделяет «БВБ-Альянс», позволяя на равных конкурировать с лучшими поставщиками на рынке металлопроката.
        h2 Логистика
        p.text.text-fs14.text--gray Система логистики «БВБ-Альянс» построена таким образом, чтобы транспортные издержки были сведены к минимуму, а наши клиенты могли самостоятельно выбирать для себя оптимальный вариант транспортировки продукции. Наряду с этим эффективность осуществления перевозок позволяет нам:
        .clients-cards
            .clients-card
                svg
                    use(xlink:href="/src/assets/icons.svg#exclamation-sign")
                .text.text-fs12.text--black Cнизить риски в сфере логистики
            .clients-card
                svg
                    use(xlink:href="/src/assets/icons.svg#planet-plane")
                .text.text-fs12.text--black Уменьшить сроки доставки
            .clients-card
                svg
                    use(xlink:href="/src/assets/icons.svg#wallet")
                .text.text-fs12.text--black Сократить расходы заказчиков
        h2 Преимущества сотрудничества с нами:
        p.text.text-fs14.text--gray «БВБ-Альянс» по праву считается надежным поставщиком металлопроката на российском рынке. И этому есть несколько причин:
        .clients-cards
            .clients-card
                svg
                    use(xlink:href="/src/assets/icons.svg#travel")
                .text.text-fs12.text--black Доставка товара происходит в кратчайшие сроки, так как на складе постоянно имеется готовая продукция.
            .clients-card
                svg
                    use(xlink:href="/src/assets/icons.svg#rocket")
                .text.text-fs12.text--black При обработке металла используется современное оборудование.
            .clients-card
                svg
                    use(xlink:href="/src/assets/icons.svg#clock")
                .text.text-fs12.text--black Сроки проведения обработки сведены к минимуму.
        p.text.text-fs14.text--gray.pb-4 Отдельно стоит упомянуть возможность получить отсрочку платежа (до 30 дней), а также программу лояльности. Что это такое? Клиенты «БВБ-Альянс» могут получить скидку при оплате заказа или услуги доставки.
        h2 Статьи
        ul.list
            li
                a(href="#").link Памятка клиентам
            li
                a(href="black-list").link Черный список недобросовестных поставщиков


