-
    let cities = [
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'}
    ];

.contacts
    .section
        .contacts__block
            .contacts-info
                h1 Контакты
                .contacts-info__list.contacts-info__list--border
                    .contacts-info__title.text--gray Наши адреса:
                    .contacts-info__row
                        p.text.text-fs14.text--gray Телефон:
                        a(href="tel: +74994902031") +7 (499) 490-20-31
                    .contacts-info__row
                        p.text.text-fs14.text--gray Адрес:
                        p.text.text-fs14.text--light-black Пр. Маршала Жукова 1, к.1 оф 428
                    .contacts-info__row
                        p.text.text-fs14.text--gray Склад:
                        p.text.text-fs14.text--light-black г.Электросталь, Криулинский проезд, д.5
                .contacts-info__list
                    .contacts-info__title.text--gray Почта для отзывов и предложение:
                    .contacts-info__row
                        p.text.text-fs14.text--gray Россия
                        a(href="mailto: info@bvb-alyans.ru") info@bvb-alyans.ru
                    .contacts-info__row
                        p.text.text-fs14.text--gray Москва и обл.
                        a(href="mailto: msk@bvb-alyans.ru") msk@bvb-alyans.ru
                    .contacts-info__row
                        p.text.text-fs14.text--gray Тюмень, ХМАО, ЯНАО
                        a(href="mailto: tmn@bvb-alyans.ru") tmn@bvb-alyans.ru
                    .contacts-info__row
                        p.text.text-fs14.text--gray Казань
                        a(href="mailto: kazan@bvb-alyans.ru") kazan@bvb-alyans.ru
                    .contacts-info__row
                        p.text.text-fs14.text--gray Сургут
                        a(href="mailto: surgut@bvb-alyans.ru") surgut@bvb-alyans.ru
                    .contacts-info__row
                        p.text.text-fs14.text--gray Владивосток
                        a(href="mailto: vld@bvb-alyans.ru") vld@bvb-alyans.ru
                    .contacts-info__row
                        p.text.text-fs14.text--gray Новосибирск
                        a(href="mailto: nsk@bvb-alyans.ru") nsk@bvb-alyans.ru
            .contacts-map
                iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Ad604c597fcd5445c95abbef6faffaf22f3da29dcc0a527089d23e2d9d33835eb&source=constructor', width='100%', height='100%', frameborder='0')
                button.hide.btn.btn--rnd
                        p.hide Скачать реквизиты
                        svg
                            use(xlink:href="/src/assets/icons.svg#download")


        h2.text--light-black.hide Реквизиты компании московского филиала
        .contacts-requisites
            .contacts-requisites__row
                p.text.text-fs14.text--gray Название организации
                p.text.text-fs14.text--light-black ООО БВБ-Альянс-Москва
            .contacts-requisites__row
                p.text.text-fs14.text--gray Юридический адрес
                p.text.text-fs14.text--light-black 123308, г.Москва пр.Маршала Жукова, дом 1, строение 1, антр 2 пом l к 31
            .contacts-requisites__row
                p.text.text-fs14.text--gray Почтовый адрес
                p.text.text-fs14.text--light-black 123308, г.Москва пр.Маршала Жукова, дом 1, строение 1, антр 2 пом l к 31
            .contacts-requisites__row
                p.text.text-fs14.text--gray Телефон
                p.text.text-fs14.text--light-black +7 (499) 490-20-21, +7 (499) 490-20-22
            .contacts-requisites__row
                p.text.text-fs14.text--gray ИНН
                p.text.text-fs14.text--light-black 77344000090
            .contacts-requisites__row
                p.text.text-fs14.text--gray КПП
                p.text.text-fs14.text--light-black 1177746131815
            .contacts-requisites__row
                p.text.text-fs14.text--gray ОГРН
                p.text.text-fs14.text--light-black kazan@bvb-alyans.ru
            .contacts-requisites__row
                p.text.text-fs14.text--gray Р/с
                p.text.text-fs14.text--light-black surgut@bvb-alyans.ru
            .contacts-requisites__row
                p.text.text-fs14.text--gray К/с
                p.text.text-fs14.text--light-black vld@bvb-alyans.ru
            .contacts-requisites__row
                p.text.text-fs14.text--gray БИК
                p.text.text-fs14.text--light-black nsk@bvb-alyans.ru
            .contacts-requisites__row
                p.text.text-fs14.text--gray Банк
                p.text.text-fs14.text--light-black nsk@bvb-alyans.ru
        include ../mixins/cities
        .contacts__cities
            h2 Адреса других наших офисов смотреть здесь
            +cities(cities)


