.delivery-page
    .section
        h1 Доставка
        .text.text-fs18.text--orange.pb-4 Со склада в г. Москва
        .text.text-fs18.text--gray.pb-3.pb-md-3 Поставки металлопроката с БВБ-Альянс - это просто!
        .delivery-page__content
            p Наша компания сотрудничает с крупнейшими транспортными компаниями, кроме того имеет собственную логистическую систему, что позволяет нам найти индивидуальное решение для каждого клиента. При желании клиент может оставить на хранение приобретенный или ввезенный металлопрокат на площадях компании «БВБ-Альянс», которые находятся под круглосуточной охраной. Причем все условия будут оговорены в договоре. Например, ответственность сторон и стоимость данной услуги.
        .delivery-page__card
            img(src="src/assets/svg/delivery-line.svg")
            p.text.text-fs16.text--light.text--gray Мы являемся золотыми партнерами транспортной компании "Деловые линии" - доставка через нашу компанию обходится на 10% дешевле!
        .row.delivery-page__images
            img(src="src/assets/img/delivery-1.png")
            img(src="src/assets/img/delivery-2.png")
        h2 Наши Склады
        .delivery-page__info
            .text.text-fs18.text--gray Основные характеристики склада «БВБ-Альянс»
            ul.list
                li.text.text-fs16 Общая площадь склада – 90000 кв.м.
                li.text.text-fs16 Общая площадь склада – 90000 кв.м.
                li.text.text-fs16 Общая площадь склада – 90000 кв.м.
                li.text.text-fs16 Общая площадь склада – 90000 кв.м.
                li.text.text-fs16 Общая площадь склада – 90000 кв.м.
        .d-flex.align-items-center.mb-4
            svg.geo
                use(xlink:href="/src/assets/icons.svg#geo")
            .text.text-fs16 Город Электросталь, Криулинский проезд, дом 5.
        h2 Обратная связь
        .row.delivery-page__call-block
            .call-block
                p.text.text-fs16.text--gray Телефон
                a(href="tel: +78005003274")
                    p.text.text-fs18.text--orange 8(800)500-32-74
                p.text.text-fs14.text--gray.mb-0 (звонок из регионов России бесплатный)
            .call-block
                p.text.text-fs16.text--gray Электронная почта:
                a(href="mailto: 8msk@bvb-alyans.ru")
                    p.text.text-fs18.text--orange 8msk@bvb-alyans.ru
                p.text.text-fs14.text--gray.mb-0 (звонок из регионов России бесплатный)
