.express-analysis
    .section
        h1.text--light-black Экспресс-анализ металлов и сплавов
        .divider
            .divider-content
                p.text.text-fs14 По техническим причинам временно не предоставляем услугу. Приносим свои извинения за доставленные неудобства.
        h2 Почему именно у нас? Смотри!
        ul.list
            li Больше не нужно отрезать образцы для предоставления их в лабораторию.
            li Наш специалист сам приедет к вам.
            li Время анализа- от 2 до 5 мин.
            li Не оставляет следов на поверхности исследуемого образца.
            li Анализ 33 элементов от магния (Mg) до урана (U), включая серу (S), фосфор (P), алюминий (Al), марганец (Mn), кремний (Si), в цветных и черных металлах.
            li Без определения углерода (С)
            li Подтверждение марок сталей, сортировка цветного и легированного лома.
            li Определение содержания драгоценных металлов в сплавах.
        .exa-tool.separate-ln
            h3.text--light-black Оборудование
            .exa-tool__row
                img.exa-tool__img(src="src/assets/img/stuff.png")
                .text.text-fs14.text--md Анализ с помощью рентгенофлуоресцентного спектрометра X-Met 7500
            ul.list.exa-tool-gap
                li Прибор имеет Свидетельство об утверждении типа средств измерений РФ №46758 и Cвидетельство о поверке № 652348, действительно до 13.01.2016
                li.mb-0 Одновременное определение до 33 элементов отмагния (Mg)до урана (U), включая лёгкие элементы, такие как: алюминий (Al), кремний (Si), сера (S), фосфор (P)в диапазоне от 0 до 100%
            .exa-tool__row.gap
                img.exa-tool__img(src="src/assets/img/stuff-two.png")
                .text.text-fs14.text--md Анализ с использованием портативного динамического твердомера Equotip Bambino
            ul.list
                li Возможность определения марки сплава в явном виде с указанием элементов, содержание которых не вписывается в диапазон, регламентированный стандартом
                li.mb-0 Метод фундаментальных параметров (математический расчёт, исходя из общего содержания элементов — 100%)
        h3.list--gap.separate-ln Вы получаете
        ul.list.receive
            li Заключение спектрального анализа о химическом составе образца на фирменном бланке
            li Акт выполненных работ
            li Счёт-фактура
            li Копия свидетельства об утверждении типа средства измерения в реестре РФ
            li Копия свидетельства о поверке
            li Копия сертификата соответствия системы менеджмента качества на оказание услуг спектрального анализа
        h3.separate-ln.gap Способы оплаты
        .exa-payment
            ul.list.list--gap
                li Наличный расчет
                li Безналичный расчет
            .exa-payment__block
                img.visa(src="src/assets/svg/visa.svg")
                img.mastercard(src="src/assets/svg/mastercard.svg")
                img.webmoney(src="src/assets/svg/webmoney.svg")
                img.yandex(src="src/assets/svg/yandex.svg")
        .exa-info
                h2 Заинтересовались?
                p.text.text-fs14.text--light-black Вы можете позвонить
                    |#[br]
                    a(href="tel: +73432887715").text--orange +7 (343) 288-77-15
                    |#[br] или мы сами позвоним вам
        .exa-call
            h2 Экспресс-анализ металлов и сплавов
            p Вы можете добавить к заказу данную услугу наряду с металлургической продукцией - и наш менеджер свяжется с вами после оформления
            .service-detail__btn(data-toggle='modal', data-target='#modalCartService')
                .btn Заказать услугу

