-
    let gosts = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

.gost
    .section
        h1.text.text--md ГОСТы и технические условия
        .gost__form
            .gost-filter
                input.gost-filter__input(placeholder='Введите ГОСТ или ТУ')
                .gost__btn
                    .btn.btn--rnd Фильтр
        h2.text.text--md ГОСТы
        .gost__cards
            each val in gosts
                .gost__card
                    a(href="gost-names.html").gost-card
                        .text.text--orange.gost-card__text.gost-card__text--lg a3
                        .text.text-fs12.gost-card__text Металлические ископаемые (руды)
        .gost__btn.js-btn
            .btn.btn--rnd.btn--white Все ГОСТы
    .section
        h2.text.text--md Материалы
        .gost__form
            .gost-filter
                input.gost-filter__input(placeholder='Введите ГОСТ или ТУ')
                .gost__btn
                    .btn.btn--rnd.btn--white Фильтр
        .gost__list
            ul.list
                li
                    a(href="#") Драгоценные металлы и сплавы kjhkjhkjhk kjhkjhkjhkj kjhkjhkjhkj kjhkjhkjh kjhkjhkjh
                each val in gosts
                    li
                        a(href="#") Драгоценные металлы и сплавы

