-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

.gost-list
    .section
        h1 В82 Отливки стальные
        .gost-list__list
            a(href="gost-table.html")
                p ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-table.html")
                p ГОСТ 1-80059-83 Литье по выплавляемым моделям из углеродистых и легированных сталей. Технические условия
            a(href="gost-table.html")
                p ГОСТ 977-88 Отливки стальные. Общие технические условия