.gost-table
    .section
        h1 Сервисные услуги по резке металла и металлообработке
        .gost-table-content
            p Мы предлагаем широкий ассортимент продукции ГОСТ 212-76. Наша компания поставляет только высококачественный металлопрокат с доставкой по РФ и СНГ. Все вопросы вы можете задать нашим менеджерам по телефону 8(800)-555-91-54 или отправить заявку на электронную почту info@bvb-alyans.ru.
        .gost-table__table
            include ../components/tables/table
        .gost-table-content
            p.mb-0 Мы предлагаем широкий ассортимент продукции ГОСТ 212-76. Наша компания поставляет только высококачественный металлопрокат с доставкой по РФ и СНГ. Все вопросы вы можете задать нашим менеджерам по телефону 8(800)-555-91-54 или отправить заявку на электронную почту info@bvb-alyans.ru.
