.gost-names-page
    .section
        h1 В82 Отливки стальные
        div.list
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия
            a(href="gost-list.html") ГОСТ 977-88 Отливки стальные. Общие технические условия

