.main-page
    .section.p-0
        .main-banner
            include ../components/carousels/main-page-carousel

    .section.hide-form
        .main-page__form
            h2.text Воспользуйтесь поиском
            .text.text-fs20 Вы можете быстро найти нужную вам позицию
            .main-page__form
                .search-form
                    input.search-form__field.field(placeholder='Название позиции')
                    .search-form__btn
                        .btn Найти
    .section.section--gray
        .main-page__specials-wrapper
            h2.text.text.text-fs18.text--bold Спецпредложения
            .text.text-fs20.hide-mb Вы можете быстро найти нужную вам позицию
            .main-page__specials
                .main-page__slider-carousel
                    include ../components/carousels/carousel-offers
    .section
        //include ../components/carousels/special-offers
        h2.text Статистика компании
        .main-page__statistics
            include ../components/carousels/carousel-statistic
            //.main-page__card-wrapper
        .main-page__slider-carousel
            slider-carousel
    .section.section--gray
        .specials-wrapper
            .trade
                h2.text Продажа металлопроката оптом
                .trade__info-block
                    .trade__column
                        .trade__header
                            .trade__title Компания «БВБ-Альянс»
                            .trade__text Поставщик металлопроката высокого качества.
                        p
                            | В нашей компании вы можете купить металлопрокат любых марок стали и типоразмеров! Мы предлагаем доступные цены на металлопрокат, быструю доставку, услуги металлообработки и анализа металла.
                            br
                            br
                            | Качество реализуемой продукции подтверждено сертификатами.
                        .trade__call-block
                            .trade__title Звоните нам из любого города!
                            p Звонки бесплатны на номера:
                            .trade__info
                                p В регионах:
                                span.text 8(800)-555-91-54
                            .trade__info
                                p В Москве:
                                span.text 8(800)-500-32-74
                            .trade--left
                                .trade__title Ждем заявок на почту:
                                a.link.trade__link(href='') info@bvb-alyans.ru
                    .trade__column.trade__column--md
                        //.trade-img
                        include ../components/gallery-docs
                .trade-accordion.text.text--light Читать полностью
                    .trade-accordion__btn(data-toggle='collapse', href='#collapse', role='button', aria-expanded='false', aria-controls='collapse')
                        svg
                            use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapse.collapse
                    .trade__content
                        .trade__column
                            .trade__title Продажа металла
                            p
                                | Наша компания уже более 11 лет активно развивается в сфере металлоторговли. Мы прошли путь от небольшой фирмы, осуществляющей разовые поставки металла, к высокотехнологичной компании полного цикла, осуществляющей свою деятельность на территории всей России и СНГ.
                                br
                                | Развитая сеть филиалов и складов в экономически значимых регионах нашей страны и стран СНГ позволяет нам осуществлять оперативные поставки металлопродукции и удовлетворять спрос потребителей металлопроката в полном объеме. Мы готовы не только поставить рядовые позиции металлопроката, но и изготовить изделия любой сложности, любого размера, из самых редких сталей и сплавов - согласно точным данным из спецификаций.
                                br
                                br
                                | Основа нашего успеха – комплексное партнерство с потребителем. Наша цель – предоставление промышленным предприятиям России и СНГ оптимальных технических и эффективных экономических решений в поставке металлов и сплавов, разработке и производстве сборочных единиц, технологической оснастки, узлов и деталей.
                                br
                                br
                                | На данный момент функционируют офисы продаж в Центральном регионе, на территории Поволжья, на Урале, в Сибири,
                                br
                                | на Дальнем Востоке, в Казахстане.
                        .trade__column.trade__column--md
                            .trade__title Услуги металлообработки и производства
                            p
                                | В цехах компании "БВБ-Альянс" в Екатеринбурге, Новосибирске, Тюмени и Москве находится всё необходимое оборудование для металлообработки.
                                br
                                br
                                | Вы можете заказать у нас различные виды обработки - резку металла плазменным, лазерным и гидроабразивным методами, фрезеровку, токарные работы, гибку металла, изготовление деталей по чертежам, термообработку металлоизделий и гальваническую обработку.
                                br
                                br
                                | У нас можно заказать производство авиационного профиля, бронзовых втулок, всех видов алюминиевого проката,
                                span нержавеющих труб
                                | .
                        .trade__column
                            .trade__title Сервис и доставка
                            p
                                | Обработка заказов осуществляется в кратчайшие сроки. Поступающие заявки обрабатываются в течение рабочего дня. В штате нашей компании только профессиональные менеджеры с большим опытом работы в сфере металлопроката. Мы оказываем консультативную поддержку своих клиентов, помогая выбрать продукцию по назначению, осведомляем об особенностях марок сплавов и сталей, уточняем все параметры.
                                br
                                br
                                | Наша компания обладает собственным автопарком. Кроме того, мы сотрудничаем с рядом надежных транспортных компаний. зарекомендовавших себя на рынке грузоперевозок. Мы являемся Золотым партнером компании "Деловые Линии" - это значит, что наши клиенты получают 10% скидку на доставку металлопроката.
                                br
                                br
                                | Также мы можем предложить услуги ответхранения, располагая приобретенный у нас товар на наших складах до востребования.
                                br
                                br
                                | Отгрузка металла возможна в день оплаты товара, при условии наличия нужного товара и объема на складе.
                        .trade__column.trade__column--md
                            .trade__title Преимущества работы с ООО «БВБ-Альянс»:
                            ul
                                li
                                    p Собственные склады в крупных городах РФ.
                                li
                                    p Собственный цех производства профнастила.
                                li
                                    p Для постоянных клиентов мы можем предложить отсрочку платежа (до месяца).
                                li
                                    p Быстрая обработка заказов.
                                li
                                    p Все популярные виды металлообработки.
                                li
                                    p Услуги ответхранения на крытых складах.
                                li
                                    p Программа лояльности к постоянным клиентам - скидки при больших объемах.
                                li
                                    p Доставка во все регионы России и СНГ.
                        .trade__column
                            .trade__title ООО "БВБ-Альянс" занимается продажей
                            ul
                                li
                                    a(href="categories.html").trade__content-item Цветного проката
                                li
                                    a(href="categories.html").trade__content-item Черного проката
                                li
                                    a(href="categories.html").trade__content-item Нержавеющей стали
                                li
                                    a(href="categories.html").trade__content-item Проката специальных сталей
                                li
                                    a(href="categories.html").trade__content-item Первичных металлов
                                li
                                    a(href="categories.html").trade__content-item Профнастила
                                li
                                    a(href="categories.html").trade__content-item Стальных свай
                                li
                                    a(href="categories.html").trade__content-item Порошков
                                li
                                    a(href="categories.html").trade__content-item Сплавов
                                li
                                    a(href="categories.html").trade__content-item Полимеров
                        .trade__column.trade__column--md
                            .trade__title ООО "БВБ-Альянс" занимается продажей
                            p
                                | Вы можете приобрести металлопрокат со складов компании "БВБ-Альянс" в Москве, Екатеринбурге, Тюмени, Сургуте. Любой купленный металлопрокат доставляется по России со скидкой 10% на доставку.
                                br
                                br
                                | Все вопросы по приобретению металлопроката и доставке его в другие регионы России и СНГ можно задать по бесплатному телефону вашего региона.
                                br
                                br
                                | Покупайте металлопрокат в компании "БВБ-Альянс"!
    .main-page__news
        .news-content
            include ../components/carousels/carousel-news

//include ../components


