-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

.manufacture
    .section
        h1 Производство
        .manufacture-cards
            each val in cards
                a(href="manufacture-detail.html").manufacture-card
                    .manufacture-card__img
                        img.call-text__icon(src="src/assets/img/manufacture-card.png")
                    .c-text Производство алюминиевого проката
                        .c-text__days 1-7 дней
        .manufacture-content
            p.text Мы реализуем программу по увеличению услуг по производству металлоизделий.
