-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

.news
    .section
        h1 Все новости
        .news-cards
            each val in cards
                a(href="news-detailed.html").news-card
                    .news-card__img
                        img(src="src/assets/img/news.png")
                    p Компания «БВБ-Альянс» приняла участие в проекте по масштабному благоустройству улиц и парков Москвы.
                    span 2019-09-16
        .news__btn
            .btn Показать еще новости


