-
    let cards = [1, 2, 3]
.news-detailed
    .section
        h1 Металлические ограждения для парка Победы
        div.news-d__content
            p Компания «БВБ-Альянс» приняла участие в одном из проектов по масштабному благоустройству улиц и парков Москвы, а именно, в реконструкции парка Победы в Зеленограде. Парк Победы является центральным парком некогда отдельного города, а теперь одного из административных округов столицы. Цель благоустройства – вернуть парку его былое великолепие и подарить жителям Зеленограда живописное место для прогулок в самом центре округа.
            p Главный объект благоустройства – Большой городской пруд. Проектом реконструкции предусмотрена его очистка, укрепление береговой территории и обустройство прогулочных зон. Прогулочные набережные – главная «фишка» проекта, ведь это не совсем набережные в привычном смысле этого слова. Они представляют собой деревянные мостки на сваях, которые пролегают как вдоль пруда, так и непосредственно через его акваторию. Специально для этого проекта наша компания изготовила уникальные металлические ограждения в цехе «БВБ-Механика». Нам удалось создать лаконичные и стильные металлические конструкции, которые идеально вписались в ландшафт парка.
        .news-detailed-carousel.owl-carousel
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
            item
                .news-d__img
                    img(src="src/assets/img/specials.png")
        .main-page__news-header
            .news-header
                div Новости компании
                div Новости рынка
        .news-content
            include ../components/carousels/carousel-news


