.page-statistic
    .section
        .page-statistic__card
            h1 Открытость компании
            h2 Полное наименование
            .text.text-fs16 Общество с ограниченной ответственностью “БВБ_Альянс”
            .page-statistic__list-line
                .secion__line
                    .info-line
                        .text.text-fs18.text--light-black ОГРН
                        .info-line.info-line__dash
                        .text--light-black 1106672021466
                .secion__line
                    .info-line
                        .text.text-fs18.text--light-black ИНН
                        .info-line.info-line__dash
                        .text--light-black 6672328481
                .secion__line
                    .info-line
                        .text.text-fs18.text--light-black КПП
                        .info-line.info-line__dash
                        .text--light-black 665801001
                .secion__line
                    .info-line
                        .text.text-fs18.text--light-black ОКПО
                        .info-line.info-line__dash
                        .text--light-black 900525466
        .page-statistic__card
            .info-card
                .info-card__card
                    img.person-card__img(src='/src/assets/img/renii.png')
                div
                    .text.text-fs16.text--bold Гизатуллин Игорь Фларитович
                    .info-card__item
                        .text.text-fs14.text--light-black Директор
                        .text.text-fs14.text--light-black ИНН: 663211743439
            .text.text-fs16.text--bold Юридический адрес
            br
            p.text.text-fs14 620028, Россия, Свердловская обл., г.Екатеринбург, ул.Кирова, 32Ак1
            ul.list
                li 1 совладелец
                li Нет дочерних организаций
                li Нет филиалов
                li Нет представительств
    .section
        .page-statistic__card-list
            .page-statistic__finance-card
                .finance-card
                    .finance-card__icon
                        .text.finance-card__number 88
                    .text.text-fs16.text--bold Высокая финансовая устойчивость
            .page-statistic__finance-card
                .finance-card
                    .finance-card__icon
                        .text.finance-card__number 98
                    .text.text-fs16.text--bold Высокая благонадежность
            .page-statistic__finance-card
                .finance-card
                    .finance-card__icon
                        .finance-card__info
                            .text.finance-card__number.finance-card__number--gap 2
                            .text.text-fs12 Класс
                    .text.text-fs16.text--bold Кредитоспособность 6,08 млн Р
    .section
        .text.text-fs18.text--bold Арбитражные дела
        .page-statistic__deals
            .page-statistic__list-deals
                .list-deals
                    p.text.text-fs18.list-deals__text.list-deals__text-gap Истец:
                    p.text.text.text-fs18.text--orange.list-deals__text
                        | 40 дел
                        span.text.text--fs16 (23 млн руб.)
            .list-deals
                p.text.text-fs18.list-deals__text.list-deals__text-gap Ответчик:
                p.text.text.text-fs18.text--orange.list-deals__text
                    | 10 дел
                    span.text.text--fs16 (4,3 млн руб.)
        .page-statistic__graph
        .text.text-fs18.text--bold Источники данных
        .page-statistic__article.text.text-fs16
            | Формы финансовой отчености организаций собраются из открытых источников и отображена
        .page-statistic__btn.btn На этом сайте
