.politics
    .section
        h1 Политика в отношении обработки персональных данных
        p Редакция, действующая с 01 апреля 2017 года
        p Настоящая Политика в отношении обработки и защиты персональных данных (далее – «Политика») принята и действует в ООО «БВБ-Альянс» расположенной по адресу г. Екатеринбург, ул. Кирова, 32а, корпус 1.
        p Мы собираем, используем и охраняем персональные данные, которые Вы предоставляете нам при использовании наших сайтов (далее – «сайты») с любого устройства и при коммуникации с нами в любой форме, в соответствии с данной Политикой.
        p Используя наши сайты и предоставляя нам свои персональные данные, Вы даете согласие на обработку Ваших персональных данных в соответствии с данной Политикой.
        h2 1. Основные понятия
        p «Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу.
        p «Обработка персональных данных» – осуществление любых действий или совокупности действий в отношении Ваших персональных данных, включая сбор, запись, систематизацию, накопление, хранение, обновление и изменение, извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение, как с использованием, так и без использования систем автоматизированной обработки персональных данных.
        h2 2. Данные, которые мы собираем
        p Мы собираем:
        p - персональные данные, которые Вы предоставляете нам при заполнении информационных полей на наших сайтах, в том числе при заполнении контактной формы, при отправке заявок на продукцию, запросе обратного звонка и подписке на новостную рассылку.
        p - персональные данные и другую информацию, содержащуюся в сообщениях, которые Вы нам направляете;
        p - персональные данные, которые Вы предоставляете через наш сайт вакансий и стажировок;
        p - технические данные, которые автоматически передаются устройством, с помощью которого Вы используете наши сайты, в том числе технические характеристики устройства, IP-адрес, информация, сохраненная в файлах «cookies», которые были отправлены на Ваше устройство, информация о браузере, дата и время доступа к сайту, адреса запрашиваемых страниц и иная подобная информация;
        p - иные данные о Вас, которые Вы пожелали оставить на наших сайтах.
        h2 3. Цели обработки данных
        p Мы обрабатываем Ваши персональные данные исключительно для тех целей, для которых они были предоставлены, в том числе:
        p - предоставления Вам информации о Компании, наших товарах и услугах;
        p - коммуникации с Вами, когда Вы обращаетесь к нам;
        p - направления Вам наших новостных материалов;
        p - выполнения полномочий и обязанностей, возложенных на Компанию законодательством Российской Федерации;
        p - для других целей с Вашего согласия.
        p Мы обрабатываем технические данные для:
        p - обеспечения функционирования и безопасности наших сайтов;
        p - улучшения качества наших сайтов.
        p -Мы не размещаем Ваши персональные данные в общедоступных источниках. Мы не принимаем решений, порождающих для Вас юридические последствия или иным образом затрагивающих Ваши права и законные интересы на основании исключительно автоматизированной обработки персональных данных.
        h2 4. Ваши права
        p Обеспечение защиты Ваших прав и свобод в сфере персональных данных – важное условие работы Компании.
        p Чтобы обеспечить защиту Ваших прав и свобод, по Вашей просьбе мы:
        p - подтвердим, обрабатываем ли мы Ваши персональные данные и предоставим Вам возможность с ними ознакомиться в течение 30 дней с даты получения Вашего запроса;
        p - сообщим Вам об источнике получения и составе Ваших персональных данных, которые мы обрабатываем;
        p - сообщим Вам о правовых основаниях, целях, сроках и способах обработки Ваших персональных данных;
        p - несем необходимые изменения в Ваши персональные данные, если Вы подтвердите, что они неполные, неточные или неактуальные, в течение 7 рабочих дней с даты получения подтверждения, и уведомим Вас о внесенных изменениях;
        p - сообщим Вам об осуществленной или о предполагаемой трансграничной передаче Ваших персональных данных;
        p - сообщим Вам наименование и место нахождения организаций, которые имеют доступ к Вашим персональным данным и которым могут быть раскрыты Ваши персональные данные с Вашего согласия;
        p - сообщим Вам наименование или фамилию, имя, отчество и адрес лиц, которым с Вашего согласия может быть поручена обработка Ваших персональных данных;
        p - уведомим Вас о порядке осуществления Ваших прав при обработке нами Ваших персональных данных;
        p - исключим Вас из рассылки наших новостных материалов;
        p - прекратим обработку Ваших персональных данных в течение 30 дней с даты получения отзыва согласия, если для обработки персональных данных не будет иных правовых оснований, предусмотренных законодательством Российской Федерации;
        p - прекратим обработку Ваших персональных данных, если будет подтверждено, что мы их обрабатываем неправомерно, и уведомим Вас о предпринятых мерах;
        p - уничтожим Ваши персональные данные, если будет подтверждено, что они незаконно получены или не соответствуют заявленным целям обработки, в течение 7 рабочих дней с даты получения соответствующего подтверждения, и уведомим Вас о предпринятых мерах;
        p - ответим на Ваши вопросы, касающиеся Ваших персональных данных, которые мы обрабатываем.
        h2 5. Как Вы можете связаться с нами
        p Вы можете обратиться к нам с запросом, касающимся обработки Ваших персональных данных, направив нам письмо с темой письма «Запрос о персональных данных» (либо «Отзыв согласия на обработку персональных данных» в случае отзыва согласия на обработку персональных данных) на адрес электронной почты: info@bvb-alyans.ru или на адрес: ул. Кирова, 32А строение 1, г. Екатеринбург, 620028.
        h2 6. Безопасность персональных данных
        p Для обеспечения безопасности Ваших персональных данных при их обработке мы принимаем необходимые и достаточные правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, их уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий в отношении персональных данных.
        p В целях обеспечения адекватной защиты Ваших персональных данных мы проводим оценку вреда, который может быть причинен в случае нарушения безопасности Ваших персональных данных, а также определяем актуальные угрозы безопасности Ваших персональных данных при их обработке в информационных системах персональных данных.
        p В Компании приняты локальные акты по вопросам безопасности персональных данных. Сотрудники Компании, имеющие доступ к персональным данным, ознакомлены с настоящей Политикой и локальными актами по вопросам безопасности персональных данных.
        h2 7. Трансграничная передача персональных данных
        p Мы осуществляем передачу Ваших персональных данных на территории иностранных государств. Обеспечение безопасности Ваших персональных данных при трансграничной передаче очень важно для нас. Мы принимаем все необходимые меры для того, чтобы гарантировать конфиденциальность и безопасность Ваших персональных данных.
        p Трансграничная передача персональных данных на территорию иностранных государств, не обеспечивающих адекватной защиты персональных данных, осуществляется только с Вашего письменного согласия, либо для исполнения договора, по которому Вы являетесь стороной, а также в иных случаях, предусмотренных законодательством Российской Федерации о персональных данных.
        h2 8. Прекращение обработки персональных данных
        p Мы прекращаем обработку Ваших персональных данных:
        p - при наступлении условий прекращения обработки персональных данных или по истечении установленных сроков;
        p - по достижении целей их обработки либо в случае утраты необходимости в достижении этих целей;
        p - по Вашему требованию, если обрабатываемые персональные данные являются незаконно полученными или не являются необходимыми для заявленной цели обработки;
        p - в случае выявления неправомерной обработки персональных данных, если обеспечить правомерность обработки невозможно;
        p - по истечении срока действия Вашего согласия на обработку персональных данных или в случае отзыва Вами такого согласия, если для обработки персональных данных не будет иных правовых оснований, предусмотренных законодательством Российской Федерации;
        p - в случае ликвидации Компании.
        h2 9. Cookies
        p Мы используем файлы «cookies». Файлы «cookies» – это небольшие текстовые файлы, размещаемые на жестких дисках Ваших устройств во время использования различных сайтов, предназначенные для содействия в настройке пользовательского интерфейса в соответствии с Вашими предпочтениями.
        p Большинство браузеров позволяют отказаться от получения файлов «cookies» и удалить их с жесткого диска устройства.
        h2 10. Ссылки на сайты третьих лиц
        p На наших сайтах могут быть размещены ссылки на сторонние сайты и службы, которые мы не контролируем. Мы не несем ответственности за безопасность или конфиденциальность любой информации, собираемой сторонними сайтами или службами.
        h2 11. Изменение Политики
        p Мы можем обновлять Политику по мере необходимости. Мы рекомендуем Вам периодически проверять актуальность данной Политики. Продолжая пользоваться нашими сайтами после изменения Политики, Вы подтверждаете согласие с внесенными изменениями.
        h2 *****
        p Если у Вас остались вопросы по данной Политике, пожалуйста, свяжитесь с ответственным за организацию обработки персональных данных в Компании, направив письмо с пометкой «Запрос о персональных данных» на адрес электронной почты: info@bvb-alyans.ru или на адрес: ул. Кирова, 32А строение 1, г. Екатеринбург, 620028.
