-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

.portfolio
    .section
        h1 Портфолио
        .divider
            .divider-content
                p.text.text-fs14.text--light-black Мы можем изготовить что угодно специально для вас! Любая деталь, хоть из золота, хоть 0,1мм, хоть погонный метр!
        .portfolio-cards
            each val in cards
                a(href="portfolio-detailed.html").portfolio-card
                    .portfolio-card__img
                        img(src="src/assets/img/service-card.png")
                    .c-text Холодная штамповка
