-
    let cities = [
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'},
        {name: 'Санкт-Петербург', link: '#'}
    ];

.portfolio-detailed
    .section
        .portfolio-detailed__box
            .portfolio-detailed__gallery
                .owl-carousel-portfolio.owl-carousel.owl-theme
                    .item(data-dot="<button type='button'></button>")
                        img.js-item(src="src/assets/img/renii.png")
                    .item(data-dot="<button type='button'></button>")
                        img.js-item(src="src/assets/img/specials.png")
                    .item(data-dot="<button type='button'></button>")
                        img.js-item(src="src/assets/img/worker.png")
                .gallery-control.hide-mb
                    .gallery-cards.hide-mb
                        a
                            img(src="src/assets/img/renii.png", alt='')
                        a
                            img(src="src/assets/img/specials.png", alt='')
                        a
                            img(src="src/assets/img/worker.png", alt='')
            .portfolio-detailed__info
                h1.text Декоративные панели, закрывающие вентиляцию
                .text.text-fs14.text--gray Декоративные панели, закрывающие вентиляцию.
                    br
                    | Изготовлены из оцинкованного листа на лазерной установке
                .portfolio-detailed-btns
                    .btn.mb-3 Заказать услугу
                    .btn.btn--white Скачать опросный лист
        .consult-form
            h2 Нужна консультация специалиста?
            .consult-form__row
                .consult-form__info
                    .consult-form__icon-frame
                        img(src="src/assets/img/specials.png").consult-form__img
                    div
                        .consult-form__text.consult-form__text--gap Меня зовут Пепеляева Алиса
                        .text.text-fs14.text--center.text--gray  Оставьте ваш номер и я перезвоню вам в течении 15-ти минут
                form.consult-field
                    label.consult-field__label(for='') Ваш телефон:
                    input.consult-field__input.field(placeholder='+7 (___) ___-__-__')
                    .checkbox
                        input#filter__label-1(type='checkbox' checked)
                        label.checkbox__text(for='filter__label-1' )
                            p.text.text-fs12.text--light Я принимаю
                                =" "
                                a(href="politics.html" target="_blank").text--orange условия политики конфиденциальности
                    button.consult-field__btn(type="submit")
                        .btn Перезвонить мне
        .pd-content
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
            p Компания БВБ-альянс выполнила интересный и в тоже время очень сложный Государственный оборонный заказ на поставку контактов БрБ2 с нанесением золотого покрытия.
        include ../mixins/cities
        .portfolio-detailed__cities
            h2 Адреса других наших офисов смотреть здесь
            +cities(cities)
