.product
    .section
        .product__card
            img.product-img(src="src/assets/img/card-product.png")
        .product__content
            .product__info
                h1.text.text-fs18.text--md Рениевые заготовки в Москве
                p.text.text-fs14 В компании "БВБ-Альянс" можно купить нержавеющую плиту в г. Москва оптом. Сделать заявку на приобретение продукции, уточнить актуальную стоимость и условия покупки вы можете по телефону в Москве +7(499)490-20-31 или отправить заявку на почту msk@bvb-alyans.ru.
            .prod-labels
                .prod-labels__row
                    p.text.text-fs18.label
                        | Марка:
                        span.text.text-fs18.text--orange.pl-3(id="label") Выберите марку
                    .product__accordion
                        .accordion.text.text--light Все марки
                            .accordion__btn(data-toggle='collapse', href='#collapse', role='button', aria-expanded='false', aria-controls='collapseExample')
                                svg
                                    use(xlink:href="/src/assets/icons.svg#arrow-down")
                        #collapse.collapse
                            .prod-labels__list
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 987DDKHGGFG
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label GHGGJH45335
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label TUYTUYA9904
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                                .text.text-fs16.js-label 08Х17Н13М2Т
                .product__filters
                    .pr-filter
                        .pr-filter-reset
                            p.text.text-fs22.text--bold.text--black Фильтр
                            p.text.text-fs16 Сбросить фильтр
                            svg
                                use(xlink:href="/src/assets/icons.svg#close")
                        .pr-filter-last
                            p.text.text-fs16.pr-2 Назначение
                            .d-flex.align-items-center
                                .text.text-fs12.mr-2.label обычные
                                .text.text-fs12.mr-2.label обычные
                                .text.text-fs12.mr-2.label обычные
                                .text.text-fs12.mr-2.label обычные
                        .product__select
                            .select-product
                                .select-product__row
                                    .selector
                                        .selector__filters
                                            .select-product__field-mb.text.text--md Фильтр:
                                            .selector-collapse(data-toggle='collapse', href='#collapseFilters', role='button', aria-expanded='false', aria-controls='collapseFilters')
                                            .select-product__icon
                                        #collapseFilters.selector__filters-list.collapse
                                            .selector__item
                                                .selector__head
                                                    .selector-inn-collapse(data-toggle='collapse', href='#collapseSelector-1', role='button', aria-expanded='false', aria-controls='collapseSelector-1')
                                                    .text D
                                                    .select__icon
                                                #collapseSelector-1.collapse
                                                    .selector__list
                                                        .selector-others
                                                            p.text.text--orange Еще
                                                            svg
                                                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__label-1(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__label-1') 08Х17Н13М2Т
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__label-2(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__label-2') 08Х17Н13М2Т
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__label-3(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__label-3') 08Х17Н13М2Т
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__label-4(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__label-4') 08Х17Н13М2Т
                                            .selector__item
                                                .selector__head(data-toggle='collapse', href='#collapseSelector-2', role='button', aria-expanded='false', aria-controls='collapseSelector-2')
                                                    .text Гост
                                                    .select__icon
                                                #collapseSelector-2.collapse
                                                    .selector__list
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__size-1(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__size-1') 222х123
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__size-2(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__size-2') 222х123
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__size-3(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__size-3') 222х123
                                                        .selector__checkbox
                                                            .checkbox
                                                                input#filter__size-4(type='checkbox')
                                                                label.checkbox__text.text.text-fs14.text--light(for='filter__size-4') 222х123
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__item
                                                .selector__head
                                                    .text Гост
                                                    .select__icon
                                            .selector__btn
                                                .btn Применить
                                            p.selector__reset.text.text-fs14.text--light.text--orange Сбросить фильтр

        .product__table
            include ../components/tables/table

    .divider
        .divider-content
            p.text.text-fs12
                | * Уважаемые заказчики! Актуальная цена на рениевую фольгу в Москве формируется согласно следующим условиям: объема поставки, формы оплаты и удаленности от заказчика места отгрузки. Информация в каталоге о цене и наличии носит информационный характер и не является публичной офертой, определяемой положениями ч. 2 ст. 437 Гражданского кодекса РФ
    .section
        h2.text.text-fs18.text--md Рениевая фольга в Москве
        .text.text-fs16 Рениевая фольга – тонкокатаное изделие из рения.
        #accordion-list.accordion-list
            .accordion-list__item.accordion-list__item--lg
                .accordion.border-0
                    .accordion-collapse(type='link', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                    h3.text.text-fs16.text--md Характеристики
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseOne.accordion-list__list.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    ul.list
                        li Рений не используется в чистом виде, поэтому при производстве фольги добавляют молибден или вольфрам.
                        li Фольга из рения производится в высокотемпературных печах вакуумного типа при дуговой переплавке.
                        li При обычной температуре фольга из рения обладает плохой пластичностью, но при нагревании до +500Сгибкость фольги повышается.
                        li Рениевая фольга различается по толщине прокатки, ширине и длине листов.
                        li Рениевая фольга проявляет стойкость к агрессивным средам, сохраняет термостойкость и жаропрочность в различных температурных диапазонах.
                        li Фольга из рения обладает повышенной каталитичностью и уровнем электросопротивления
                        li Сохраняет все свои характеристики на экстремально высоких температурах с сохранением формы.
                        li Хорошо сваривается без дополнительных условий.
                        li Маркировка: ВР-27ВП
            .accordion-list__item.accordion-list__item--gray.accordion-list__item--lg
                .accordion.border-0
                    .accordion-collapse(type='link', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                    h3.text.text-fs16.text--md Применение
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseTwo.accordion-list__list.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .product-specialize
                        p.text.text-fs16 Рениевая фольга используется в авиационной промышленности, в ядерной энергетике, в производстве космической техники  и оборудования.
                        .product__call
                            p.text.text-fs14 Все вопросы по поставкам металлопродукции в другие регионы России, наличию товара на складах и ассортименту можно задать по бесплатному телефону
                            a(href="tel:+7(800)-555-91-54")
                                p.text.text--orange.text-fs16.text--md 8(800)-555-91-54
            .accordion-list__item
                .accordion.border-0
                    .accordion-collapse(type='link', data-toggle='collapse', data-target='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                    h3.text.text-fs16.text--md Условия продажи
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseThree.accordion-list__list.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    ul.list.list--sm
                        li Реализация металлоизделий оптом и в розницу
                        li Оплата безналом, наличными средствами
                        li Возможность отсрочки платежей
                        li Бесплатные консультации наших специалистов
                        li Оказываем услуги упаковки товара по требованиям заказчика
                        li Готовы произвести продукцию любой сложности на заказ по чертежам заказчика
            .accordion-list__item
                .accordion.border-0
                    .accordion-collapse(type='link', data-toggle='collapse', data-target='#collapseFour', aria-expanded='true', aria-controls='collapseFour')
                    h3.text.text-fs16.text--md Условия доставки
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseFour.accordion-list__list.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    ul.list.list--sm
                        li Доставка металлопроката и другой продукции осуществляется с ближайшего склада, где товар имеется в наличии
                        li При необходимости мы можем предоставить услугу ответхранения
                        li Готовы предоставить скидку на на доставку согласно условиям партнерских программ транспортных компаний
                        li Имеется свой автопарк
                        li Также есть возможность самовывоза товаров со складов
            .accordion-list__item
                .accordion.border-0
                    .accordion-collapse(type='link', data-toggle='collapse', data-target='#collapseFive', aria-expanded='true', aria-controls='collapseFive')
                    h3.text.text-fs16.text--md Гарантии
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseFive.accordion-list__list.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    ul.list.list--sm
                        li Вся продукция сертифицирована, отпускается после технологического контроля
                        li Весь реализуемый металлопрокат соответствует ГОСТ и ТУ
                        li Есть возможность возврата товара в соответствии с законодательством Российской Федерации
            .accordion-list__item
                .accordion.border-0
                    .accordion-collapse(type='link', data-toggle='collapse', data-target='#collapseSix', aria-expanded='true', aria-controls='collapseSix')
                    h3.text.text-fs16.text--md Контакты в Москве
                    svg
                        use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseSix.accordion-list__list.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    ul.list.list--sm
                        li Физический адрес: Москва, проспект Маршала Жукова 1, к.1 оф 428
                        li Оформить заявку через формы на сайте или написать нам на e-mail #[a(href="mailto: msk@bvb-alyans.ru").link.text--orange msk@bvb-alyans.ru]
                        li Также вы можете позвонить нам с 9:00 до 18:00 по телефону #[a(href="tel: +74994902031").link.text--orange +7(499)490-20-31]
                        li Или на бесплатную линию для регионов #[a(href="tel: +78005003274").link.text--orange 8-800-500-32-74]
                        li Задать вопрос в чате JivoSite
    .divider
        .divider-content
            h2.text.text-fs18.text--md Поставки в Москве
            p.text.text-fs14
                | Компания "БВБ-Альянс" поставит рениевую фольгу со склада в Москве в любой населенный пункт
                | Российской Федерации и в страны СНГ. Всю необходимую информацию по срокам поставки, условиям доставки
                | и ценам на продукцию вы можете уточнить по телефонам&nbsp;
                strong.text--md
                    nobr +7(499)490-20-31
                | ,&nbsp;
                strong.text--md +7(499)490-20-32.
    .product-service
        .product-service__list
            include ../components/carousels/carousel-services
        .product-service__list.gap
            include ../components/carousels/carousel-services


