.safety-store
    .section
        h1 Ответхранение
        .text.text-fs16.text--light-black В распоряжении «БВБ-Альянс» имеется собственный склад, поэтому компания предлагает услугу ответственного хранения
        img(src="src/assets/img/worker.png")
        h2.text--gray Что такое ответственное хранение?
        p.text.text-fs14.text--light.pb-4 При желании клиент может оставить на хранение приобретенный или ввезенный металлопрокат на площадях компании «БВБ-Альянс», которые находятся под круглосуточной охраной. Причем все условия будут оговорены в договоре. Например, ответственность сторон и стоимость данной услуги.
        h3.text--gray Основные характеристики склада «БВБ-Альянс»
        p.text.text-fs14.text--light.pb-4 Общая площадь склада – 4000 кв.м. Причем на участке имеется: -козловой кран, грузоподъемность которого составляет 32 тонны; -стеллаж, предназначенный для сортировки и обработки металлопроката (включая и длинномерного).
        .divider
            .divider-content
                p.text.text-fs12 Для осуществления выгрузки и погрузки грузов длиной до 25 метров клиент может воспользоваться траверсой и прочим вспомогательным оборудованием.
        h3.text--gray Месторасположение склада
        p.text.text-fs14.text--light.pb-4 Складские площади «БВБ-Альянс» находятся недалеко от железнодорожной станции. К тому же подъехать к складу сможет любой большегрузный автомобиль.
        h3.text--gray Адрес склада
        p.text.text-fs14.text--light.pb-4 Город Екатеринбург, Промзона № 1, поселок Калиновка.
    .safety-store__call
        h3 Ответхранение
        p Вы можете добавить к заказу данную услугу наряду с металлургической продукцией - и наш менеджер свяжется с вами после оформления
        .service-detail__btn(data-toggle='modal', data-target='#modalCartService')
            .btn Заказать услугу


