-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

.service
    .section
        h1 Сервисные услуги по резке металла и металлообработке
        p Мы предлагаем сервисные услуги по резке металла, Работы производим на территории наших складских комплексов в Екатеринбурге, Москве, Тюмени
        h2.mt-0 Услуги резки
        .service-cards
            each val in cards
                a(href="service-detail.html").service-card
                    .service-card__img
                        img.call-text__icon(src="src/assets/img/service-card.png")
                    .c-text Холодная штамповка
        h2 Услуги резки
        .service-cards
            each val in cards
                a(href="service-detail.html").service-card
                    .service-card__img
                        img.call-text__icon(src="src/assets/img/service-card.png")
                    .c-text Холодная штамповка

        .service-content
            p.text Если резка металла осуществляется посредством использования гильотины или, иначе говоря, гильотинных (стуловых) ножниц, на металл оказывается механическое воздействие лезвием, находящимся под высоким давлением. При этом виде рубки металла, лист разделяют одним прямолинейным резом. Гильотину можно применять для обработки металла толщиной, не превышающей 3,2 мм. Резка гильотинным методом имеет ряд преимуществ: погрешность при раскрое довольно низка и не превышает 0,5 мм, края изделий не имеют окалин и потерь материала. Так же, поперечная резка металла может осуществляться с использованием маятниковой пилы и компактного дискового станка. Резка этой технологией осуществляется благодаря вращению армированных абразивных кругов. Этот способ обработки подходит для  разрезания прутков средних размеров, а также сортового и трубного металлопроката с сечением, не превышающим 140 мм. Следующий из способов – это кислородная резка. Такая резка осуществляется за счет свойства металлов сгорать в чистом кислороде при температурах превышающих 1000 градусов.Для этого способа используется сварочная горелка, оснащенная специальным устройством для подачи кислорода на поверхность материала. Этот способ является очень распространенным благодаря тому, что кислородная резка позволяет разрезать металлы большой толщины, и кроме того, позволяет резать не только по прямой линии, но и по любому контуру. Во многих производствах, кислородная резка является  базовым элементом технологического процесса. Без нее изготовление многих металлических изделий не представлялось бы возможным.
