.service-detail
    .section
        h1 Резка гильотиной
        .article-content Мы предлагаем сервисные услуги по резке металла, Работы производим на территории наших складских комплексов в Екатеринбурге, Москве, Тюмени Мы предлагаем сервисные услуги по резке металла, Работы производим на территории наших складских комплексов в Екатеринбурге, Москве, Тюмени Мы предлагаем сервисные услуги по резке металла, Работы производим на территории наших складских комплексов в Екатеринбурге, Москве, Тюмени Мы предлагаем сервисные услуги по резке металла, Работы производим на территории наших складских комплексов в Екатеринбурге, Москве, Тюмени
        h2 Описание процесса
        .about-content
            .text Мы произвели закуп 24 марта 2016 года сплава Р6М5К5 на сумму 315 000 рублей у компании ООО «БЫСТРОРЕЗ» ИНН 7718302138. По данному счету компанией ООО «БЫСТРОРЕЗ» ИНН 7718302138 произвела доставку бракованного товара. По факту выявления брака мы провели процедуру возврата и замены на требуемую продукцию.  Новый счет, оформленный ООО «БЫСТРОРЕЗ» ИНН 7718302138, от 28 марта 2016 года был уже на сумму 297 000 рублей. На основании последнего счета нам привезли замену, НО при проведении химического анализа- марка стали не соответствовала сплаву Р6М5К5. Мы вновь оформили возврат. Компания ООО «БЫСТРОРЕЗ» ИНН 7718302138 признала брак и подписала соответствующие документы на возврат товара и суммы 297 000 рублей уплаченной за заказ компанией ООО «БВБ-Альянс». Директор компании Татьяна в начале обязалась осуществить возврат согласно подписанным документам, но каждый раз процедура возврата переносилась. Теперь Татьяна не выходит на связь. Руководитель компании Казанов Аркадий Александрович (ИНН: 501100273670 не выходит на связь. Иск по данному договору уже оформлен и передан на рассмотрение в суд. При проверке выявилось, что у Казанова Аркадия Александровича (ИНН: 501100273670) есть еще ряд зарегистрированных на него предприятий с одной сферой деятельности. Остерегайтесь их!:
        .service-content
            p.text Если резка металла осуществляется посредством использования гильотины или, иначе говоря, гильотинных (стуловых) ножниц, на металл оказывается механическое воздействие лезвием, находящимся под высоким давлением. При этом виде рубки металла, лист разделяют одним прямолинейным резом. Гильотину можно применять для обработки металла толщиной, не превышающей 3,2 мм. Резка гильотинным методом имеет ряд преимуществ: погрешность при раскрое довольно низка и не превышает 0,5 мм, края изделий не имеют окалин и потерь материала. Так же, поперечная резка металла может осуществляться с использованием маятниковой пилы и компактного дискового станка. Резка этой технологией осуществляется благодаря вращению армированных абразивных кругов. Этот способ обработки подходит для  разрезания прутков средних размеров, а также сортового и трубного металлопроката с сечением, не превышающим 140 мм. Следующий из способов – это кислородная резка. Такая резка осуществляется за счет свойства металлов сгорать в чистом кислороде при температурах превышающих 1000 градусов.Для этого способа используется сварочная горелка, оснащенная специальным устройством для подачи кислорода на поверхность материала. Этот способ является очень распространенным благодаря тому, что кислородная резка позволяет разрезать металлы большой толщины, и кроме того, позволяет резать не только по прямой линии, но и по любому контуру. Во многих производствах, кислородная резка является  базовым элементом технологического процесса. Без нее изготовление многих металлических изделий не представлялось бы возможным.
    .service-detail__call
        h3 Резка гильотиной
        p Вы можете добавить к заказу данную услугу наряду с металлургической продукцией - и наш менеджер свяжется с вами после оформления
        .service-detail__btn(data-toggle='modal', data-target='#modalCartService')
            .btn Заказать услугу


