-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
.specials-list
    .section
        h1 Спецпредложения
        .specials-list__cards
            each val in cards
                .card-sl
                    .card-sl__label
                        .text.text-fs14.text--md.text--black Спецпредложения
                    a(href="special-detailed.html").card-sl__img
                        img(src="src/assets/img/service-card.png")
                    .card-sl__content
                        .text.text-fs18.text--md Труба ст 20 ГОСТ 8732 146х36 мм
                        ul.list
                            li Фланец ст.20 ГОСТ Р 54432-2011
                            li Размер: 400 мм, в наличии 1 шт, цена 6743 руб/шт
                            li Фланец ст.20 ГОСТ Р 54432-2011
                            li Размер: 400 мм, в наличии 1 шт, цена 6743 руб/шт
                            li Фланец ст.20 ГОСТ Р 54432-2011
                            li Размер: 400 мм, в наличии 1 шт, цена 6743 руб/шт
                            li Размер: 400 мм, в наличии 1 шт, цена 6743 руб/шт
                            li Размер: 400 мм, в наличии 1 шт, цена 6743 руб/шт
                        .card-sl__more
                            p.text еще
                            svg
                                use(xlink:href="/src/assets/icons.svg#arrow-down")

                        .card-sl__price 91 000 руб/т
                        .text.text-fs12.text--md.hide Склад
                            =" "
                            span.text--gray г.Екатерибург
                        .card-sl__footer-mb
                            svg
                                use(xlink:href="/src/assets/icons.svg#warehouse")
                            span.text-fs14.text--gray г.Екатерибург







