.specials-detailed
    .section
        .text.text-fs18.text--bold Спецпредложение
        .section-spec__specials-detailed
            .specials-detailed
                .specials-detailed__row
                    .specials-detailed__info
                        img(src="src/assets/img/specials.png").specials-detailed__img
                        .specials-detailed__price-info
                            .text.text-fs20.text--md Отвод П45 ГОСТ 17375
                            .mb-info
                                .text.hide-mb Электротехнические заготовки 1 мм 005ЖР ТУ 14-1-2033-77 со склада с доставкой по Российской Федерации и СНГ из г. Москва
                                .text.text-fs16.hide Характеристики:
                                .mb-info__row
                                    .text.text-fs14.text--light ГОСТ/ТУ:
                                    .text.text-fs14 17375
                                .mb-info__row
                                    .text.text-fs14.text--light ГОСТ/ТУ:
                                    .text.text-fs14 17375
                                .mb-info__row
                                    .text.text-fs14.text--light ГОСТ/ТУ:
                                    .text.text-fs14 17375
                            .specials-detailed__price-order
                                .specials-detailed__text.hide-mb Стоимость:
                                .specials-detailed__price 100 - 1845 руб/шт
                                .specials-detailed__btn
                                    .btn.btn--md(data-toggle="modal" data-target="#modalPrice") Оставить заявку
                                    .section-spec__link(data-toggle='modal', data-target='#modalDelivery')
                                        a.link Оплата и доставка
                                        img.section-spec__icon.hide-mb(src='/src/assets/svg/truck.svg')
                    .text.text-fs16.text--md.text--gray.hide
                        | Склад:
                        span.text.text-fs16.text--md г. Набережные Челны
        .section-spec__list
            .text.text-fs14 Труба 426х10мм
            .text.text-fs14 Цена 39 900р/т В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
            .text.text-fs14 В наличии 20т
    .specials-detailed__others
        include ../components/carousels/carousel-specials
