.statistics
    .section
        h1 Открытось нашей компании
        h2 Общество с ограниченной ответственностью “БВБ-Альянс”
        .law-info-row
            .law-info.border-line
                .d-flex.align-items-center.justify-content-between
                    p ОГРН
                    p 1106672021466
                .d-flex.align-items-center.justify-content-between
                    p ИНН
                    p 6672328481
                .d-flex.align-items-center.justify-content-between
                    p КПП
                    p 665801001
                .d-flex.align-items-center.justify-content-between
                    p ОКПО
                    p 900525466
            .leadership-info.border-line
                .d-flex.align-items-center
                    .leadership-info__img
                        img(src="src/assets/img/gizatullin.png")
                    .info
                        .info__title Гизатуллин Игорь Фларитович
                        .info__row
                            p Директор
                            p ИНН: 663211743439
                .text.text--bold Юридический адрес
                .text.text-fs14 620028, Россия, Свердловская обл., г.Екатеринбург, ул.Кирова, 32Ак1
        .graphs.border-line
            .graph-card
                div
                    p Уставной капитал
                    .number 500 000,00 руб.
                #capital.chart
                .graph-data
                    p 13.06.2013
                    p 14.03.2018
            .graph-card
                div
                    p Чистая прибыль
                    .number 42 376 000,00 руб.
                #profit.chart
                .graph-data
                    p 13.06.2013
                    p 14.03.2018
            .graph-card
                div
                    p Баланс
                    .number 19 240 121,00 руб.
                #balance.chart
                .graph-data
                    p 13.06.2013
                    p 14.03.2018
            .graph-card
                div
                    p Выручка
                    .number 763 543 000,00 руб.
                #revenue.chart
                .graph-data
                    p 13.06.2013
                    p 14.03.2018
        .finance-row
            .card
                .text.text-fs14.text--light-black Высокая благонадёжность
                .row
                    #finance
                    .info
                        .values
                            p.js-finance 0
                            span /100
                        span.text.text-fs12.text--light Данные за 2018 год
            .card
                .text.text-fs14.text--light-black Высокая финансовая устойчивость
                .row
                    #guarantee
                    .info
                        .values
                            p.js-guarantee 0
                            span /100
                        span.text.text-fs12.text--light Данные за 2018 год
            .card
                .text.text-fs14.text--light-black Кредитоспособность компании
                .row
                    .icon-stat.icon-stat--lg
                        svg
                            use(xlink:href="/src/assets/icons.svg#deal-number")
                    .info.info--lg
                        .text
                            p класс
                            p.text.text-fs24.text--bold 6,08 млн Р
                        span.text.text-fs12.text--light Данные за 2018 год
        .deals-row
            .info
                .text.text-fs14 Арбитражные дела
                .row.row--gap
                    .number 40
                    .values
                        p.text.text-fs12.text--md.text--orange 23 млн руб.
                        p.text.text-fs12.text--md.text--light-black в роли Истца
                .row
                    .number 10
                    .values
                        p.text.text-fs12.text--md.text--blue 4,3 млн руб.
                        p.text.text-fs12.text--md.text--light-black в роли Ответчика
            .graph-wrapper
                canvas(id="deals" class="graph")
                .line
        .deals-row
            .info
                .text.text-fs14 Госконтракты
                .row.row--gap
                    .number 174
                    .values
                        p.text.text-fs12.text--md.text--orange выигранных
                        p.text.text-fs12.text--md.text--light-black 138 млн.руб.
                .row
                    .number 0
                    .values
                        p.text.text-fs12.text--md.text--blue Нет размещенных
                        p.text.text-fs12.text--md.text--light-black в роли Истца
            .graph-wrapper
                canvas(id="contracts" class="graph")
                .line
        .about-stat
            .about-stat__title Источники данных
            p.text.text-fs14.text--gray Формы финансовой отчености организаций собраются из открытых источников и отображена
            a(href="#").about-stat__btn
                .btn На этом сайте



