-
    let lists = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
.vacancy-page
    .section
        h1 Вакансии ООО “БВБ_Альянс”
        #accordion-list.vacancy-page__list
            .vp-accordion
                .accordion.collapsed(data-toggle='collapse', href='#collapseOne', role='button', aria-expanded='false', aria-controls='collapseOne')
                    h2.text.text--light-black Менеджер по продажам
                    .vp-accordion__btn
                        svg.active
                            use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .vp-vacancy
                        .text.text-fs14.text--light.text--black Екатеринбург, Москва, Астана, Тюмень
                        .vp-vacancy__block
                            svg
                                use(xlink:href="/src/assets/icons.svg#pdf")
                            .text.text-fs14.text--light.text--black Ждем ваше резюме на почту! Кандидатов без резюме не рассматриваем.
                        button.btn.btn--white Отправить резюме
                    .vp-content
                        h3.text.text-fs16.text--black Требования:
                        ul.list
                            li Обязательно: опыт активных продаж (рассмотрим кандидатов без опыта продаж металлопроката)
                            li Уверенный пользователь ПК
                            li Ответственность‚ пунктуальность‚ коммуникабельность‚ нацеленность на конечный результат, активная жизненная позиция
                        h3.text.text-fs16.text--black Обязанности:
                        ul.list
                            li активный поиск клиентов;
                            li прямые активные продажи металлопроката;
                            li проведение переговоров‚ заключение договоров;
                            li осуществление технической и информационной поддержки клиентов;
                            li ведение клиентской базы;
                            li отслеживание выполнения договорных отношений
                        h3.text.text-fs16.text--black Обязанности:
                        ul.list
                            li активный поиск клиентов;
                            li прямые активные продажи металлопроката;
                            li проведение переговоров‚ заключение договоров;
                            li осуществление технической и информационной поддержки клиентов;
                            li ведение клиентской базы;
                            li отслеживание выполнения договорных отношений
                        h3.text.text-fs16.text--black Обязанности:
                        ul.list
                            li активный поиск клиентов;
                            li прямые активные продажи металлопроката;
                            li проведение переговоров‚ заключение договоров;
                            li осуществление технической и информационной поддержки клиентов;
                            li ведение клиентской базы;
                            li отслеживание выполнения договорных отношений
            .vp-accordion
                .accordion.collapsed(data-toggle='collapse', href='#collapseTwo', role='button', aria-expanded='false', aria-controls='collapseTwo')
                    h2.text.text--light-black Менеджер по продажам
                    .vp-accordion__btn
                        svg
                            use(xlink:href="/src/assets/icons.svg#arrow-down")
                #collapseTwo.collapse(aria-labelledby='headingOne', data-parent='#accordion-list')
                    .vp-content
                        p Екатеринбург, Москва, Астана, Тюмень
                        p Ждем ваше резюме на почту! Кандидатов без резюме не рассматриваем.
                        p Требования:
                        ul.list
                            li Обязательно: опыт активных продаж (рассмотрим кандидатов без опыта продаж металлопроката)
                            li Уверенный пользователь ПК
                            li Ответственность‚ пунктуальность‚ коммуникабельность‚ нацеленность на конечный результат, активная жизненная позиция







