-
    let cards = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

.workers
    .section
        h1 Сотрудники "БВБ-Альянс"
        h2 Дирекция
        .workers-cards
            each val in cards
                .workers-card
                    .workers-card__img
                        img(src="src/assets/img/card-image.png")
                    .text.text-fs16.text--gray Михайлова Л.Г.
                    .text.text-fs16.text--gray.text--light Главный бухгалтер
        h2 Дирекция
        .workers-cards
            each val in cards
                .workers-card
                    .workers-card__img
                        img(src="src/assets/img/card-image.png")
                    .text.text-fs16.text--gray Михайлова Л.Г.
                    .text.text-fs16.text--gray.text--light Главный бухгалтер
