// цикл на  php

-
    var card = {
        text: "Труба ст 20 ГОСТ 8732 146х36 мм",
        price: "91 000 руб/т",
        address: "Склад: г.Екатерибург",
        image: "src/assets/img/special-card.png",
    }

include ../../mixins/offer-card

.special-offers
    .special-carousel-offers.owl-carousel.owl-theme
        .item
            .special-offers__card
                +offer-card(card)
        .item
            .special-offers__card
                +offer-card(card)
        .item
            .special-offers__card
                +offer-card(card)
        .item
            .special-offers__card
                +offer-card(card)
        .item
            .special-offers__card
                +offer-card(card)
    a(href="specials-list.html").special-btn
        .btn.btn--rnd.btn--white.text--orange Все спецпредложения


