.carousel-statistic
    .cards
        .card-wrapper
            .card-statistics
                .card-statistics__title Государственные закупки
                .card-statistics__title.card-statistics__title--lg 44-ФЗ
                ul.card-statistics__list
                    li.card-statistics__item 230 закупок
                    li.card-statistics__item 54 контракта
        .card-wrapper
            .card-statistics
                .card-statistics__title Закупки госкорпораций
                .card-statistics__title.card-statistics__title--lg 223-ФЗ
                ul.card-statistics__list
                    li.card-statistics__item 430 закупок
                    li.card-statistics__item 116 контрактов
        .card-wrapper
            .card-statistics
                .card-statistics__title Арбитражные дела
                ul.card-statistics__list
                    li.card-statistics__info.card-statistics__info--left
                        .card-statistics__info-text Истец:
                        p.card-statistics__info-text.card-statistics__info-text--yellow
                            | 40 дел
                            span (23 млн руб.)
                    li.card-statistics__info.card-statistics__info--left
                        .card-statistics__info-text Ответчик:
                        p.card-statistics__info-text.card-statistics__info-text--yellow
                            | 10 дел
                            span (4,3 млн руб.)
        .card-wrapper
            .card-statistics
                .card-statistics__title Контракты
                ul.card-statistics__list
                    li.card-statistics__info
                        .card-statistics__info-text.card-statistics__info-text--gap Исполнение
                        .card-statistics__info-price 87 (70,99 млн руб.)
                    li.card-statistics__info
                        .card-statistics__info-text.card-statistics__info-text--gap Исполнение прекращено
                        .card-statistics__info-price 3 (6,02 млн руб.)
                    li.card-statistics__info
                        .card-statistics__info-text.card-statistics__info-text--gap Исполнение завершено
                        .card-statistics__info-price 80 (59,42 млн руб.)
        .card-wrapper
            .card-statistics
                .card-statistics__title Закупки
                ul.card-statistics__list
                    li.card-statistics__info
                        .card-statistics__info-text Отмененная закупка
                        .card-statistics__info-price 6 (2,63 млн руб.)
                    li.card-statistics__info
                        .card-statistics__info-text Завершенная закупка
                        .card-statistics__info-price 654 (892,02 млн руб.)
        .card-wrapper
            .card-statistics
                .card-statistics__title Госконтракты
                ul.card-statistics__list
                    li.card-statistics__info.card-statistics__info--left
                        .card-statistics__info-text Нет размещенных контрактов
                    li.card-statistics__info.card-statistics__info--left
                        .card-statistics__info-price 174
                        .card-statistics__info-text выигранных (138 млн руб.)
    .carousel-statistic__carousel
        .stat-carousel.owl-carousel.owl-theme
            .item
                .card-wrapper
                    .card-statistics
                        .card-statistics__title Государственные закупки
                        .card-statistics__title.card-statistics__title--lg 44-ФЗ
                        ul.card-statistics__list
                            li.card-statistics__item 230 закупок
                            li.card-statistics__item 54 контракта
            .item
                .card-wrapper
                    .card-statistics
                        .card-statistics__title Закупки госкорпораций
                        .card-statistics__title.card-statistics__title--lg 223-ФЗ
                        ul.card-statistics__list
                            li.card-statistics__item 430 закупок
                            li.card-statistics__item 116 контрактов
            .item
                .card-wrapper
                    .card-statistics
                        .card-statistics__title Арбитражные дела
                        ul.card-statistics__list
                            li.card-statistics__info.card-statistics__info--left
                                .card-statistics__info-text Истец:
                                p.card-statistics__info-text.card-statistics__info-text--yellow
                                    | 40 дел
                                    span (23 млн руб.)
                            li.card-statistics__info.card-statistics__info--left
                                .card-statistics__info-text Ответчик:
                                p.card-statistics__info-text.card-statistics__info-text--yellow
                                    | 10 дел
                                    span (4,3 млн руб.)
            .item
                .card-wrapper
                    .card-statistics
                        .card-statistics__title Контракты
                        ul.card-statistics__list
                            li.card-statistics__info
                                .card-statistics__info-text.card-statistics__info-text--gap Исполнение
                                .card-statistics__info-price 87 (70,99 млн руб.)
                            li.card-statistics__info
                                .card-statistics__info-text.card-statistics__info-text--gap Исполнение прекращено
                                .card-statistics__info-price 3 (6,02 млн руб.)
                            li.card-statistics__info
                                .card-statistics__info-text.card-statistics__info-text--gap Исполнение завершено
                                .card-statistics__info-price 80 (59,42 млн руб.)
            .item
                .card-wrapper
                    .card-statistics
                        .card-statistics__title Закупки
                        ul.card-statistics__list
                            li.card-statistics__info
                                .card-statistics__info-text Отмененная закупка
                                .card-statistics__info-price 6 (2,63 млн руб.)
                            li.card-statistics__info
                                .card-statistics__info-text Завершенная закупка
                                .card-statistics__info-price 654 (892,02 млн руб.)
            .item
                .card-wrapper
                    .card-statistics
                        .card-statistics__title Госконтракты
                        ul.card-statistics__list
                            li.card-statistics__info.card-statistics__info--left
                                .card-statistics__info-text Нет размещенных контрактов
                            li.card-statistics__info.card-statistics__info--left
                                .card-statistics__info-price 174
                                .card-statistics__info-text выигранных (138 млн руб.)


