-
    var card = {
        text: "Компания «БВБ-Альянс» приняла участие в проекте по масштабному благоустройству улиц и парков Москвы.",
        date: "2019-09-16",
        image: "src/assets/img/news.png",
    }
include ../../mixins/card-news

.carousel-news
    .carousel-news__title Новости
    .check-news
        .cheap.active
            p.hide-mb Новости компании
            p.hide Компании
        .cheap.right
            p.hide-mb Новости рынка
            p.hide Рынка
    .news-carousel.owl-carousel.owl-theme
        .item
            .carousel-news__card
                +card-news(card)
        .item
            .carousel-news__card
                +card-news(card)
        .item
            .carousel-news__card
                +card-news(card)
        .item
            .carousel-news__card
                +card-news(card)
        .item
            .carousel-news__card
                +card-news(card)
    a.link.text.text--orange.text--md(href="news.html") Все новости
        svg()
            use(xlink:href="/src/assets/icons.svg#arrow")




