-
    let card = {
        text: "Труба ст 20 ГОСТ 8732 146х36 мм",
        price: "91 000 руб/т",
        address: "Склад: г.Екатерибург",
        image: "src/assets/img/special-card.png",
    }

.carousel-services
    p.text.text-fs18.text--md Также вам могут быть интересны
    .special-offers-carousel.owl-carousel.owl-theme
        // each card in cards
        .item
            include ../../mixins/card-special
            +card-special(card)
        .item
            include ../../mixins/card-special
            +card-special(card)
        .item
            include ../../mixins/card-special
            +card-special(card)
        .item
            include ../../mixins/card-special
            +card-special(card)
        .item
            include ../../mixins/card-special
            +card-special(card)
        .item
            include ../../mixins/card-special
            +card-special(card)

