include ../../mixins/card-service

.carousel-services
    p.text.text-fs18.text--md Также вам могут быть интересны
    .carousel-service-list.owl-carousel.owl-theme
        .item
            +card-service()
        .item
            +card-service()
        .item
            +card-service()
        .item
            +card-service()
        .item
            +card-service()
        .item
            +card-service()
        .item
            +card-service()
