
.main-page-carousel
    .mainp-carousel.owl-carousel.owl-theme
        .item
            .banner-info
                .banner-info__content
                    .banner-info__content-title Терминал металлопродукции
                    p №1 в России и СНГ
                a(href="news.html").banner-info__btn
                    .btn Подробнее
            img.banner(src="src/assets/img/background.png")
        .item
            .banner-info
                .banner-info__content
                    .banner-info__content-title Терминал металлопродукции
                    p №1 в России и СНГ
                a(href="news.html").banner-info__btn
                    .btn Подробнее
            img.banner(src="src/assets/img/delivery-2.png")
        .item
            .banner-info
                .banner-info__content
                    .banner-info__content-title Терминал металлопродукции
                    p №1 в России и СНГ
                a(href="news.html").banner-info__btn
                    .btn Подробнее
            img.banner(src="src/assets/img/delivery-1.png")




