$header-gray: #5b626e;
$orange: #f2b61a;
$animate: .3s linear;

.sb-wrapper {
  position: relative;
  top: 0;
  width: 100%;
  max-width: 270px;
  transform: translateX(0);
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  height: 100%;
  background: #F5F5F5;
  overflow-x: hidden;
  padding-bottom: 10px;

  .sb-slava {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn-selector-one {
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 5px 15px;
      width: 250px;
      height: 30px;
      border-radius: 3px;
      background: $orange;
      margin-bottom: 10px;

      svg {
        margin-right: 20px;
        width: 15px;
        height: 15px;
      }
    }

    .accordions {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: max-height 0.3s linear;
      overflow: hidden;
      width: 200px;
      background: orangered;
      max-height: 100%;
    }

    .accordion-hide {
      max-height: 0;
    }

    .panel {
      overflow: hidden;
      max-height: 100%;
    }

    .panel-index {
      padding: 5px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background: #333333;

      svg {
        fill: white;
        width: 15px;
        height: 15px;
      }
    }

    .panel-hide {
      max-height: 0;
    }
  }

  &__header {
    padding-top: 7px;
    background: #F5F5F5;
  }

  &__selectors {
    flex-direction: column;
    margin-top: 14px;
    padding: 0 15px;

  }

  &__consult {
    display: none;

    P {
      color: white;

      &:first-child {
        padding-bottom: 5px;
      }
    }
  }

  .sb {
    &-head {
      display: flex;
      align-items: center;
      padding: 0 16px;

      &__geo {
        display: flex;
        align-items: center;
        margin-left: auto;
        cursor: pointer;
      }

      &__logo {
        width: 90px;
        height: 46px;
        background: white;
        margin-right: auto;
      }

      &__icon {
        width: 10px;
        height: 14px;
        margin-right: auto;
        margin-right: 7px;
        fill: #4E4E4E;
      }

      &-icon {
        display: none;
      }
    }

    &-selector {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      background: #4E4E4E;
      margin-bottom: 10px;

      &__select {
        position: relative;
        display: flex;
        width: 100%;
        padding: 9px 0 9px 15px;
      }

      a {
        cursor: pointer;
        color: $white;
      }

      &__icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 15px;
        flex-shrink: 0;
        stroke: $orange;
        stroke-width: 4px;
        right: 6px;
        width: 70px;
        transition: $animate;
        margin-left: auto;

        svg {
          transform: rotate(180deg);
          width: 15px;
          height: 7px;
        }

        &:hover {
          cursor: pointer;
        }

        &--active {
          transform: rotate(0deg);
        }
      }

      .collapsed {
        svg {
          transform: rotate(0deg);
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: .2s linear;

        a {
          padding: 9px 15px;

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover {
            background: #6F6F6F;
          }
        }


      }
    }
  }

  .m-panel {
    display: flex;
    flex-direction: column;

    &__icon {
      display: none;
    }

    &__item {
      display: flex;
      flex-direction: column;
    }
  }

  .accordion {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &-inn {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 9px 0 9px 16px;

        &:hover, &:active {
          background: $orange;

          svg {
            stroke: #333333;
          }
        }

        &.active {
          background: $orange;

          svg {
            stroke: #333333;
            transform: rotate(180deg);
          }
        }
      }

      &__list {
        background: #E3E3E3;

        a {
          color: #333333;
        }
      }

      a {
        color: #333333;
      }
    }

    &-last {
      &__header {
        position: relative;
        display: flex;
        align-items: center;
        padding: 9px 0 9px 16px;

        a {
          max-width: 198px;
        }

        &:hover, &:active {
          background: #B9B9B9;

          svg {
            stroke: #333333;
          }
        }

        &.active {
          background: #B9B9B9;

          svg {
            stroke: #333333;
            transform: rotate(180deg);
          }
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        background: #CCCCCC;

        a {
          padding: 9px 4px 9px 16px;
          color: #333333;
        }
      }


      &:hover, &:active {
        background: #CCCCCC;
      }

      &__icon {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;
        padding: 5px 12px 5px 0;
        right: 0;
        width: 30px;
        height: 100%;
        stroke: #333333;
        stroke-width: 4px;
        transition: $animate;

        svg {
          width: 15px;
          height: 15px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    a {
      outline: none;
      color: #333333;
      text-decoration: none;
    }


    .collapse--show {
      &.collapse:not(.show) {
        display: flex;
        flex-direction: column;
      }
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      padding: 9px 0 9px 16px;
    }

    &__icon {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 75px;
      height: 100%;
      padding: 5px 12px 5px 0;
      flex-shrink: 0;
      stroke: $orange;
      stroke-width: 4px;
      right: 0;
      transition: $animate;

      svg {
        width: 15px;
        height: 15px;
        transform: rotate(180deg);

      }

      &:hover {
        cursor: pointer;
      }
    }

    .collapsed {
      svg {
        transform: rotate(0deg);
      }
    }

    &.accord-active {
      background: $orange;

      a {
        color: black;
      }

      .accordion__icon {
        stroke: black;
        transform: rotate(0);
      }
    }
  }


  .m-mb-panel {
    display: none;
  }

  .last-menu {
    display: none;
  }


  .list-inn {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    transition: .2s linear;

    &__item {
      padding: 10px 16px 10px 0;

      &:active,
      &:hover {
        background: #CCCCCC;
      }

      a {
        padding-left: 15px;
        color: white;
      }

      svg {
        transform: rotate(-90deg);
        width: 14px;
        height: 7px;
        stroke: #5B626E;
      }
    }
  }

  .last-sidebar {
    display: none;
    position: relative;
  }


  .hide {
    display: flex;
  }


  .hide-mb {
    display: none;
  }

  &__link {
    display: none;
  }

  &__contacts {
    display: none;
  }
}

@media(max-width: 1200px) {
  .sb-wrapper {
    position: absolute;
    transform: translateX(-100%);
    height: 100vw;
    transition: .4s ease;
    top: 93px;
    left: 0;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 67px 15px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 30;

    &.active {
      transform: translateX(0);
    }
  }

  .sidebar {
    background: white;
    width: 100%;
    max-width: 500px;

    &__header {
      background: none;
    }

    &__selectors {
      display: none;
    }


    .hide-mb {
      display: flex;
    }

    .hide {
      display: none;
    }

    a {

      &:active {
        background: #F2F2F2;
      }

    }

    &__consult {
      display: flex;
      flex-direction: column;
      padding: 12px 0;
      border-bottom: 1px solid #DFDFDF;
      width: 100vw;
      max-width: 100%;

      p {
        padding-left: 15px;
        color: #5B626E;
      }
    }

    .last-menu {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      background: white;
      padding: 107px 0 16px;
      transition: 0.5s ease-out;
      transform: translateX(100%);
      z-index: 10;
      visibility: hidden;
      opacity: 0.4;

      &--active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }

      &__header {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 18px;
        padding-bottom: 18px;
        left: 0;
        border-bottom: 1px solid #dfdfdf;
        width: 100%;

        p {
          color: #5b626e;
          font-weight: 500;
        }
      }

      &__icon {
        margin-right: 16px;
        cursor: pointer;
      }

      &__list {
        padding-top: 40px;

        li {
          padding-left: 18px;
          padding-bottom: 45px;
          font-size: 14px;
          color: #5b626e;

          &:last-child {
            padding-bottom: 0;
          }
        }

        a:hover,
        &:active {
          color: $orange;
        }
      }

      &__item {
        position: relative;
        padding: 25px 18px;
        color: #5b626e;
        margin-left: -50vw;
        width: 100vw;
        left: 50%;

        &:hover {
          color: #5b626e;
        }
      }
    }

    .m-panel {
      &__icon {
        display: flex;
        margin-right: 16px;
        width: 20px;
        height: 20px;
      }
    }

    .accordion {
      .text {
        color: #5B626E;
      }

      .collapse--show {
        &.collapse:not(.show) {
          display: none;
        }
      }

      &__item {
        padding: 22px 17px;

        &:hover, &:active {
          background: none;
        }
      }

      &-inn {
        background: #F9F9F9;

        &__header {
          padding: 22px 0 22px 16px;

          &:hover {
            background: #F2F2F2;

            svg {
              transform: rotate(-180deg);
            }
          }

          &:active {
            background: #F2F2F2;

            svg {
            }
          }
        }

        svg {
          stroke: #4F4F4F;
        }


        &.active {
          &.accordion__header {
            background: none;

            svg {
              stroke: #4F4F4F;
              transform: rotate(-180deg);
            }
          }


        }
      }

      &-last {
        &__header {
          padding: 22px 0 22px 16px;

          svg {
            transform: rotate(-90deg);
          }

          &.active {
            svg {
              transform: rotate(-90deg);
            }
          }
        }


        &__list {
          display: none;
        }
      }

      &__icon {
        stroke: $orange;
      }

      &.accord-active {
        background: #F9F9F9;
      }
    }

    .list-inn {
      background: #F9F9F9;

      a {
        padding: 22px 16px;

        &:active, &:hover {
          background: #F2F2F2;
        }
      }

      &__item:active, &__item:hover {
        background: none;
      }
    }

    .sb-icon {
      position: absolute;
      right: 19px;
      top: 24px;
      display: flex;
      stroke: #5B626E;
      width: 30px;
      height: 30px;
      padding: 13px 2px 5px 0;
      transform: rotate(-90deg);
    }

    &__link {
      display: flex;
      color: #5B626E;
      padding: 12px 5px 12px 15px;


      &:first-child {
        margin-top: 50px;
      }

    }
  }
}

@media (max-width: 500px) {
  .sb-wrapper {
    position: fixed;
    height: 100%;
    top: 0;
  }

  .sidebar {
    padding-top: 93px;

    &__contacts {
      padding: 25px 16px 0;
      display: block;

      p {
        padding-bottom: 17px;
      }

      a {
        padding-bottom: 13px;

        &:active, &:hover {
          background: transparent;
        }
      }
    }

    &__button {
      display: flex;
      width: 164px;
      height: 40px;
      margin: 16px 0 74px;
    }

    &__icon {
      width: 22px;
      height: 22px;
      margin-right: 25px;
      fill: #5B626E;
    }

    .last-menu {
      &__header {
        position: relative;

        p {
          padding-left: 30px;
        }
      }

      &__icon {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: 40px;
        height: 40px;
        stroke: #4F4F4F;

        svg {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}

