.about-page {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;
  }

  .ap-content {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;

    &--gap {
      margin-bottom: 32px;
    }

    &--gap-big {
      margin-bottom: 44px;
    }
  }

  img {
    margin: 0 auto 32px;
    max-width: 119%;
    margin-left: -10%;
    border-radius: 0;
    object-fit: cover;
  }

  svg {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    fill: $orange;
  }

  .ap-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 420px;
  }

  .ap-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
    padding: 21px 11px 21px 21px;
    border-radius: 5px;
    border: 3px solid #E0E0E0;

    .text-fs16 {
      color: #828282;
    }

    &:nth-child(2) {
      background: $orange;
      border-color: $orange;

      .text-fs16 {
        color: black;
      }
    }
  }

  @media (min-width: 800px) {

    img {
      margin-left: unset;
      margin-right: unset;
      border-radius: 5px;
      max-width: 1100px;
    }
    margin-bottom: 64px;

    .ap-cards {
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 100%;
      margin-bottom: 0;
      margin-left: -15px;
    }

    .ap-card {
      position: relative;
      width: 100%;
      max-width: 360px;
      margin-right: 0;
      margin-left: 15px;
      padding: 17px 10px 10px 14px;
      cursor: pointer;

      &:nth-child(2) {
        background: white;
        border: 3px solid #E0E0E0;

        .text-fs16 {
          color: #828282;
        }
      }

      &:hover {
        background: $orange;
        border-color: $orange;

        .text-fs16 {
          color: black;
        }
      }
    }

    svg {
      width: 42px;
      height: 42px;
      margin-bottom: 18px;
    }
  }
}