.black-list {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  &__info {
    margin-bottom: 48px;

    p {
      padding-bottom: 16px;

      &:last-child {
        padding-bottom: 0;
      }
    }

  }

  &__partners {
    margin-bottom: 16px;
    p {
      padding-bottom: 16px;
    }
  }

  &__cards {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 120px;

    img {
      width: 100%;
      max-width: 370px;
      height: 100%;
      max-height: 195px;
      margin-right: 20px;
    }

    @media (max-width: 1470px) {
      flex-direction: column;
      margin-bottom: 0;

      img {
        margin-right: 0;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

    }
  }
}