.cart {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
  }

  &__wrapper {
    width: 100%;
  }

  .section {
    padding-bottom: 0;
  }

  width: 100%;
  background: $white;

  &--full {
    padding: 10px 0;
  }

  img {
    display: none;
  }

  &__icon {
    position: absolute;
    stroke: #000000;
    top: 15px;
    right: 14px;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  &--gray {
    background: rgba(196, 196, 196, 0.15);
  }

  &__basket-card {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  &__list {
    max-width: 785px;
  }

  &__form {
    width: 120%;
    transform: translateX(-50%);
    margin-left: 50%;
    position: relative;
    padding: 30px 25px 10px;
    margin-top: 19px;
  }

  &__btn {
    display: flex;
    margin: 20px 0 29px;
    width: 100%;
    height: 40px;
  }

  .basket-card {
    position: relative;
    padding: 15px 14px 17px 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    &--service {
      padding: 15px 14px 27px 12px;

    }

    &__icon {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 14px;
    }

    &__service {
      position: relative;
      margin-left: 10px;
      padding-left: 10px;

      color: #828282;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 5px;
        width: 5px;
        height: 5px;
        background: $orange;
        border-radius: 50%;
      }
    }

    &__line-size {
      display: flex;
      justify-content: space-between;
      margin: 11px 0 17px;
      width: 100%;
      max-width: 200px;
      align-items: center;
    }

    &__line-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__size {
      display: flex;
      width: 30%;

      span {
        padding-left: 10px;
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
      width: 100%;
      min-width: 50px;

      &:first-child {
        p {
          margin-bottom: 10px;
        }
      }
    }

    &__field {
      width: 100%;
      max-width: 77px;
      max-height: 38px;
      padding: 12px 10px;
      border: 1px solid;

      &.field:focus {
        border-color: #828282 !important;
      }
    }

    .text-info {
      width: 100%;
    }
  }

  .form-order {
    padding-top: 12px;
    &__list {
      margin-bottom: 10px;
    }

    &__field {
      margin-top: 13px;

      label {
        position: relative;

        &:after {
          position: absolute;
          content: "✷";
          color: $orange;
          font-size: 10px;
          top: -5px;
        }
      }

      &:last-child {
        label:after {
          display: none;

        }
      }

      input {
        border-color: #FAFAFA;

        &.field:focus {
          border-color: #828282 !important;
        }

        &::placeholder {
          color: #BDBDBD;
          opacity: 1; /* Firefox */
          vertical-align: baseline;
        }
      }

      textarea {
        margin-top: 11px;
        width: 100%;
        height: 160px;
        padding: 12px 15px;
        border-color: #FAFAFA;

        &.field:focus {
          border-color: #828282 !important;
        }

        &::placeholder {
          vertical-align: baseline;
        }
      }
    }

    &__input {
      width: 100%;
      margin-top: 13px;
      padding: 12px 15px;
      background: $white;
      border-radius: 5px;

      &--lg {
        min-height: 160px;
      }
    }
  }

  .hide-mb {
    display: none;
  }

  @media(min-width: 340px) {
    .cart__form {
      padding-right: 33px;
      padding-left: 33px;
    }
  }

  @media(min-width: 400px) {
    .cart__form {
      width: 100%;
    }

    .section {
      padding-bottom: 55px;
    }
  }

  @media (min-width: 750px) {
    .section {
      padding-bottom: 55px;
      flex-direction: row;
    }
    .form-order {
      margin-top: 25px;
      padding-top: 0;
    }

    &__icon {
      top: 11px;
      right: 22px;
      width: 16px;
      height: 16px;
    }

    .form-order__input {
      margin-top: 10px;
    }
    .form-order__list {
      .form-order__field {
        margin-top: 22px;
      }
      .form-order__field:first-child {
        margin-top: 0;
      }
    }

    &__form {
      padding: 24px 20px 39px;
      margin-left: 22px;
      max-height: 688px;
      transform: translateX(0);
      margin-top: 57px;
      max-width: 344px;

      .text-fs18 {
         text-align: center;
      }
    }
  }

  @media (min-width: 1200px) {
    &__list {
      margin-top: 0;
    }

    svg {
      stroke: $orange;
    }

    img {
      display: flex;
      margin: auto 24px auto 12px;
      object-fit: cover;
      width: 80px;
      height: 60px;
    }

    .basket-card {
      padding: 7px 21px 10px 0;

      &__line-size {
        justify-content: space-between;
      }

      &--service {
        padding: 16px 20px 33px 44px;

        .text-fs16 {
          font-size: 20px;
          line-height: 23px;
        }

        .text-fs14 {
          padding-left: 15px;
          font-size: 20px;
          line-height: 23px;
        }
      }

      &__service:after {
        top: 10px;
      }

      &__line-header .text-fs16 {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #4F4F4F;
      }
    }

    .basket-card {
      display: flex;

      &--service {
        flex-direction: column;
      }

      &__line-size {
        max-width: 120px;
        font-size: 14px;
        margin: 0;
      }

      &__line-info {
        width: 100%;
      }

      .text-info {
        display: flex;
      }

      .table-info {
        display: flex;
        justify-content: space-between;
        max-width: 572px;
      }

      .tech-info {
        display: flex;
        width: 100%;
      }

      .text-fs12 {
        font-size: 14px;
        line-height: 16px;
      }

      &__info {
        flex-direction: column;

        p {
          margin-bottom: 10px;
        }

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #7E7E7E;
        }
      }

      &__size {
        flex-direction: column;
        width: 18%;
        margin-right: 10px;

        p {
          padding-bottom: 11px;
          font-size: 14px;
          padding-left: 0;
          font-weight: 300;
        }

        span {
          padding: 0;
          font-size: 14px;
          font-weight: 500;
          color: #7E7E7E;
        }
      }

      &__table {
        width: 100%;
      }

      &__field {
        width: 100%;
        margin-top: auto;
      }
    }

    &__form {
      max-width: 344px;
    }

    .table-info {
      padding-top: 20px;
    }
  }

  @media (min-width: 1400px) {
    img {
      width: 119.34px;
      height: 89px;
    }
  }
}





