$orange: #f2b61a;
$white: #ffffff;
$gray: #efefef;
$black: #333333;

.categories-list-page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  h1 {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #4f4f4f;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #4f4f4f;

    &:active, &:hover {
      text-decoration: underline;
    }
  }

  &__cards {
    margin-bottom: 15px;

    @media (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: 1000px) {
      margin-left: -20px;
    }
  }

  &__card {
    margin-bottom: 10px;
    max-width: 350px;

    @media (min-width: 600px) {
      width: 100%;
      max-width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 20px);
      margin: 0 10px 18px 0;
    }

    @media (min-width: 1000px) {
      width: 263px;
      margin-left: 20px;
      margin-right: 0;
      transition: .1s linear;

      &:active, &:hover {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }

  @media (min-width: 800px) {
    &__cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

