.clients {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
  }

  img {
    margin: 32px auto;
    max-width: 290px;
    object-fit: contain;
  }

  svg {
    width: 45px;
    height: 30px;
    margin-bottom: 16px;
    fill: $orange;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 32px auto 64px;
    max-width: 420px;
  }

  &-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 14px;
    padding: 19px 11px 19px 21px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 5px;
  }

  .list {
    padding-bottom: 20px;

    li:first-child {
      margin-top: 0;
    }
  }

  .link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  @media (min-width: 500px) {
    img {
      max-width: 400px;
    }
  }

  @media (min-width: 700px) {
    img {
      max-width: 600px;
    }
  }

  @media (min-width: 800px) {
    &-cards {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 32px;
      min-width: 100%;
    }

    .list {
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &-card {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 360px;
      margin-right: 10px;
      margin-bottom: 0;
      padding: 19px 10px 19px 23px;
    }

    img {
      max-width: 1100px;
    }

    svg {
      flex-shrink: 0;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}