.contacts {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
  }

  &__block {
    display: flex;
    width: 100%;
    margin-bottom: 65px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 575px;

    &__title {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 25px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      width: 100%;

      &--border {
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 30px;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 15px;


      a {
        font-size: 14px;
        line-height: 17px;
        color: $orange;
        cursor: pointer;

        &:active,
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-map {
    position: relative;
    margin-left: 25px;
    width: 597px;
    height: 505px;
  }

  button {
    position: absolute;
    right: 0;
    bottom: -60px;
    width: 179px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

    &.btn {
      font-size: 12px;
      line-height: 14px;
      padding: 7px 14px 8px 20px;
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }

    svg {
      margin-left: 9px;
      width: 18px;
      height: 18px;
      fill: white;
      flex-shrink: 0;
    }
  }

  &-requisites {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 94px;

    &__row {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 10px 5px 10px 11px;

      p:first-child {
        width: 200px;
      }

      P:last-child {
        margin-left: 65px;
      }

      &:nth-child(odd) {
          background: rgba(196, 196, 196, 0.15);
      }
    }
  }



  @media (max-width: 800px) {
    .section {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    &__block {
      flex-direction: column;
      margin-bottom: 0;
    }

    &-info {
      padding-right: 15px;
      padding-left: 15px;
      max-width: 100%;

      &__list--border {
        margin-bottom: 14px;
      }

      &__row {
        font-size: 16px;
        line-height: 19px;
      }

      &__title {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .hide {
      display: none;
    }

    &-requisites {
      display: none;
    }

    &-info {
      &__title {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &-map {
      margin: 20px auto 0;
      width: 100%;
    }

    &__cities {
      padding: 30px 15px 0;
    }
  }

  @media (max-width: 500px) {
    &-info__row {
      flex-direction: column;
      margin-bottom: 20px;

      .text--gray {
        margin-bottom: 10px;
      }
    }

    &__cities h2 {
      max-width: 250px;
    }
  }
}