$orange: #f2b61a;
$white: #ffffff;
$gray: #efefef;
$black: #333333;

.delivery-page {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
  }

  &__content {
    margin-bottom: 32px;

    p {
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    padding: 28px 14px 35px 20px;
    max-width: 695px;
    border: 2px solid $orange;

    img {
      flex-shrink: 0;
      width: 101px;
      height: 33px;
      margin-right: 15px;
    }

    &__text {
      font-weight: 300;
    }
  }

  &__images {
    margin-bottom: 32px;

    img {
      width: 48%;

      &:first-child {
        margin-right: 11px;
      }
    }
  }

  &__info {
    margin-bottom: 24px;
    .list {
      margin-top: 25px;

      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 15px;

        &:after {
          top: 8px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .geo {
    margin-right: 17px;
    width: 13px;
    height: 18px;
    fill: $orange;
  }

  &__call-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .call-block {
    width: 47%;
    padding: 5px 0 4px 30px;

    &:after {
      position: absolute;
      left: 0;
      top: 5px;
      content: "";
      width: 4px;
      height: 90%;
      background: $orange;
    }

    .text {
      margin-bottom: 15px;

      a {
        cursor: pointer;
      }

      .text--orange {
        margin-bottom: 15px;

        &:active,
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__text {
      margin-bottom: 7px;
      font-size: 12px;
      line-height: 14px;

      &--bg {
        color: #4f4f4f;
      }
    }
  }

  @media (max-width: 768px) {
    .text--orange {
      font-size: 14px;
      line-height: 17px;
    }

    .text-fs18 {
      font-size: 16px;
      line-height: 19px;
    }

    &__card {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;

      img {
        margin-right: 0;
        margin-bottom: 16px;
        width: 148px;
        height: 49px;
      }
    }

    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 294px;
        height: 196px;

        &:first-child {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    &__call-block {
      flex-direction: column;
    }

    .call-block {
      margin-bottom: 15px;
      padding-left: 12px;
      width: 100%;

      &:after {
        width: 2px;
      }

      .text {
        margin-bottom: 10px;
      }

      a {
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}

