.express-analysis {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;
    color: #4F4F4F;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
    color: #F2B61A;
  }

  .list {
    &--gap {
      margin-bottom: 30px;
    }

    &.receive {
      margin-bottom: 24px;
    }

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #4F4F4F;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .exa-tool {
    position: relative;
    margin: 25px 0 36px;

    &__row {
      position: relative;
      display: flex;
      width: 100%;
    }

    &__img {
      margin: 0;
      position: absolute;
      left: 0;
      top: 12px;
      width: 76px;
      height: 116px;
      object-fit: cover;
    }

    .list li {
      margin-bottom: 33px;
      font-weight: 300;
    }

    .text-fs14 {
      padding-left: 100px;
      margin: 55px 0;
    }
  }

  .exa-info {
    position: relative;
    margin-bottom: 31px;
    padding: 24px 0 30px;
    background: #F5F5F5;

    h2 {
      font-weight: 500;
    }

    .text-fs14 {
      max-width: 220px;
      line-height: 20px;
    }

    a:active, a:hover {
      text-decoration: underline;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      width: 70px;
      height: 100%;
      background: #F5F5F5;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -70px;
      width: 70px;
      height: 100%;
      background: #F5F5F5;
    }
  }

  .exa-payment {
    &__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;
      padding: 14px 5px;
      width: 100%;
      max-width: 294px;
    }

    .visa {
      width: 43px;
      height: 15px;
    }

    .mastercard {
      width: 45px;
      height: 30px;
    }

    .webmoney {
      width: 82px;
      height: 24px;
    }

    .yandex {
      width: 78px;
      height: 35px;
    }
  }

  .divider {
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      width: 70px;
      height: 100%;
      background: $orange;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -70px;
      width: 70px;
      height: 100%;
      background: $orange;
    }
  }


  .exa-call {
    h3 {
      font-weight: 500;
    }
    p {
      margin-bottom: 30px;
      max-width: 400px;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }
  }

  &__btn {
    display: flex;
    width: 240px;
    height: 50px;

    .btn {
      color: #4F4F4F;
    }
  }

  @media (min-width: 800px) {
    .gap {
      margin-top: 60px;
    }

    .list {
      position: relative;

      li:last-child {
        margin-bottom: 0;
      }

      &-gap {
        margin-bottom: 60px;
      }

      &.receive {
        margin-bottom: 0;
      }

      li {
        margin-bottom: 20px;
      }
    }

    .exa-tool {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 100px;
      max-width: 900px;
      margin-top: 65px;
      margin-bottom: 120px;

      h3 {
        margin-right: auto;
        margin-bottom: 30px;
      }

      &__row {
        justify-content: flex-end;

        &.gap {
            margin-top: 40px;
        }

        .text-fs14 {
          padding-left: 0;
          margin: 20px 0 34px;
          width: 524px;
          font-size: 22px;
          line-height: 26px;
          font-weight: 500;
        }
      }

      img {
        width: 188px;
        height: 286px;
      }

      .list  {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 80%;

        li {
          padding-left: 27px;
          width: 522px;
          margin-bottom: 34px;
          font-weight: 400;
        }
      }
    }

    .separate-ln {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 4500px;
        left: -20%;
        top: -30px;
        background: #ECECEC;
      }
    }

    .exa-payment {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      &__block {
        margin-bottom: 0;
        padding-top: 0;
        margin-left: 43px;
        max-width: 555px;
      }

      .list {
        li:last-child {
          margin-bottom: 0;
        }
      }

      .list--gap {
        margin-bottom: 0;
      }

      img {
        object-fit: contain;
      }

      .visa {
        width: 83px;
        height: 35px;
      }

      .mastercard {
        width: 83px;
        height: 47px;
      }

      .webmoney {
        width: 141px;
        height: 43px;
      }

      .yandex {
        width: 141px;
        height: 61px;
      }
    }

    .exa-info {
      padding: 32px 15px 43px;
      .text-fs14 {
        max-width: 100%;
      }

      a {
        font-weight: 500;
      }

      br {
        display: none;
      }

      a {
        margin: 0 2px 0 5px;
      }
    }

    .exa-call {
      p {
        width: 100%;
        max-width: 100%;
      }
    }

    .btn {
      font-size: 16px;
    }
  }
}