.gost-list {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
  }

  a {
    cursor: pointer;

    p {
      position: relative;
      padding: 15px 5px 15px 15px;
      color: #4F4F4F;
      font-size: 14px;
      line-height: 17px;
      width: 100%;

      &:active,
      &:hover {
        text-decoration: underline;
        color: $orange;
      }
    }

    &:nth-child(odd) {
      p {
        background: rgba(196, 196, 196, 0.15);

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -70px;
          width: 70px;
          height: 100%;
          background: rgba(196, 196, 196, 0.15);
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: -70px;
          width: 70px;
          height: 100%;
          background: rgba(196, 196, 196, 0.15);
        }
      }
    }
  }


  @media (min-width: 800px) {
    p {
      font-size: 18px;
      line-height: 21px;

      &:after, &:before {
        display: none;
      }
    }
  }
}