.gost {
  width: 100%;
  background: $white;

  .section--gray {
    padding-left: 8px;
    padding-right: 8px;

    h2 {
      padding-left: 4px;
    }

  }

  h1 {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
  }

  h2 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 24px;
    color: #4f4f4f;
  }

  &__cards {
    margin-bottom: 15px;
    max-height: 260px;
    transition: .6s ease;
    overflow-y: hidden;
  }



  &-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 27px 12px 27px 27px;
    width: 100%;
    background: #fafafa;
    border-radius: 3px;
    cursor: pointer;

    &__text {

      &--lg {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 44px;
        padding-right: 23px;
      }
    }
  }

  &__form {
    position: relative;
    margin: 0 0 48px;
  }

  &-filter {

    &__list {
      margin-bottom: 10px;
    }

    &__input {
      width: 100%;
      margin-bottom: 12px;
      padding: 12px 15px;
      background: $white;
      border: 1.5px solid #e0e0e0;
      border-radius: 5px;
      font-family: Roboto;
      font-size: 14px;
      line-height: 16px;
      color: #3C3C3C;
      outline: none;

      &:active, &:focus {
        border: 1.5px solid #828282;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #E0E0E0;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #E0E0E0;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        font-family: Roboto;
        font-size: 14px;
        line-height: 16px;
        color: #E0E0E0;
      }
    }
  }

  &__list {
    margin: 10px 0 0;

    ul {
      a:hover {
        color: $orange;
      }

      li {
        color: #4F4F4F;
        font-weight: 400;
        line-height: 24px;

        &:first-child {
          margin-top: 0;
        }

        &:after {
          position: absolute;
          content: "";
          top: 9px;
        }

        &:hover {
          text-decoration: underline;
          color: $orange;
        }
      }
    }
  }

  &__card {
    max-width: 450px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__btn {
    display: flex;
    width: 100%;
    height: 40px;

    &--gap {

    }

    .btn {
      background: white;
      color: $orange;
    }
  }

  &__calculator {
    position: relative;
    padding-top: 14px;
    width: 100%;
    background: #f6f6f6;
  }

  &__card {
    margin-bottom: 15px;
  }
}

@media (min-width: 700px) {
  .gost {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      max-height: 260px;
    }

    &__card {
      margin-right: 10px;
      width: 240px;

      &:first-child {
        margin-top: 0;
      }
    }

    &-card {
      padding: 23px 13px;

      &:active, &:hover {
        .text-fs14 {
          transition: .1s linear;
          color: $orange;
        }
      }
    }

    &-filter {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 650px;

      &__input {
        margin-bottom: 0;
        margin-right: 8px;
        width: 100%;
        max-width: 490px;
      }
    }

    &__btn {
      max-width: 164px;

      .btn {
        background: $orange;
        color: white;
      }
    }

    &__list {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        width: 100%;

        li {
          width: 279px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .gost {

    &__list {
      margin-top: 0;
    }

    &__calculator {
      padding-top: 0;
    }
  }
}


