.gost-names-page {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
  a {
    position: relative;
    padding-left: 15px;
    font-weight: 500;
    font-size: 14px;
    color: $orange;
    cursor: pointer;
    margin-bottom: 15px;

    &:before {
      position: absolute;
      content: "";
      top: 6px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $orange;

    }

    &:hover, &:active {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    font-size: 22px;
    line-height: 25px;

    a {
      font-weight: 400;
    }
  }
}
