.gost-table {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
  }

  &-content p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 32px;
    color: #828282;
  }

  &__table {
    margin-bottom: 32px;
  }
}