.manufacture {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 24px;
    color: #828282;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 64px;
  }

  &-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;

    &__img {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 113px;
      height: 113px;
      margin-right: 13px;
      //justify-content: center;
      padding-bottom: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }

    .c-text {
      margin-bottom: 7px;
      max-width: 260px;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #4F4F4F;

      &__days {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: $orange;
      }
    }
  }

  @media (min-width: 800px) {

    h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 26px;
      margin-top: 40px;
    }

    &-cards {
      max-width: 100%;
      margin: 0;
    }

    &-card {
      position: relative;
      width: 270px;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 20px;
      transition: .1s linear;

      &__img {
        width: 100%;
        height: 270px;
      }

      .c-text {
        text-align: left;
        font-size: 20px;
        line-height: 24px;

        .c-text__days {
          position: absolute;
          right: 0;
          top: 0;
          padding: 3px 5px;
          background: $orange;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 5px;
          font-size: 20px;
          line-height: 27px;
          color: white;
        }
      }

      &:active, &:hover {
        .c-text {
          color: $orange;
        }
      }
    }
  }
}