.news-detailed-carousel {
  .owl-nav {
    display: none;
  }
}

.news-detailed {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #828282;
  }

  .news-d__content {
    margin-bottom: 48px;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-carousel {
    padding-bottom: 24px;
  }

  //.owl-carousel .owl-nav {
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-between;
  //  padding: 0 20px;
  //  top: 50%;
  //  transform: translateY(-50%);
  //  width: 100%;
  //
  //  .owl-prev {
  //    margin-left: unset;
  //    width: 38px;
  //    height: 38px;
  //  }
  //
  //  .owl-next {
  //    width: 38px;
  //    height: 38px;
  //  }
  //
  //  svg {
  //    width: 17px;
  //    height: 26px;
  //  }
  //}

  .news-d__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 277px;
    height: 213px;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .news-header {
    display: flex;
    width: 100%;
    max-width: 362px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 190px;
      height: 52px;
      background: $orange;
      border-radius: 555px;
    }
  }


  @media (max-width: 1200px) {
    .owl-carousel .owl-nav {
      padding: 0 60px;
    }
  }
  @media (max-width: 900px) {
    .owl-carousel .owl-nav {
      padding: 0;
    }
  }
  @media (max-width: 768px) {
    h1 {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }

    .news-d__content {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }

    .news-d__img {
      margin-top: 10px;
      width: 288px;
      height: 198px;
      max-width: 100%;

      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }
    }
    .owl-carousel {
      padding-bottom: 60px;
      margin-bottom: 33px;


      .owl-dots {
        position: absolute;
        left: 0;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          transition: .1s ease;
          width: 8px;
          height: 8px;
          margin-left: 11px;
          border-radius: 50%;
          background: #D0D0D0;
        }

        .active {
          background: $orange;
        }
      }

      .owl-nav {
        width: 81px;
        margin-right: 5px;
        height: 35px;
        bottom: 8px;
        top: unset;
        transform: unset;
        right: 0;

        .owl-prev, .owl-next {
          width: 28px;
          height: 28px;
          flex-shrink: 0;
          transition: .3s ease;

          svg {
            width: 10px;
            height: 10px;
          }
        }

        .news-images-nav {
          &-next {
            width: 28px;
            height: 28px;
          }
          &-prev {
            width: 28px;
            height: 28px;
          }
        }

        button {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

