.news {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 360px;
    margin: 0 auto 15px;
    padding: 23px 10px 16px 16px;
    border: 3px solid #F2B61A;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;

    &:hover, &:active {
      p {
        color: $orange;
      }
    }

    &__img {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 158px;
      height: 158px;
      margin-bottom: 16px;
    }

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    p {
      padding-bottom: 19px;
      font-size: 14px;
      line-height: 16px;
      color: #4F4F4F;
    }

    span {
      margin-right: auto;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
    }
  }

  &__btn {
    display: flex;
    width: 240px;
    height: 50px;
    margin-top: 20px;

    .btn {
      color: #4F4F4F;
    }
  }

  .text--orange {
    display: none !important;
  }

  @media(min-width: 768px) {
    &-cards {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &-card {
      display: flex;
      flex-direction: column;
      position: relative;
      width: calc((1 / 3 * 100%) - (1 - 1 / 3) * 15px);
      max-width: 360px;
      margin: 0 7px 7px 0;
      padding: 23px 10px 16px 16px;
      border: 3px solid #F2B61A;
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;

      &:hover, &:active {
        p {
          color: $orange;
        }
      }

      &__img {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 158px;
        height: 158px;
        margin-bottom: 20px;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      p {
        padding-bottom: 19px;
        font-size: 14px;
        line-height: 16px;
        color: #4F4F4F;
      }

      span {
        margin-right: auto;
        font-size: 14px;
        line-height: 16px;
        color: #828282;
      }
    }

    &__btn {
      display: flex;
      width: 310px;
      height: 56px;
      margin-top: 20px;

      .btn {
        color: #4F4F4F;
      }
    }
  }

  @media(min-width: 1400px) {
    &-card {
      margin-right: 19px;
      margin-bottom: 19px;
    }
  }
}
