$orange: #f2b61a;
$white: #ffffff;
$gray: #efefef;
$black: #333333;

.page-statistic {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #4F4F4F;
    margin-bottom: 27px;
  }

  h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #4F4F4F;
    margin-bottom: 12px;
  }

  .info-line {
    display: flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: flex-start;

    &__text {
      flex-shrink: 0;
      width: 40px;
    }

    &__dash {
      margin: 17px 18px 0;
      width: 100%;
      border-bottom: 1px dashed #bdbdbd;
    }
  }

  &__list-line {
    position: relative;
    width: 100%;
    margin: 37px 0 34px;
  }

  &__card {
    position: relative;
    padding-bottom: 14px;
    border-bottom: 1px solid #E9E9E9;

    &:after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      width: 1400px;
      height: 1px;
      background: #E9E9E9;
    }
  }

  .info-card {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 45px 0 20px;

    &__card {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin-right: 21px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__item {
      margin-top: 8px;

      .text-fs14 {
        margin-bottom: 10px;
      }
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      max-width: 140px;
    }
  }

  .list {
    padding-bottom: 24px;
    li {
      font-weight: 400;
      font-size: 16px;
    }
  }



  &__card-list {
    margin-bottom: 44px;
  }

  &__finance-card {
    margin-bottom: 6px;
  }

  &__list-deals {
    margin-bottom: 20px;
  }

  &__personal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__personal-item {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  &__deals {
    margin: 20px 0;
  }

  &__graph {
    margin-bottom: 90px;
    width: 295px;
    height: 33px;
    background: $orange;
  }

  &__title {
    margin-bottom: 23px;

    &--md {
      margin-bottom: 14px;
    }
  }



  &__line {
    display: flex;
    align-items: baseline;
    width: 100%;
  }

  &__article {
    margin-top: 30px;
  }

  &__btn {
    display: flex;
    margin-top: 20px;
    width: 240px;
    height: 50px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    color: #4f4f4f;
  }
}


.finance-report {
  position: relative;

  &__info {
    margin-bottom: 40px;
  }

  &__year {
    position: absolute;
    left: 250px;
    top: 65%;
  }
}

.finance-card {
  display: flex;
  align-items: center;
  padding: 16px 15px;
  width: 100%;
  background: $orange;
  border-radius: 5px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 59px;
    height: 59px;
    background: $white;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__number {
    font-size: 32px;

    &--gap {
      margin-bottom: 3px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.list-deals {
  position: relative;
  padding: 5px 10px 4px;

  &:after {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 3px;
    height: 55px;
    background: $orange;
  }

  &__text-gap {
    margin-bottom: 17px;
  }
}