.politics {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
  }

  h2 {
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
    margin-bottom: 24px;
    font-weight: 500;
  }

  a {
    &:hover, &:active {
      text-decoration: underline;
    }
  }

  @media (min-width: 800px) {
  }
}
