.portfolio {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  .divider {
    display: none;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    max-width: 420px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 14px);
    min-width: 134px;
    max-width: 200px;
    margin-left: 5px;
    cursor: pointer;
    flex-shrink: 0;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 134px;
      max-width: 200px;
      min-height: 120px;
      max-height: 160px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .c-text {
      text-align: left;
      font-size: 12px;
      line-height: 15px;
      padding: 7px;
    }
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 26px;
      line-height: 30px;
    }

    .divider {
      display: flex;
      padding: 0;
      margin-bottom: 24px;
      width: 120%;
      margin-left: 50%;
      transform: translateX(-50%);

      &-content {
        width: 87%;
        padding: 23px 30px;
      }

      p {
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 26px;
    }

    &-cards {
      max-width: 100%;
      margin: 0 0 0 -15px;
    }

    &-card {
      position: relative;
      width: 263px;
      max-width: 100%;
      margin-left: 20px;
      margin-right: 0;
      margin-bottom: 20px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &:active, &:hover {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
      }

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 263px;
        height: 200px;
        max-height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        margin-bottom: 0;
        border-radius: 0;
      }

      .c-text {
        padding: 10px 10px 15px;
        text-align: left;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}