
.portfolio-detailed {
  display: flex;

  &__box {
    flex-direction: column;
    margin-bottom: 48px;
  }

  h1 {
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #4F4F4F;
  }

  &__gallery {
    width: 100%;
    margin-bottom: 15px;

    .owl-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      .owl-dot {
        margin-right: 10px;

        button {
          position: relative;
          border-radius: 50%;
          background: $light-gray;
          width: 12px;
          height: 12px;
          outline: none;
        }

        &.active {
          button {
            outline: none;
            border: 0;

            &:after {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 16px;
              height: 16px;
              border: 2px solid $orange;
              border-radius: 50%;

            }
          }
        }
      }
    }
  }

  .item {
    margin: 0 auto 10px;
    max-width: 500px;
    width: 100%;
    height: 224px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hide-mb {
    display: none;
  }

  .pd-content {
    margin-bottom: 32px;

    p {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;
      color: #828282;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-btns {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 32px auto 0;
  }

  .d-flex svg {
    margin-right: 17px;
    width: 20px;
    height: 34px;
    fill: $orange;
  }

  .hide-mb {
    display: none;
  }

  .hide {
    display: block;
  }

  .consult-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 22px 32px;
    margin-bottom: 32px;
    background: $gray-light;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      width: 70px;
      height: 100%;
      background: $gray-light;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -70px;
      width: 70px;
      height: 100%;
      background: $gray-light;
    }

    &__row {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 330px;
      margin-bottom: 30px;
    }

    &__icon-frame {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 135px;
      height: 135px;
      border: 15px solid $white;
      border-radius: 50%;
    }

    &__img {
      width: 109px;
      height: 109px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__text {
      font-family: Roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #333333;
      margin-bottom: 15px;

      &--sm {
        margin-top: 10px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
      }

      &--gap {
        margin-top: 20px;
      }
    }
  }

  .consult-field {
    width: 100%;
    max-width: 332px;

    &__label {
      display: none;
    }

    &__input {
      width: 100%;
      padding: 13px 9px 13px 13px;
      margin-bottom: 20px;
      border: 1.5px solid white;
      font-size: 12px;
      line-height: 14px;
      color: #C2C2C2;

      &.field:focus {
        border: 1.5px solid #828282 !important;
        color: $black;
      }

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: Roboto;
        font-size: 12px;
        line-height: 14px;
        color: #C2C2C2;
        opacity: 1; /* Firefox */
      }
    }

    .checkbox {
      &__text {
        &:before {
          border: 1px solid #F2B61A;
        }

        &:after {
          top: 5px;
          left: 3px;
        }
      }
    }

    &__btn {
      display: flex;
      width: 100%;
      margin-top: 15px;
      height: 40px;

      .btn {
        font-size: 12px;
      }
    }
  }

  &__offers {
    padding: 40px 21px 29px 11px;
    background: #F5F5F5;
  }

  a:hover, a:active {
    text-decoration: underline;
  }
}

.section-spec {

  &__specials {
    margin-top: 15px;
  }

  &__link {
    position: absolute;
    bottom: 13px;
    right: -127px;
  }

  &__list {
    margin-top: 15px;

    .text-fs14 {
      position: relative;
      padding: 15px 0;

      &:nth-child(odd) {
        background: #F5F5F5;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -70px;
          width: 70px;
          height: 100%;
          background: rgba(196, 196, 196, 0.15);
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: -70px;
          width: 70px;
          height: 100%;
          background: rgba(196, 196, 196, 0.15);
        }
      }
    }
  }
}


@media (min-width: 400px) {
  .portfolio-detailed .consult-field .checkbox {
    &__text:after {
      top: 0;
    }
  }
}

@media (min-width: 800px) {
  .portfolio-detailed {
    &__box {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
    }

    &__info {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &__gallery {
      position: relative;
      display: flex;
      flex-shrink: 0;
      padding-left: 78px;
      margin-right: 21px;
      margin-bottom: 0;
      max-width: 373px;

      .owl-dots {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        height: 100%;
        left: -41px;
        top: -1px;
      }

      .owl-dots .owl-dot {
        margin-bottom: 9px;
        width: 67px;
        height: 68px;
      }

      .owl-dots .owl-dot button {
        border: none;
        background: transparent;
        width: 100%;
        height: 100%;
      }

      .owl-dots .owl-dot {
        &.active {
          border: 2px solid $orange;

          button:after {
            display: none;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-btns {

      margin-top: auto;
      margin-bottom: 3px;

      .btn {
        width: 100%;
        max-width: 240px;

        &:first-child {
          margin-right: 21px;
          margin-bottom: 0 !important;
        }
      }

      max-width: 700px;
      width: 100%;
      flex-direction: row;
    }

    .gallery {
      &-control {
        position: absolute;
        top: 0;
        left: 0;
      }

      &-cards {
        display: flex;
        flex-direction: column;

        img {
          object-fit: cover;
          width: 66px;
          height: 66px;
          margin-bottom: 8px;
        }
      }
    }

    .item {
      max-width: 300px;
      margin-bottom: 0;
      margin-left: unset;
      margin-right: unset;

      img {
        width: 289px;
        height: 221px;
      }
    }

    &__img {
      margin-bottom: 118px;
    }

    &__price-order {
      position: absolute;
      left: 0;
      bottom: -21px;
    }

    &__price-info {
      width: 100%;

      .text-fs20 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 0;
      }
    }

    .consult-form {
      margin-bottom: 40px;

      &__row {
        flex-direction: row;
        justify-content: space-between;
        max-width: 790px;
      }

      &__title {
        margin-bottom: 0;
      }
    }

    .hide {
      display: none;
    }

    .hide-mb {
      display: flex;
    }
  }

  .section-spec {
    &__list {
      .text-fs14 {
        padding-left: 15px;
        font-size: 16px;
        line-height: 19px;

        &:nth-child(odd) {
          &:after, &:before {
            display: none;
          }
        }
      }
    }
  }


  @media (min-width: 1300px) {
    .portfolio-detailed {
      .consult-form {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 34px 22px 39px;

        &:after, &:before {
          display: none;
        }

        &__row {
          align-items: flex-start;
          margin-left: 10px;
          max-width: 100%;
        }

        &__info {
          flex-direction: row;
          align-items: flex-start;
          margin-bottom: 0;
          margin-right: 21px;
          max-width: 345px;
        }

        &__title {
          flex-shrink: 0;
          font-size: 22px;
          line-height: 26px;
          text-align: left;
          max-width: 230px;
        }

        &__text {
          text-align: left;
          font-size: 16px;
          line-height: 19px;

          &--gap {
            margin-top: 7px;
          }
        }

        .text-fs14 {
          text-align: left;
        }

        &__icon-frame {
          flex-shrink: 0;
          margin-right: 18px;
          max-width: 89px;
          max-height: 89px;
          border: 10px solid white;
        }

        &__img {
          width: 100%;
          height: 100%;
        }
      }

      .consult-field {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 10px;
        max-width: 435px;

        input {
          margin-bottom: 0;
          max-width: 170px;
        }

        &__btn {
          margin-top: 0;
          width: 150px;
          max-width: 150px;
          height: 43px;
          margin-left: 21px;

          .btn {
            font-size: 14px;
          }
        }

        &__label {
          position: absolute;
          font-size: 12px;
          line-height: 14px;
          top: -10px;
          left: 0;
          display: flex;
        }
      }

      .checkbox {
        order: 1;
        margin-top: 19px;
      }
    }
  }

  @media (min-width: 1400px) {
    .portfolio-detailed {
      .consult-field input {
        max-width: 247px;
      }
    }
  }
}

