
.select__icon {
  display: none;
}

.select-product {
  display: flex;
  align-items: center;
  border-radius: 5px;
  &__row {
    width: 100%;
    width: 100%;
    border-radius: 5px;
  }

  &__icon {
    position: relative;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $orange;
    transform: rotate(90deg);
  }
}

.prod-labels {
  position: relative;

  &__list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    border-radius: 25px;
    max-height: 200px;
    overflow: auto;
    transition: all .4s linear;

    .text {
      padding-top: 10px;
      margin-right: 18px;

      &:first-child {
        padding-top: 15px;
      }

      &:last-child {
        padding-bottom: 21px;
      }

      &:hover {
        color: $orange;
        cursor: pointer;
      }
    }

    &.active {

    }
  }
}


.product {
  h1 {
    margin-bottom: 12px;
  }

  h2 {
    margin-bottom: 16px;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__call {
    position: relative;
    width: 100%;
    max-width: 711px;
    padding: 10px 10px 4px;

    &:after {
      position: absolute;
      left: 0;
      top: 5px;
      content: "";
      width: 3px;
      height: 100%;
      max-height: 85%;
      background: $orange;
    }

    a {
      z-index: 40;
    }
  }

  &__line {
    margin: 15px 0 20px;
  }

  &-img {
    width: 252px;
    height: 252px;
    margin: 0 auto 15px;
    object-fit: contain;
  }

  &__info {
    margin-bottom: 15px;

    p {
      color: #828282;
    }
  }

  .accordion {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding-left: 18px;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    background: white;
    border-radius: 25px;

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 48px;
      border: 2px solid #F2B61A;
      border-radius: 55px;
      cursor: pointer;
      transition: .6s linear;

      &--act {
        transform: rotate(-180deg);
      }
    }


    svg {
      stroke: #4F4F4F;
      width: 16px;
      height: 11px;
    }

    &-collapse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46px;
      z-index: 40;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &__list {
        transition: .4s linear;
        opacity: 1;
        overflow: hidden;

        li {
          font-weight: 400;
        }

        &--hide {
          padding: 0;
          opacity: 0.25;
          height: 0;
        }
      }

      svg {
        width: 25px;
        height: 12.5px;
        stroke: $orange;
        z-index: 20;
      }

      &__item {
        position: relative;
        width: 100%;
        //padding-bottom: 20px;

        h3 {
          margin: 10px 0;
        }

        ul {
          padding-bottom: 10px;
        }

        .list {
          li {
            margin-top: 11px;

            &:first-child {
              margin-top: 0;
            }

            a {
              text-decoration: none;

              &:active, hover {
                text-decoration: underline;
              }
            }
          }
        }

        .list--sm {
          li {
            font-size: 12px;
            line-height: 15px;
          }
        }

        .product-specialize {

          p {
            padding-bottom: 10px;
            //  font-size: 16px;
            //  line-height: 19px;
          }
        }

        &--gray:after {
          position: absolute;
          content: "";
          background: #C4C4C4;
          left: -31px;
          top: 0;
          width: 120%;
          height: 100%;
          opacity: 0.1;
        }
      }
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 30px;
    width: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 25px;
    z-index: 10;

    .text {
      padding-left: 15px;
    }
  }

  .pr-filter {
    &-reset {
      display: none;
    }

    &-last {
      display: none;
    }
  }

  .selector {
    &__filters {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 21px;
      background: rgba(196, 196, 196, 0.15);

      &-list {
        position: relative;
        padding-bottom: 22px;
        overflow-x: hidden;
        transition: all .4s linear;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin: 12px 0 29px;

      //&.collapse {
      //  display: flex;
      //}
    }

    &-collapse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46px;
      z-index: 40;

      &.collapsed:not {
        &.selector__item {
          background: red;
          display: none;
          &.collapse {
            display: flex;
          }
        }
      }
    }

    &__head {
      position: relative;
    }

    &-inn-collapse {
      display: none;
    }

    &-others {
      position: absolute;
      display: flex;
      align-items: center;
      right: 18px;
      top: 21px;

      p {
        padding-right: 8px;
        font-size: 14px;
        line-height: 16px;
      }

      svg {
        width: 13px;
        height: 6.5px;
        stroke: $orange;
      }
    }

    &__item {
      position: relative;
      padding: 16px 20px 0;

      .collapse:not(.show) {
        display: flex;
      }
      .collapse {


        //display: flex;
      }

      &::after {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        height: 1px;
        background: #f2f2f2;
      }

      &:nth-child(3) {
        &::after {
          display: none;
        }
      }
    }

    &__checkbox {
      margin-bottom: 11px;
    }

    &__btn {
      display: flex;
      margin: -10px auto 17px;
      max-width: 253px;
      height: 40px;
    }

    &__reset {
      text-align: center;
    }
  }

  &__table {
    background: white;
  }

  &__item {
    width: 49%;
    margin-bottom: 10px;
  }

  .divider {
    padding: 21px 15px;
  }

  &-service {
    padding: 27px 15px 60px;
    background:  #F5F5F5;

    .gap {
      padding-top: 30px;
    }
  }

  @media (min-width: 1000px) {
    h1 {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 19px;
    }

    h2 {
      font-size: 22px;
      line-height: 26px;
    }

    h3 {
      font-size: 20px;
      line-height: 23px;
    }

    .text-fs16 {
      font-size: 18px;
      line-height: 21px;
    }


    &__info {
      margin-bottom: 33px;
      //margin-left: 232px;
      p {
        font-size: 16px;
        line-height: 19px;
        color: #828282;
      }
    }

    &__accordion {
      max-width: 100%;
      margin-left: auto;
    }

    .accordion-list {
      margin-top: 7px;

      svg {
        display: none;
      }

      .collapse:not(.show) {
        display: flex;
      }

      &__item {
        max-width: 50%;
        padding-bottom: 0;

        h3 {
          margin: 25px 0 18px;
        }

        .list li {
          margin-top: 20px;

          &:first-child {
            margin-top: 0;
          }
        }

        .list--sm {
          max-width: 450px;

          li {
            font-size: 14px;
            line-height: 17px;
          }
        }


        &--lg {
          max-width: 100%;
        }
      }
    }

    .accordion-collapse {
      display: none;
    }

    &__call {
      .text-fs14 {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &-specialize {
      padding-bottom: 20px;
    }
  }

  @media (min-width: 1400px) {
    &__info {
      margin: 0 0 50px 232px;
    }

    .section {
      position: relative;
    }

    &__card {
      position: absolute;
      left: 25px;
      top: 0;
      width: 214px;
    }

    &__filters {
      margin-bottom: 69px;
    }

    .pr-filter {
      position: relative;
      padding: 70px 5px 50px 12px;
      background: rgba(196, 196, 196, 0.15);

      &-reset {
        position: absolute;
        top: 20px;
        left: 0;
        display: flex;
        padding: 0 36px 0 12px;
        width: 100%;
        height: 60px;
        align-items: center;
        cursor: pointer;

        .text-fs16 {
          margin-left: auto;

          &:active, &:hover {
            text-decoration: underline;
          }
        }

        svg {
          margin-left: 15px;
          width: 10px;
          height: 10px;
          stroke: #333333;
        }
      }

      &-last {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 30px;
        left: 14px;

        div .text {
          padding: 9px 6px;
          background: rgba(196, 196, 196, 0.15);
          border-radius: 5px;
          cursor: pointer;

          &:hover, active {
            background: $orange;
          }
        }
      }
    }

    .selector__head {
      display: flex;
      align-items: center;
      padding: 12px 10px;
      width: 100%;
      border-radius: 5px;
      background: white;
      cursor: pointer;
    }

    .selector-collapse {
      display: none;
    }

    .selector-inn-collapse {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      height: 35px;
      z-index: 40;
    }

    .selector-others {
      display: none;
    }

    .select__icon {
      display: flex;
      margin-left: auto;
      width: 0px;
      height: 0px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid $orange;
      transform: rotate(90deg);
    }

    .selector__filters {
      display: none;

      &-list {
        display: flex;
        flex-wrap: wrap;
        overflow: inherit;
        padding: 15px 0 15px;
      }
    }

    .selector__item {
      position: relative;
      padding: 0;
      width: 100%;
      max-width: 174px;
      margin-right: 10px;
      margin-bottom: 10px;



      &:after {
        content: none;
      }

      .collapse:not(.show) {
        display: none;
      }

      .collapse, .collapsing {
        position: absolute;
        width: 100%;
        left: 0;
        top: 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 40;
      }
    }

    .selector__list {
      margin: 0;
      padding: 10px;
      left: 0;
      width: 100%;
      background: white;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
      z-index: 20;

      //&.collapse:not(.show) {
      //display: none;
      //}
    }

    .selector__btn {
      display: none;
    }

    .selector__reset {
      display: none;
    }

    //&__accordion {
    //  border: none;
    //
    //  .accordion {
    //    border: none;
    //    max-width: 160px;
    //    margin-left: auto;
    //    margin-bottom: 15px;
    //
    //  }
    //}

    .prod-labels {

      &__row {

        .label {
          top: 1px;
          left: 231px;
        }
      }

      &__list {
        border: 2px solid $orange;
        border-radius: 0;
      }
    }


    &__content {
    }
  }
}

.product-list {
  &__item {
    width: 100%;
    max-width: 290px;
  }
}

.section {


  &__list > li {
    font-weight: normal;
  }

  //&__call {
  //  p {
  //    margin-bottom: 15px;
  //    padding-left: 20px;
  //  }
  //
  //  .call-block {
  //    padding: 8px 0 0 20px;
  //  }
  //}

  &__products {
    margin: 13px 0 21px;
  }

  h2 {
    //margin-bottom: 15px;
  }

  h3 {
    //margin-bottom: 18px;
  }
}

//.accordion {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: 15px 0;
//
//  h3 {
//    margin: 0;
//  }
//
//  &__icon {
//    width: 25px;
//    height: 12px;
//  }
//}

.accordion-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  width: 100%;
}

//.accordion-list {
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  width: 100%;
//  margin-top: 27px;
//  margin-bottom: 15px;
//
//  &__list {
//    transition: .4s linear;
//    opacity: 1;
//    overflow: hidden;
//
//    &--gray {
//      padding: 0 15px;
//      position: relative;
//      left: 50%;
//      margin-left: -50vw;
//      width: 100vw;
//      background: #c4c4c4;
//    }
//
//    &--hide {
//      padding: 0;
//      opacity: 0.25;
//      height: 0;
//    }
//  }
//
//  svg {
//    width: 25px;
//    height: 12.5px;
//    stroke: $orange;
//  }
//
//  &__item {
//    width: 100%;
//  }
//}

.hide-mb {
  display: none;
}

.icon {
  &--orange {
    stroke: $orange !important;
  }
}

@media (min-width: 400px) {
  .product {
    &__list {
      justify-content: center;
    }

    &__item {
      width: 41%;
      text-align: center;
    }
  }
}

@media (min-width: 600px) {
  .product {
    &__list {
      justify-content: flex-start;
    }

    &__item {
      width: 100%;
      width: 25%;
      text-align: center;
    }

    //.table {
    //  &__row {
    //    display: flex;
    //    align-items: baseline;
    //
    //    &--hide-mb {
    //      display: none;
    //    }
    //  }
    //
    //  &__item {
    //    margin-right: 20px;
    //    max-width: 191px;
    //  }
    //
    //  .list {
    //    display: flex;
    //
    //    li {
    //      margin-right: 20px;
    //    }
    //  }
    //}
  }

  .product-list {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  .product {
    .prod {
      &-labels {
        &__row {
          position: relative;
          display: flex;
          align-items: center;

          .label {
            position: absolute;
            top: 17px;
            left: 0;
          }
        }

        &__list {
          padding: 11px 5px;
          border: 1px solid #F2B61A;
          border-radius: 0;
          margin-bottom: 30px;

          .text, .text:first-child {
            margin-right: 9px;
            padding: 10px 25px;
            border-radius: 5px;

            &.text-fs16 {
              font-size: 18px;
              line-height: 21px;
            }

            &:hover {
              background: rgba(196, 196, 196, 0.15);
              color: #4f4f4f;
            }

            &:active, &.active {
              background: darken(rgba(196, 196, 196, 0.15), 40%);
              color: #4f4f4f;
            }
          }
        }
      }
    }

    &__accordion {
      margin: 0;
      border: none;

      .accordion {
        border: none;
        max-width: 160px;
        margin-left: auto;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: 900px) {
  .product {
    .divider {
      padding: 23px 30px;

      &-content {

        .text-fs12 {
          font-size: 14px;
          line-height: 16px;
          color: #333333;
        }

        .text-fs14 {
          padding-bottom: 20px;
          font-size: 16px;
          line-height: 19px;
          color: #333333;
        }

        h2 {
          color: #333333;
        }
      }
    }
  }


  .product {
    &__filters {
    }

    &__table {
      position: relative;
      width: 100%;
      margin: 0;
      max-width: 1200px;
    }

    //.table {
    //  &__row {
    //    margin-top: 0;
    //    padding: 20px 10px;
    //    border-radius: 0;
    //    border-bottom: 1px solid #f6f6f6;
    //    box-shadow: none;
    //
    //    align-items: center;
    //
    //    &--hide-mb {
    //      display: flex;
    //    }
    //
    //    &--gray {
    //      background: #f6f6f6;
    //    }
    //
    //    .text--light {
    //      font-weight: 400 !important;
    //    }
    //  }
    //
    //  &__item {
    //    margin-right: 55px;
    //    max-width: 281px;
    //
    //    &-buy {
    //      display: flex;
    //      justify-content: space-between;
    //      align-items: center;
    //      width: 100%;
    //      max-width: 200px;
    //    }
    //
    //    &--hide-mb {
    //      display: flex;
    //    }
    //  }
    //
    //  &__index {
    //    color: black;
    //    text-align: flex-start;
    //    width: 100%;
    //    max-width: 30px;
    //  }
    //
    //  &__list {
    //    justify-content: space-between;
    //    margin-right: 97px;
    //    width: 430px;
    //
    //    &--header {
    //    }
    //
    //    .list {
    //      justify-content: space-between;
    //    }
    //
    //    li {
    //      min-width: 148px;
    //      padding-left: 0;
    //
    //      &:after {
    //        content: none;
    //      }
    //    }
    //  }
    //
    //  .text {
    //    font-size: 18px;
    //  }
    //
    //  &__info {
    //    display: none;
    //  }
    //
    //  &__buy {
    //    margin-right: 17px;
    //    width: 40px;
    //    height: 40px;
    //  }
    //
    //  &--hide-text {
    //    display: none;
    //  }
    //
    //  //.t-hide {
    //  //  display: flex;
    //  //}
    //}
  }

  .accordion-list {

    &__list--gray {
      padding: 0 27px;
    }

    &__part {
      width: 45%;
    }
  }

  .accordion__icon {
    display: none;
  }
}