.safety-store {
  h1 {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #4F4F4F;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 14px;
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 14px;
  }

  .divider {
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      width: 70px;
      height: 100%;
      background: $orange;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -70px;
      width: 70px;
      height: 100%;
      background: $orange;
    }
  }

  img {
    margin: 15px auto 15px;
    width: 100%;
    object-fit: cover;
  }

  &__call {
    padding: 30px 18px 30px;
    background: #F5F5F5;
    h3 {
      font-weight: 500;
    }
    p {
      margin-bottom: 30px;
      max-width: 400px;
      font-size: 14px;
      line-height: 19px;
      color: #4F4F4F;
    }
  }


  @media (min-width: 500px) {
    img {
      max-width: 400px;
    }
  }

  @media (min-width: 700px) {
    img {
      max-width: 600px;
    }
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 25px;
    }
    h2 {
      font-size: 22px;
      line-height: 26px;
    }

    h3 {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
    }

    .text-fs16 {
      font-size: 18px;
      line-height: 21px;
    }

    .text-fs12 {
      font-size: 14px;
      font-weight: 500;
    }

    .text-fs14 {
      font-size: 16px;
      line-height: 21px;
    }

    img {
      max-width: 1100px;
      margin: 40px 0 40px;
    }

    &__call {
      p {
        margin-bottom: 20px;
        max-width: 659px;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}