.service-detail {
  h1 {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  &__call {
    padding: 30px 18px 30px;
    background: #F5F5F5;

    p {
      margin-bottom: 30px;
      max-width: 400px;
      font-size: 14px;
      line-height: 19px;
      color: #4F4F4F;
    }
  }

  &__btn {
    display: flex;
    width: 240px;
    height: 50px;

    .btn {
      color: #4F4F4F;
    }
  }

  .article-content {
    margin-bottom: 15px;
  }

  .about-content {
    margin-bottom: 15px;
  }

  &-content {
    margin-bottom: 15px;
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 26px;
      line-height: 30px;
    }

    p {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 41px;
    }

    h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 26px;
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
    }

    &__call {
      p {
        margin-bottom: 20px;
        max-width: 659px;
        font-size: 18px;
        line-height: 25px;
      }
    }

    &-cards {
      max-width: 100%;
      margin: 0;
    }

    &-card {
      position: relative;
      width: 100%;
      min-width: 200px;
      max-width: 280px;
      margin-right: 0;

      &:after {
        position: absolute;
        content: '';
        left: 10px;
        top: 10px;
        width: 13%;
        height: 20%;
        border-left: 3px solid $orange;
        border-top: 3px solid $orange;
      }

      &:before {
        bottom: 0;
        right: 0;
        border-right: 3px solid $orange;
        border-bottom: 3px solid $orange;
      }

       &:nth-child(odd) {
        margin-right: 0px;
        margin-bottom: 14px;
      }

      .c-text {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        text-align: left;
        font-size: 24px;
        line-height: 28px;
        max-width: 85%;
        color: white;
      }

    }



  }
}