.service {
  h1 {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 420px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 14px);
    min-width: 134px;
    max-width: 200px;
    cursor: pointer;

    &:nth-child(odd) {
      margin-right: 14px;
      margin-bottom: 15px;
    }

    &__img {
      display: flex;
      align-items: center;
      //justify-content: center;
      padding-bottom: 10px;
    }

    img {
      max-width: 100%;
      object-fit: contain;
      border-radius: 5px;
    }

    .c-text {
      text-align: left;
      font-size: 12px;
      line-height: 15px;
    }
  }

  @media (min-width: 800px) {
    h1 {
      font-size: 26px;
      line-height: 30px;
    }

    p {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 41px;
    }

    h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 26px;
      margin-top: 40px;
    }

    &-cards {
      max-width: 100%;
      margin: 0;
    }

    &-card {
      position: relative;
      width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 14px);
      min-width: 200px;
      max-width: 260px;
      margin-right: 10px;

       &:nth-child(odd) {
         margin-right: 10px;
        margin-bottom: 14px;
      }

      .c-text {
        text-align: left;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}