.specials-list {
  width: 100%;

  h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
  }

  &__cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
  }

  .card-sl {
    position: relative;
    margin: 20px 10px 20px;
    width: 248px;
    background: white;
    border-radius: 3px;
    transition: .3s ease;
    cursor: pointer;

    &:hover, &:active {
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }

    &__label {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 152px;
      height: 34px;
      background: $orange;

    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      max-height: 180px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__content {
      padding: 16px 10px 21px;
      border: 1px solid #EAEAEA;
      border-radius: 3px;
    }

    .active {
      position: absolute;
      z-index: 3;
      background: white;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

      &:hover {

      }

      .card-sl__more svg {
        transform: rotate(-180deg);
      }
    }

    .list {
      max-height: 92px;
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      li {
        font-weight: 400;
      }
    }

    &__more {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 7px 0;
      cursor: pointer;

      svg {
        transform: rotate(0);
        margin-left: 6px;
        width: 14px;
        height: 7px;
        stroke: black;
      }
    }

    &__price {
      margin-bottom: 8px;
      color: $orange;
      font-weight: 600;
    }

    &__footer-mb {
      display: none;
    }
  }


  @media (max-width: 1500px) {
    .card-sl {
      max-width: 220px;
    }
  }

  @media (max-width: 1300px) {
    .card-sl {
      max-width: 220px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__cards {
      margin-left: -10px;
    }

    .card-sl {
      display: flex;
      flex-direction: row;
      margin: 10px 10px 0;
      max-width: 302px;
      width: 302px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .active {
        &.card-sl__label {
          z-index: 2;
        }
        .text-fs18 {
          margin-top: 20px;
        }
      }

      &__label {
        width: 99px;
        height: 23px;
        border-top-left-radius: 3px;

        .text {
          color: white;
          font-size: 10px;
          line-height: 12px;
        }
      }

      &__img {
        display: none;
        margin-top: 23px;
        flex-shrink: 0;
        width: 99px;
        height: 77px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text-fs18 {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
      }

      &__content {
        padding-top: 30px;
        border: 0;

      }

      .list {
        max-height: 52px;

        li {
          margin-top: 0;
          padding-left: 0;
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;

          &:after {
            display: none;
          }
        }
      }

      &__footer-mb {
        display: flex;
        align-items: flex-end;

        span {
          line-height: 14px;
        }

        svg {
          margin-right: 7px;
          width: 11px;
          height: 11px;
        }
      }
    }

    .hide {
      display: none;
    }
  }
}





