.mb-info {
  padding-top: 16px;

  &__row {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    margin-top: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;

    &--sm {
      font-weight: 300;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}

.specials-detailed {
  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__img {
    margin-bottom: 15px;
    object-fit: cover;
    flex-shrink: 0;
    width: 100%;
    max-width: 400px;
    height: 224px;

    @media (min-width: 400px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
  }

  &__text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
  }

  &__price {
    margin-top: 10px;
    margin-bottom: 24px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: $orange;

    &-info {
      .text-fs20 {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  &__btn {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    width: 100%;
    max-width: 162px;
    height: 40px;
  }

  .hide-mb {
    display: none;
  }

  .hide {
    display: block;
  }

  &__offers {
    padding: 40px 21px 29px 11px;
    background: #F5F5F5;
  }
  &__others {
    padding: 15px;
  }
}

.section-spec {

  &__specials {
    margin-top: 15px;
  }

  &__link {
    position: absolute;
    bottom: 13px;
    right: -127px;
  }

  &__list {
    margin-top: 15px;

    .text-fs14 {
      position: relative;
      padding: 15px 0;

      &:nth-child(odd) {
        background: #F5F5F5;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -70px;
          width: 70px;
          height: 100%;
          background: rgba(196, 196, 196, 0.15);
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: -70px;
          width: 70px;
          height: 100%;
          background: rgba(196, 196, 196, 0.15);
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .specials-detailed {
    &__info {
      position: relative;
    }

    .text-fs18 {
      font-weight: 500;
      font-size: 22px;
      line-height: 25px;
    }

    &__img {
      margin-bottom: 118px;
    }

    &__price-order {
      position: absolute;
      left: 0;
      bottom: -21px;
    }

    &__price-info {
      width: 100%;

      .text-fs20 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 0;
      }
    }

    .hide {
      display: none;
    }

    .hide-mb {
      display: flex;
    }
  }

  .specials-detailed .section-spec__link {
      display: flex;
      align-items: center;
      top: 10px;
      right: -170px;
    cursor: pointer;

    img {
      margin-left: 10px;
    }
  }

  .section-spec {
    .mb-info {
      padding-top: 4px;
    }

    &__list {
      .text-fs14 {
        padding-left: 15px;
        font-size: 16px;
        line-height: 19px;
        &:nth-child(odd) {
          &:after, &:before {
            display: none;
          }
        }
      }
    }
  }

  .specials-detailed {
    &__img {
      margin-left: 0;
      margin-right: 40px;
      max-width: 300px;
      height: 175px;
    }

    &__info {
      display: flex;
      flex-direction: row;
    }
  }
}

