.statistics {
  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4F4F4F;
  }

  .law-info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;

    .law-info {
      width: 660px;
      max-width: 100%;
      border-bottom: 1px solid #F5F5F5;

      .d-flex {
        padding: 12px 23px;

        &:nth-child(odd) {
          background: #F5F5F5;
        }

        p {
          font-size: 14px;
          line-height: 17px;
          color: #4F4F4F;
        }
      }
    }

    .leadership-info {
      margin-left: 10px;
      width: 465px;
      max-width: 100%;
      border: 2px solid #F5F5F5;
      border-radius: 7px;
      padding: 18px 15px 17px 23px;

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
        width: 57px;
        height: 57px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .d-flex {
        margin-bottom: 12px;
      }

      .info {
        width: 100%;

        &__title {
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #4F4F4F;
        }

        &__row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 13px;
          width: 100%;
        }
      }

      .text--bold {
        margin-bottom: 6px;
      }
    }
  }

  .graphs {
    display: flex;
    flex-wrap: wrap;
    margin-right: -28px;

    .graph-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 28px);
      max-width: 562px;
      height: 260px;
      margin-right: auto;
      margin-bottom: 27px;
      padding: 22px 13px 22px 23px;
      border: 1px solid #EFEFEF;
      border-radius: 7px;
      flex-shrink: 0;

      .chart {
        max-width: 500px;
        margin: 0px;
      }

      path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 5s linear forwards;
      }

      .apexcharts-xaxis {
        display: none;
      }

      .apexcharts-area::after {
        content: "";
        width: 10px;
        height: 10px;
        background: red;
        display: inline-block;
      }

      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }

      .graph {
        margin-bottom: 10px;
        width: 501px !important;
        max-width: 100%;
        height: 98px !important;

        &-data {
          display: flex;
          width: 100%;
          max-width: 500px;
          align-items: center;
          justify-content: space-between;
          padding-top: 10px;
          border-top: 1px solid #E6E8E5;

          p {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            color: #4F4F4F;
          }

        }
      }

      p {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
        color: #4F4F4F;
      }

      .number {
        font-weight: bold;
        font-size: 26px;
        line-height: 35px;
        color: #4F4F4F;
      }
    }
  }

  .finance-row {
    display: flex;
    margin-bottom: 22px;
    width: 100%;

    .card {
      margin-right: 20px;
      width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 22px);
      max-width: 370px;
      padding: 26px 13px 26px 22px;
      border: 1px solid #EFEFEF;
      border-radius: 7px;

      &:last-child {
        margin-right: unset;
      }
    }

    .row {
      display: flex;
      align-items: center;
      margin-top: 17px;
      width: 100%;

      #finance, #guarantee {
        position: relative;
        width: 80px;
        height: 80px;
        margin-right: 21px;
      }
    }

    .icon-stat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 20px;
      width: 82px;
      height: 80px;
      transition: 1s linear;

      &--lg {
        width: 52px;
        height: 77px;
      }

      svg {
        width: 82px;
        height: 80px;
        stroke: red;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      &--lg {
        .text {
          p:first-child {
            font-size: 16px;
            color: #7E8089;
            margin-bottom: 3px;
          }
        }

        .text-fs24 {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 10px;
        }
      }
    }

    .values {
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;

      p {
        width: 52px;
        height: 37px;
        font-size: 46px;
        line-height: 37px;
        font-weight: 600;
        color: #4F4F4F;
        text-align: right;
      }

      span {
        padding-left: 10px;
        font-size: 26px;
        line-height: 29px;
        font-weight: 400;
        color: #7E8089;
      }
    }
  }

  .deals-row {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-end;
    padding: 26px 24px 12px 26px;
    margin-bottom: 22px;
    border-radius: 7px;
    border: 1px solid #EFEFEF;

    &:first-child {
      margin-bottom: 22px;
    }

    .info {
      flex-shrink: 0;
      margin-right: 68px;

      .text-fs14 {
        margin-bottom: 18px;
      }

      .row {
        display: flex;
        align-items: center;

        &--gap {
          margin-bottom: 21px;
        }

        .number {
          margin-right: 10px;
          font-weight: 600;
          font-size: 50px;
          line-height: 53px;
          color: #4F4F4F;
        }

        .values {
          .text:first-child {
            margin-bottom: 5px;
          }

          .text--blue {
            color: #2D9CDB;
          }
        }
      }
    }

    .graph {
      height: 150px !important;
      max-width: 100%;
      margin-bottom: 2px;

      &-wrapper {
        position: relative;
        width: 100%;

        .line {
          position: absolute;
          bottom: 38px;
          left: 50%;
          transform: translateX(-50%);
          width: 97%;
          background: #E6E8E5;
          border: 1px solid #EFEFEF;
        }
      }
    }
  }

  .about-stat {
    &__title {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #4F4F4F;
    }

    &__btn {
      display: flex;
      margin-top: 24px;
      width: 190px;
      height: 40px;
      cursor: pointer;

      .btn {
        color: #4F4F4F;
      }
    }
  }
}

@media(max-width: 1000px) {
  .statistics {

    .law-info-row .law-info {
      width: 500px;
    }

    .finance-row {
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-fs14 {
          text-align: center;
          margin-bottom: 15px;
        }
      }
      .row {
        flex-direction: column;
        align-items: center;
        margin-top: auto;
      }

      .icon-stat {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

@media(max-width: 720px) {
  .statistics {
    .law-info-row {
      margin-bottom: 0;
      flex-direction: column;

      .law-info {
        position: relative;
        padding-bottom: 50px;
        width: 100%;
        max-width: 100%;
        border-bottom: 0;

        .d-flex:nth-child(odd) {
          position: relative;
          &:after {
            position: absolute;
            content: "";
            right: -85px;
            bottom: 0px;
            height: 100%;
            width: 90px;
            background: #F5F5F5;
          }

          &:before {
            position: absolute;
            content: "";
            left: -85px;
            bottom: 0px;
            height: 100%;
            width: 90px;
            background: #F5F5F5;
          }
        }

        .d-flex:last-child {
          padding-bottom: 0;
        }
      }

      .leadership-info {
        position: relative;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        border: 0;
        padding: 0 0 50px 0;

        &:after {
          bottom: 20px;
        }

        .d-flex {
          margin-bottom: 26px;
        }

        &__img {
          flex-shrink: 0;
          margin-right: 21px;
          width: 100px;
          height: 100px;
        }

        .info__row {
          display: block;
          p:last-child {
            margin-top: 10px;
          }
        }
      }
    }

    .border-line {
      &:after {
        position: absolute;
        content: "";
        bottom: 25px;
        width: 800px;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background: #E9E9E9;
      }
    }

    .graphs {
      position: relative;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-right: unset;
      padding-bottom: 50px;
      max-width: 100%;

      #canvas {
        transition: 1s linear;
      }

      .graph-card {
        position: relative;
        margin-bottom: 0;
        margin-right: unset;
        padding: 0 0 28px 0;
        max-width: 100%;
        width: 100%;
        height: 226px;
        border: 0;

        &:last-child {
          padding-bottom: 0;
        }

        p {
          margin-bottom: unset;
          font-size: 18px;
          line-height: 25px;
        }
        

        .graph {
          margin-bottom: 0;
          max-width: 100% !important;
        }
      }
    }

    .finance-row {
      flex-direction: column;
      align-items: center;

      .text-fs14 {
        margin-right: auto;
      }

      .row {
        flex-direction: row;
      }

      .card {
        margin-right: unset;
        margin-bottom: 10px;
        width: 100%;
        max-width: 450px;
      }
    }

    .deals-row {
      flex-direction: column;
      align-items: flex-start;

      .graph {
        height: 116px !important;
      }

      .info .row .number {
        font-size: 25px;
        line-height: 29px;
      }
    }
  }
}