.vacancy-page {
  h1 {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  h3 {
    margin-bottom: 15px;
  }

  .vp-accordion {
    margin-top: 0px;
    margin-bottom: 6px;
    padding-bottom: 11px;
    border-bottom: 1px solid #F2F2F2;
    cursor: pointer;

    .accordion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &.collapsed {
        svg {
          transform: rotate(0);
        }
      }
    }

    .vp-vacancy {
      &__block {
        display: flex;
        align-items: center;
        margin: 20px 0 23px;

        svg {
          flex-shrink: 0;
          width: 22.8px;
          height: 28px;
          margin-right: 16px;
          fill: #4F4F4F;
        }
      }

      button {
        margin-left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 274px;
        height: 40px;
        margin-bottom: 22px;

        @media (min-width: 340px) {
          width: 294px;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border: 1px solid #E0E0E0;
      border-radius: 55px;
      transition: .6s linear;

      svg {
        width: 21px;
        height: 11px;
        stroke: $orange;
        transition: .2s linear;
        transform: rotate(180deg);
      }
    }
  }

  .list {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 12px;
    }
  }
}

@media(min-width: 600px) {
  .vacancy-page {
    h1 {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 25px;
    }

    .vp-accordion {
      justify-content: flex-start;
      padding: 15px 19px;
      background: #FFFFFF;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
      border-radius: 5px;

      .accordion {
        justify-content: flex-start;
      }

      .vp-vacancy {
        margin-top: 38px;

        .text-fs14 {
          font-size: 16px;
          line-height: 19px;
        }

        &__block {
          margin: 30px 0 27px;
        }

        button {
          width: 162px;
          height: 40px;
          background: $orange;
          color: white ;
          margin-left: unset;
          transform: translateX(0);
          margin-bottom: 31px;

          &.btn {
            font-size: 14px !important;
            line-height: 17px !important;
            font-weight: 500 !important;
          }
        }
      }

      .text {
      order: 1;
      }
      &__btn {
        border: 0;
        margin-right: 19px;
        width: 26px;
        height: 13px;

        svg {
          width: 26px;
          height: 13px;
        }
      }
    }

    .list {
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: 15px;
      margin-bottom: 15px;

      &:last-child {
        border-bottom: 0;
        margin-bottom: 6px;
        padding-bottom: 0;
      }
    }
  }
}