.workers {
  h1 {
    margin-bottom: 21px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  h2 {
    font-size: 18px;
    line-height: 21px;
    color: #828282;
    margin-bottom: 35px;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    max-width: 420px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 14px);
    min-width: 140px;
    max-width: 300px;

    &:nth-child(odd) {
      margin-right: 8px;
      margin-bottom: 46px;
    }

    &__img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 104px;
      height: 104px;
      margin-bottom: 54px;

      &:after {
        position: absolute;
        content: "";
        bottom: -33px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 3px;
        border-radius: 55px;
        background: $orange;
      }
    }

    img {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .text {
      padding-bottom: 17px;
    }
  }

  @media (min-width: 800px) {
    h1 {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 58px;
    }

    &-cards {
      max-width: 100%;
      margin: 0;
    }

    &-card {
      position: relative;
      width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 14px);
      min-width: 200px;
      max-width: 260px;
      margin-right: 10px;

      &:nth-child(odd) {
        margin-right: 10px;
        margin-bottom: 14px;
      }

      img {
        border-radius: 25px;
      }
    }
  }
}