$orange: #f2b61a;
$white: #ffffff;
$gray: #efefef;
$black: #333333;

.categories {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  h1 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: #4F4F4F;
  }

  &-list {
    margin-bottom: 48px;

    &-sm {
      margin-bottom: 24px;
    }

    @media (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: 1000px) {
      margin-left: -20px;
    }
  }

  .divider {
    padding: 0;
  }

  .divider-content {
    padding: 15px;

    @media (min-width: 800px) {
      padding: 15px 30px;
    }

      a {
      &:active, &:hover {
        text-decoration: underline;
      }
    }
  }

  &__btn {
    display: flex;
    margin: 17px auto 0;
    width: 290px;
    height: 40px;

    @media (min-width: 600px) {
      margin-top: 0;
    }
  }


  .categories-item {
    margin-bottom: 10px;

    @media (min-width: 600px) {
      width: 100%;
      max-width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 20px);
      margin: 0 10px 18px 0;
    }

    @media (min-width: 1000px) {
      width: 100%;
      max-width: 263px;
      margin: 0 0 20px 20px;
      transition: .1s linear;

      &:hover {
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }



  .links {
    li:first-child {
        margin-top: 0;
    }
  }

  .all-links {
    margin-bottom: 15px;

    li:after {
      top: 9px;
    }
  }

  &-info {
    position: relative;
    margin-top: 20px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FAFAFA;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -70px;
      width: 70px;
      height: 100%;
      background: #FAFAFA;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -70px;
      width: 70px;
      height: 100%;
      background: #FAFAFA;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: contain;
      margin-bottom: 20px;
      border-radius: 3px;
    }

    .link {
      text-decoration: underline;

      &:active, &:hover {
        text-decoration: none;
      }
    }
  }

  .cat-block_info {
    padding-bottom: 16px;

    img {
      display: none;
    }

    p, span {
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }
    p {
      margin-bottom: 16px;

      p:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: 24px;
      li {
        margin-top: 30px;
      }


    }
  }

  .accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    border-radius: 25px;
    &:first-child {
      padding-top: 0;
      padding-bottom: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    svg {
      stroke: $orange;
      width: 25px;
      height: 12px;
      transform: rotate(-180deg);
    }

    &.collapsed {
      svg {
        transform: rotate(0deg);
      }
    }

    &-box-list {

    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      &__list {
        transition: .4s linear;
        opacity: 1;
        overflow: hidden;
        padding-top: 24px;

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &--hide {
          padding: 0;
          opacity: 0.25;
          height: 0;
        }
      }

      svg {
        width: 25px;
        height: 12.5px;
        stroke: $orange;
        z-index: 20;
      }

      &__item {
        position: relative;
        width: 100%;
        //padding-bottom: 20px;

        //h3 {
        //  margin: 10px 0;
        //}

        //ul {
        //  padding-bottom: 10px;
        //}

        //.list {
        //  li {
        //    margin-top: 11px;
        //
        //    &:first-child {
        //      margin-top: 0;
        //    }
        //
        //    a {
        //      text-decoration: none;
        //
        //      &:active, hover {
        //        text-decoration: underline;
        //      }
        //    }
        //  }
        //}
      }
    }
  }

  &-services {
    p {
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }

    a {
      color: $orange;
      font-size: 14px;
      line-height: 17px;

      &:active, &:hover {
        text-decoration: underline;
      }
    }


    &__item {
      position: relative;
      padding-top: 16px;

      &:nth-child(2) {
        padding-top: 16px !important;
        padding-bottom: 16px;
      }

      &.gray {
        padding-top: 32px;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -70px;
          width: 70px;
          height: 100%;
          background: $gray;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: -70px;
          width: 70px;
          height: 100%;
          background: $gray;
        }

        background: $gray;
      }
    }
  }


  &-geo_info {
    .text {
      font-size: 14px;
      line-height: 17px;
    }

    a {
      padding-top: 13px;
      color: $orange;
      font-weight: 500;

      &:active, hover {
        text-decoration: underline;
      }
    }

    ul {
      margin: 24px 0 7px;


      li {
        max-width: 320px;
        padding-left: 0;

        &:after {
          display: none;
        }

        @media(min-width: 350px) {
          display: flex;
          align-items: baseline;
          justify-content: space-between;
          max-width: 341px;
        }

        @media(min-width: 800px) {
          padding-left: 22px;
          margin-top: 10px;

          a {
            color: #4F4F4F;

            &:hover {
              text-decoration: underline;
            }
          }

          &:after {
            top: 20px;
            display: flex;
          }
        }



        p {
          margin-bottom: 13px;
        }
      }
    }
  }

  @media (min-width: 1000px) {
    &-info {
      flex-direction: row;
      padding: 20px 0;
      display: flex;

      img {
        width: 300px;
        height: 147px;
        margin-right: 36px;
      }
    }

    .cat-block_info {
      img {
        display: flex;
        margin: 20px 0 20px;
        width: 100%;
        height: 100%;
        max-height: 200px;
        object-fit: contain;
      }
    }

    &-services {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &__item {
        max-width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 20px);

        &:nth-child(odd) {
          padding-right: 25px;
        }
      }

      .gray {
        padding: 20px 0;

        &:first-child {
          padding-right: 25px;
        }
      }

      .gray:nth-child(1) {
        &:before {
          display: none;
        }
      }

      .gray:nth-child(2) {
        &:after {
          display: none;
        }
      }
    }

    &__btn {
      display: none;
    }

    .accordion {

      h2 {
        margin-bottom: 24px;
      }
      svg {
        display: none;
      }

      &-list {

        &__list {
          li {
            margin-bottom: 23px;
          }
        }

        &__list:nth-child(1) {
          padding-top: 0;
        }
      }
    }

    .collapse:not(.show) {
      display: flex !important;
    }


    .all-links {
      margin-bottom: 10px;
    }
  }

  &-cities {
    padding: 15px;

    @media(min-width: 1000px) {
      padding: 30px;
    }
  }
}


