$orange: #f2b61a;
$white: #ffffff;
$gray: #efefef;
$black: #333333;

.main-page {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  h2 {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 600;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    p {

    }
  }

  .hide-form {
    display: none;
  }

  .article {
    position: relative;
    padding: 18px 19px 24px 19px;
    width: 100%;
    background: url("/src/assets/img/background-mb.png") center no-repeat;
    background-size: cover;
    border-radius: 5px;


    &__title {
      max-width: 181px;
      margin-bottom: 8px;
      font-family: Open Sans;
      font-weight: 800;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      color: $white;
    }

    &__text {
      margin-bottom: 21px;
      font-family: Roboto;
      font-weight: 900;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $orange;
    }

    &__pin {
      &-block {
        position: absolute;
        display: none;
        right: 162px;
        bottom: 23px;
      }

      &-text {
        margin-bottom: 6px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: $white;

        &--lg {
          font-weight: 500;
          font-size: 18px;
          color: $white;
        }
      }
    }

    &__stick {
      position: relative;
      width: 180px;
      height: 3px;
      right: 0;
      top: 10px;
      background: $orange;

      &:after {
        position: absolute;
        content: "";
        right: -24px;
        bottom: 10px;
        transform: rotate(-45deg);
        height: 3px;
        width: 30px;
        background: $orange;
      }

      &:before {
        position: absolute;
        content: "";
        right: -28px;
        bottom: 18px;
        width: 11.84px;
        height: 14.13px;
        border-radius: 50%;
        background: $orange;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4f4f4f;

    &--hide {
      display: none;
    }
  }

  &__carousel {
    .owl-next {

    }
  }

  &__statistics {
    display: flex;
    flex-wrap: wrap;
  }

  &__news {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 15px 35px;
  }

  &__news-header {
    display: none;
    margin-bottom: 34px;
  }


  .content-wrapper {
    padding: 0 15px;
  }

  .search-form {
    display: flex;

    &__field {
      width: 100%;
      margin-right: 32px;
      padding: 10px;
      font-size: 16px;

      &:after {
        content: "";
      }
    }
  }

  .card-statistics {
    display: flex;
    flex-direction: column;
    padding: 16px 0 10px 15px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;

    &__title {
      margin-bottom: 10px;
      font-family: Roboto;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #333333;

      &--lg {
        margin-bottom: 12px;
        font-weight: 600;
      }
    }

    &__item {
      position: relative;
      margin-bottom: 12px;
      padding-left: 15px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: #f2b61a;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 5px;
        width: 5px;
        height: 5px;
        background: #f2b61a;
        border-radius: 44px;
      }
    }

    &__info {
      position: relative;
      margin-bottom: 10px;

      &:after {
        position: absolute;
        left: 0;
        top: 4px;
        width: 3px;
        height: 35px;
        background: #f2b61a;
      }

      &-text {
        margin-bottom: 3px;
        font-family: Roboto;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        color: #333333;

        &--gap {
          margin-bottom: 7px;
        }

        &--yellow {
          font-size: 12px;
          color: #f2b61a;
        }

        span {
          font-family: Roboto;
          font-size: 12px;
          line-height: 15px;
          color: #333333;
        }
      }

      &-price {
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #f2b61a;
      }
    }
  }

  .trade {
    margin-top: 3px;
    background: #F9F9F9;

    &--left {
      margin-left: -10px;
    }

    &__column {
      display: flex;
      flex-direction: column;
      margin-right: 23px;
      margin-bottom: 20px;
      width: 100%;

      &:nth-child(even) {
        margin-right: 0;
      }

      &--md {
        max-width: 372px;
      }

      ul {
        margin-bottom: 15px;
      }

      li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 19px;

        &:last-child {
          margin-bottom: 0;
        }

        &:after {
          position: absolute;
          content: "";
          left: 0;
          top: 5px;
          width: 4px;
          height: 4px;
          background: $orange;
          border-radius: 50%;
        }
      }
    }

    &__title {
      margin-bottom: 15px;
      font-family: Roboto;
      font-size: 16px;
      color: #333333;
    }

    &__text {
      font-family: Roboto;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }

    &__header {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 15px;
      max-width: 230px;

      //@media (min-width: 400px) {
      //  max-width: 100%;
      //}

      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 49px;
        height: 3px;
        background: $orange;
      }
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #333333;
    }

    &__call-block {
      position: relative;
      width: 100%;
      max-width: 300px;
      margin-top: 19px;
      padding: 10px 10px 4px;

      &:after {
        position: absolute;
        left: 0;
        top: 5px;
        content: "";
        width: 3px;
        height: 100%;
        max-height: 65%;
        background: $orange;
      }

      p {
        margin-bottom: 17px;
        font-size: 17px;
      }
    }

    &__link {
      font-family: Roboto;
      font-weight: normal;
      font-size: 16px;
      color: $orange;

      &:active {
        text-decoration: none;
      }
    }

    &__info {
      width: 271px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;

      p {
        font-size: 16px;
        margin-bottom: 0;
      }

      span {
        font-weight: 400;
      }
    }

    &__img {
      background: url(/src/assets/img/document.png) no-repeat;
      background: contain;
      width: 100%;
      min-height: 202px;
    }

    &-accordion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 18px;
      margin: 30px 0;
      width: 290px;
      border-radius: 55px;
      background: white;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 2px solid #F2B61A;
        border-radius: 55px;
        cursor: pointer;
        transition: .6s linear;

        &--act {
          transform: rotate(-180deg);
        }
      }


      svg {
        stroke: #4F4F4F;
        width: 19px;
        height: 12px;
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      //max-height: 0;
      overflow: hidden;
      transition: .5s linear;

      p {
        font-size: 14px;
        line-height: 16px;
      }

      span {
        color: $orange;
      }

      &-item {
        color: $orange !important;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        text-decoration: underline;

        &:hover, &:active {
          text-decoration: none;
        }
      }
    }
  }

  .news-header {
    display: flex;
    width: 100%;
    max-width: 362px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 190px;
      height: 52px;
      background: $orange;
      border-radius: 555px;
    }
  }

  .news-content {
    display: flex;

    &__card {
      margin-right: 11px;

      &:last-child {
        margin-right: 0;
      }
    }
  }


  .text-mb {
    margin-bottom: 30px;
    /*
  font-family: Roboto;
   font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #4f4f4f;
  */

    &--hide {
      display: none;
    }
  }

  .hide-mb {
    display: none;
  }

  &__footer {
    width: 100%;
    //height: 600px;
  }
}


@media (min-width: 600px) {
  .main-page {

    .search-form__btn {
      display: flex;
      flex-shrink: 0;
      width: 100%;
      max-width: 310px;
      height: 55px;
    }

    .hide-form {
      display: flex;
    }

    .trade__header {
      max-width: 400px;
    }
  }
}

@media (min-width: 800px) {
  .main-page__news {
    padding: 33px 18px 40px;
  }
}

@media (min-width: 900px) {
  .main-page {
    h2 {
      font-size: 21px;
      line-height: 24px;
      font-weight: 600;
    }

    .card-statistics {
      &__info {
        &-text {
          font-size: 18px;
          line-height: 21px;
          font-weight: 400;

          &--yellow {
            font-size: 20px;
            font-weight: 500;
          }

          span {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
          }
        }

        &-price {
          font-weight: 500;
          font-size: 20px;
          line-height: 23px;
        }
      }
    }

    &__title {
      margin-bottom: 15px;
      font-size: 26px;
    }

    .article {
      border-radius: 0;
    }

    &__statistics {
      justify-content: space-between;
      padding-top: 16px;
      display: flex;
    }

    &__card-wrapper {
      margin-bottom: 18px;
      width: calc((1 / 3 * 100%) - (1 - 1 / 3) * 18px);
    }

    &__specials {
      margin-top: 31px;
    }


    .card-statistics {
      &__title {
        margin-bottom: 16px;
        font-size: 18px;
        font-weight: 500;

        &--lg {
          font-size: 22px;
          font-weight: 600;
        }
      }

      &__list {
        margin-top: 13px;
      }

      &__info--left {
        position: relative;
        padding-left: 15px;

        &:after {
          position: absolute;
          content: "";
          top: 4px;
          right: 0;
          width: 3px;
          height: 80%;
        }
      }

      &__item {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .trade {
      &__info {
        align-items: baseline;

        &-block {
          display: flex;
          justify-content: space-between;
        }
      }

      &__title {
        font-size: 18px;
        margin-bottom: 19px;
      }

      &__text {
        font-size: 16px;
      }

      &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &__column {
        width: calc((1 / 2 * 100%) - (1 - 1 / 2) * 45px);

        &--md {
          max-width: 520px;
        }
      }
    }
  }
}

@media(min-width: 1200px) {
  .main-page {
    h2 {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
    }

    .article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 310px;

      &__title {
        margin-bottom: 24px;
        max-width: 100%;
        font-size: 30px;
        line-height: 36px;
      }

      &__text {
        font-size: 20px;
        line-height: 23px;
      }
    }

    .trade-accordion {
      background: none;
      color: black;
      max-width: 230px;
      padding-left: 0;

      &__btn {
        width: 38px;
        height: 39px;

      }
    }
  }
}

