.breadcrumbs
    .section
        svg
            use(xlink:href="/src/assets/icons.svg#arrow")
        a(href="#") Главная
        a.active(href="#") Цветной прокат
        a(href="#") Рениевый прокат
