.footer
    .footer__info
        .footer__logo
        .footer__info-text
            .call-text
                img.call-text__icon(src="src/assets/svg/phone.svg")
                a(href="tel: +74994902031").text.text-fs13.text--orange +7(499)490-20-31
            .call-text
                img.call-text__icon(src="src/assets/svg/mail.svg")
                a(href="mailto: msk@bvb-alyans.ru").text.text-fs13.text--orange msk@bvb-alyans.ru
            .call-text
                p.text.text-fs13 г. Москва, проспект Маршала Жукова 1, к.1 оф 428
    .footer__items
        .accordion
            a
                p.text.text-fs18.text--md О компании
            .accordion__icon.js-acc-btn
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow-down")
            .list-inn.js-acc-inn
                .list-inn__item
                    a.text.text-fs14(href='about.html') О нас
                .list-inn__item
                    a.text.text-fs14(href='statistics.html') Госконтракты
                .list-inn__item
                    a.text.text-fs14(href='workers.html') Наши сотрудники
                .list-inn__item
                    a.text.text-fs14(href='portfolio.html') Портфолио
                .list-inn__item
                    a.text.text-fs14(href='#') Пресс-центр
                .list-inn__item
                    a.text.text-fs14(href='news.html') Новости
                .list-inn__item
                    a.text.text-fs14(href='vacancy.html') Вакансии
                .list-inn__item
                    a.text.text-fs14(href='specials-list.html') Спецпредложения
        .accordion
            a
                p.text.text-fs18.text--md Меню
            .accordion__icon.js-acc-btn
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow-down")
            .list-inn.js-acc-inn
                .list-inn__item
                    a.text.text-fs14(href='#') Услуги
                .list-inn__item
                    a.text.text-fs14(href='manufacture.html') Производство
                .list-inn__item
                    a.text.text-fs14(href='#') Каталог
                .list-inn__item
                    a.text.text-fs14(href='#') Продукция
        .accordion
            a
                p.text.text-fs18.text--md Инфо
            .accordion__icon.js-acc-btn
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow-down")
            .list-inn.js-acc-inn
                .list-inn__item
                    a.text.text-fs14(href='#') Партнеры
                .list-inn__item
                    a.text.text-fs14(href='gost.html') ГОСТы и ТУ
                .list-inn__item
                    a.text.text-fs14(href='delivery.html') Доставка
                .list-inn__item
                    a.text.text-fs14(href='contacts.html') Контакты
        .accordion.lg
            a
                p.text.text-fs18.text--md Клиентам
            .accordion__icon.js-acc-btn
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow-down")
            .list-inn.js-acc-inn
                .list-inn__item
                    a.text.text-fs14(href='clients.html') Памятка клиентам
                .list-inn__item
                    a.text.text-fs14(href='black-list.html') Черный список поставщиков
    .footer__call
        .footer__btn(data-toggle="modal" data-target="#modalCallBack")
            .btn.btn--rnd Обратный звонок
        .call-icons
            a(href="https://vk.com" target='_blank')
                svg.call-icons__icon
                    use(xlink:href="/src/assets/icons.svg#vkontakte")
            a(href="https://www.facebook.com" target='_blank')
                svg.call-icons__icon
                    use(xlink:href="/src/assets/icons.svg#facebook")
            a(href="https://twitter.com" target='_blank')
                svg.call-icons__icon
                    use(xlink:href="/src/assets/icons.svg#twiter")
            a(href="https://www.livejournal.com" target='_blank')
                svg.call-icons__icon
                    use(xlink:href="/src/assets/icons.svg#pencil")
        a(href="politics.html" target="_blank").footer__link Политика обработки персональных данных
        .text.text-fs12 2005-2019 БВБ-Альянс, все права защищены


