.gallery-docs
    .owl-carousel.owl-carousel-ss.owl-theme
        .item
            img.js-item(src="src/assets/img/docs/document.webp")
        .item
            img.js-item(src="src/assets/img/docs/docs.webp")
        .item
            img.js-item(src="src/assets/img/docs/docs-2.webp")
        .item
            img.js-item(src="src/assets/img/docs/docs-3.webp")
        .item
            img.js-item(src="src/assets/img/docs/docs-4.webp")
        //.item
        //    img.js-item(src="src/assets/img/docs/docs-5.webp")
        //.item
        //    img.js-item(src="src/assets/img/docs/docs-6.webp")
        //.item
        //    img.js-item(src="src/assets/img/docs/docs-7.webp")

    .control
        .control__img.active
            img.btn-image(src="src/assets/img/docs/document.webp")
        .control__img
            img.btn-image(src="src/assets/img/docs/docs.webp")
        .control__img
            img.btn-image(src="src/assets/img/docs/docs-2.webp")
        .control__img
            img.btn-image(src="src/assets/img/docs/docs-3.webp")
        .control__img
            img.btn-image(src="src/assets/img/docs/docs-4.webp")
        //.control__img
        //    img.btn-image(src="src/assets/img/docs/docs-5.webp")
        //.control__img
        //    img.btn-image(src="src/assets/img/docs/docs-6.webp")
        //.control__img
        //    img.btn-image(src="src/assets/img/docs/docs-7.webp")


