.menu-links
    .m-selector
        .m-selector__box
            .m-selector__row
                .text О компании
                .m-selector__icon
            .m-selector__box-content
                a.text.text--white(href="about.html") О нас
                a.text.text--white(href="statistics.html") Госконтракты
                a.text.text--white(href="workers.html") Сотрудники "БВБ-Альянс"
                a.text.text--white(href="portfolio.html") Портфолио
                a.text.text--white(href="politics.html" target="_blank") Политика обработки данных
                a.text.text--white(href="news.html") Новости
                a.text.text--white(href="vacancy.html") Вакансии
                a.text.text--white(href="specials-list.html") Спецпредложения
    .m-selector
        .m-selector__box
            .m-selector__row
                a.text(href="") Клиентам
                .m-selector__icon
            .m-selector__box-content
                a.text.text--white(href="clients.html") Памятка клиентам
                a.text.text--white(href="black-list.html") Черный список недобросовестных поставщиков
    a.text.pl-4(href="") Партнеры
    a.text.pl-4(href="gost.html") ГОСТы и ТУ
    a.text.pl-4(href="delivery.html") Доставка
    a.text.pl-4(href="contacts.html") Контакты