.header
    .header__tp-ln
        img.header-menu(src="src/assets/svg/menu.svg")
        img.header-menu(src="src/assets/svg/logo-bvb.svg")
        .header__btn.hide(data-toggle="modal" data-target="#modalCallBack")
            .btn.btn--rnd.text.text--white Обратный звонок
        a.text.text--md.hide(href="#") msk@bvb-alyans.ru
        .header-info.top-header
            .header-info__row
                img.header-info__icon.hide(src='src/assets/svg/phone.svg')
                a.link.text.text-fs14.text--md.hide(href="tel:+74994902031") 8 (499) 490-20-31,
                    em
                    a(href="tel: 490-20-32" class="link text text-fs14 text--md") 490-20-32
                .header-icons
                    img.header-icons__icon(src='src/assets/svg/phone.svg' data-toggle='modal', data-target='#modalCallBack' )
                    svg.header-icons__icon
                        use(xlink:href="/src/assets/icons.svg#search")
                    svg.header-icons__icon.header-icons__icon--gray(data-toggle='modal', data-target='#modalCity')
                        use(xlink:href="/src/assets/icons.svg#geo")
                    .header-icons__wrap
                        svg.header-icons__icon.header-icons__icon--gray
                            use(xlink:href="/src/assets/icons.svg#cart")

            span.hide.text.text-fs14.text--md 8-800-500-32-74
    .header__bt-ln
        .header__menu
            include /header-menu.pug

        .header-info
            .header-info__row
                a.header-basket(href="cart.html")
                    svg
                        use(xlink:href="/src/assets/icons.svg#cart")
                    div
                       .link.text-fs14.text.text--md Корзина
                       p.text.text-fs14.text--light-gray нет товаров
                a.text.text--md.text-fs12(href="mailto: info@bvb-alyans.ru") info@bvb-alyans.ru
                a.text.text--md.text-fs12(href="tel: +74994902031") +7 (499) 490-20-31








