form.product-calculator
    .product-calculator__form
        .product-calculator__header.text.text-fs16.text--md.text--white Уточните продукт
        .product-calculator__wrapper
            .selector
                .selector__head(data-toggle='collapse', href='#collapseSelector-1', role='button', aria-expanded='false', aria-controls='collapseSelector-1')
                    .text 10-секционный чугунный радиатор
                    .selector__icon
                #collapseSelector-1.selector__list.collapse
                    p.text 10-секционный чугунный радиатор
                    p.text 10-секционный чугунный радиатор
                    p.text 10-секционный чугунный радиатор
                    p.text 10-секционный чугунный радиатор
                    p.text 10-секционный чугунный радиатор текст текст текст текст текст текст текст текст
            .product-calculator__selector
            .product-calculator__row
                .product-calculator__field
                    label.text.text-fs14 Марка
                    input.product-calculator__input(type='text', placeholder='Значение')
                .product-calculator__field
                    label.text.text-fs14 Кол-во (тонн)
                    input.product-calculator__input(type='text', placeholder='Значение')
                .product-calculator__field
                    label.text.text-fs14 Размер А
                    input.product-calculator__input(type='text', placeholder='Значение')
                .product-calculator__field
                    label.text.text-fs14 Размер В
                    input.product-calculator__input(type='text', placeholder='Значение')
                .product-calculator__field
                    label.text.text-fs14 Размер С
                    input.product-calculator__input(type='text', placeholder='Значение')
    .product-calculator__form
        .product-calculator__header.text.text-fs16.text--md.text--white Заполните информацию о себе
        .product-calculator__wrapper
            .product-calculator__row
                .product-calculator__field.product-calculator__field--lg
                    label.text.text-fs16 ФИО
                    input.product-calculator__input(type='text', placeholder='Иванов Иван Иваночив')
                .product-calculator__field.product-calculator__field--lg
                    label.text.text-fs16 Телефон
                    input.product-calculator__input(type='text', placeholder='+7')
                .product-calculator__field.product-calculator__field--lg
                    label.text.text-fs16 E-mail
                    input.product-calculator__input(type='text', placeholder='@mail.ru')
            .product-calculator__btn
                .btn.btn--rnd Рассчитать