mixin card-special(info)
    a(href="special-detailed.html").card-special
        .card-special__img
            img(src=info.image)
        .card-special__items
            .card-special__text= info.text
            .card-special__price= info.price
            .card-special__text.card-special__text--hide.card-special__text--sm= info.address
