mixin offer-card(info)
    a(href="specials.html").offer-card
        .offer-card__img
            img(src=info.image)
        .offer-card__items
            .offer-card__text= info.text
            .offer-card__price= info.price
            .offer-card__text.offer-card__text--hide.offer-card__text--sm= info.address
