.card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;

  &__img {
    width: 100%;
    height: 203px;
    object-fit: cover;
  }

  p {
    margin-right: auto;
    font-weight: 500;
    padding: 18px 5px 18px 18px;
    font-size: 16px;
    line-height: 19px;
    color: #4f4f4f;
  }

  @media(min-width: 900px) {
    max-width: 263px;

    &__img {
      height: 217px;
    }
  }
}
