doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css')
    link(rel='stylesheet' href='dist/build.css')

    // <link rel='stylesheet' href='dist/main.css'>
    title BVB-Alyans.ru
body
    .wrapper
        .sb-wrapper.js-sb
            include ../components/sidebar/sidebar
        .container
            include ../components/header
            .page-content
                include ../components/breadcrumbs
                include ../content/gost-table
    .main-page__footer
        include ../components/footer
    include ../components/modals/modal




