doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css')
    link(rel='stylesheet' href='dist/build.css')

    // <link rel='stylesheet' href='dist/main.css'>
    title BVB-Alyans.ru
body
    .wrapper
        .sb-wrapper.js-sb
            include ../components/sidebar/sidebar
        .container
            include ../components/header
            .page-content
                a(href="about.html") О нас
                a(href="black-list.html") Черный список
                a(href="cart.html") Корзина
                a(href="categories.html") Продукция
                a(href="categories-list.html") Список продукции
                a(href="clients.html") Информация для клиентов
                a(href="contacts.html") Контакты
                a(href="delivery.html") Доставка
                a(href="express-analysis.html") Услуга экспресс анализы
                a(href="gost.html") Госты и ТУ
                a(href="gost-list.html") Список гостов
                a(href="gost-names.html") Список конкретных гостов
                a(href="gost-table.html") Таблица с гостом
                a(href="manufacture.html") Производство
                a(href="news.html") Новости
                a(href="news-detailed.html") Новости детальная
                a(href="statistics.html") Страница статистики
                a(href="politics.html" target="_blank") Политика конфиденциальности
                a(href="portfolio.html") Портолио
                a(href="portfolio-detailed.html") Портфолио детальная
                a(href="product.html") Продукция детальная
                a(href="safety-store.html") Ответственное хранение
                a(href="service.html") Услуги
                a(href="service-detail.html") Услуги детальная
                a(href="special-detailed.html") Спецпредложение детальная
                a(href="specials-list.html") Спецпредложение список
                a(href="vacancy.html") Вакансии
                a(href="workers.html") Сотрудники

    .main-page__footer
        include ../components/footer




