form.modal-cart-service
    .modal-cart-service__title Добавить в корзину
    p.text.text-fs20.text--light-black Резка гильотиной
    .modal-cart-service__row
        p.text.text-fs16.text--light-black Описание
        p.text.text-fs16.text--gray Наша компания оказывает услуги резки гильотиной. Звоните!
    .modal-cart-service__btn
        .btn.btn--rnd Добавить
