form.modal-city
    .modal-city__title Выберите ваш город
    .modal-city__field
        svg
            use(xlink:href="/src/assets/icons.svg#search")
        label
        input.field(placeholder="Поиск")
    ul.modal-city__list
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
        li
            a(href="#") Екатеринбург
