form.modal-cart
    .modal-cart__title Добавить в корзину
    p.text.text-fs20.text--light-black Нержавеющий перфорированный лист Qg 1x2 м 10x15x1.5мм 08Ч18Р19 UJCN 5582-75
    .modal-cart__row
        .modal-cart__col
            p Размер А
            p 10,0
        .modal-cart__col
            p Размер А
            p 10,0
        .modal-cart__col
            p Размер А
            p 10,0
        input.field(placeholder="1,000")
    .modal-cart__btn
        .btn.btn--rnd Добавить
