form.modal-price
    .modal-price__title Договорная цена
    p.text.text-fs20.text--light-black.text--center Оставьте свои данные и мы позвоним вам и рассчитаем цену данного товара.
    .modal-price__field
        label Ваш телефон
        input.field.mb-4(placeholder="+7 (___) ___-__-__"
            id="phone"
        )
        label Ваш e-mail
        input.field(placeholder="@mail.ru")
    .modal-price__btn
        .btn.btn--rnd Узнать цену
    p.text.text-fs12 Нажимая кнопку “Узнать цену”, вы принимаете
        =" "
        a(href="#") условия обработки персональных данных