form.modal-delivery
    .modal-delivery__title Информация об условиях оплаты и доставки
    p.text.text-fs20.text--light-black Для удобства наших клиентов у нас есть разные способы оплаты:
    ul.list
        li.text-fs18 Наличный расчет (наличный расчет можно произвести в любом офисе компании или на складе компании по предварительной записи)
        li.text-fs18 Безналичный расчет (безналичный расчет производится на расчетный счет компании по выставленному счету от менеджера нашей компании на металлопродукцию)
        li.text-fs18 Наложенный платеж (вы всегда можете произвести оплату по факту получения металлопродукции)
    a(href="delivery.html").modal-delivery__btn
        .btn.btn--rnd Подробнее в разделе О доставке
