form( data-validate).modal-callback
    .modal-callback__title Оставьте ваш телефон
    p.text.text-fs20.text--light-black.text--center и мы вам перезвоним
    p.text.text-fs20.text--light-black.text--center в ближайшее время
    .modal-callback__field
        label Ваш телефон
        input.field(placeholder="+7 (___) ___-__-__"
            id="phone"
            type="tel"
            required
            pattern="^((\\+7|7|8)+([0-9]){10})$"
            data-bouncer-message="Некорректный ввод")
    button.modal-callback__btn(type="submit")
        .btn.btn--rnd Узнать цену
    p.text.text-fs12 Нажимая кнопку “Узнать цену”, вы принимаете
        =" "
        a(href="politics.html" target="_blank") условия обработки персональных данных