div
    // modal modal-Cities
    #modalCity.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalCityLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                include modal-cities
                    button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
    // modal CallBack
    #modalCallBack.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalCallBackLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                include modal-callback
                    button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
    //modal Price
    #modalPrice.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalPriceLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                include modal-price
                    button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
    // Modal Cart
    #modalCart.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalCartLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                include modal-cart
                    button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
    // Modal CartService
    #modalCartService.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalCartServiceLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                include modal-cart-service
                    button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
    // Modal Delivery
    #modalDelivery.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalDeliveryLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                include modal-delivery
                    button.modal-close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×