#sbAccordionSelectors
    .sb-selector.js-acc
        .sb-selector__select
            a.text.text-fs14(href='manufacture.html') Производство
            .sb-selector__icon.js-acc-btn.collapsed(type='link', data-toggle='collapse', data-target='#sbSelectorInnOne', aria-expanded='true', aria-controls='sbAccordionSelectors')
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow-down")
        #sbSelectorInnOne.collapse(aria-labelledby='headingOne', data-parent='#sbAccordionSelectors')
            .sb-selector__list.js-acc-inn
                a.text.text-fs14(href='#') Производство заглушек
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство алюминиевого проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
                a.text.text-fs14(href='#') Производство авиационных профилей и проката
    .sb-selector.js-acc
        .sb-selector__select
            a.text.text-fs14(href='#') Услуги
            .sb-selector__icon.js-acc-btn.collapsed(type='link', data-toggle='collapse', data-target='#sbSelectorInnTwo', aria-expanded='true', aria-controls='sbAccordionSelectors')
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow-down")
        #sbSelectorInnTwo.collapse(aria-labelledby='headingTwo', data-parent='#sbAccordionSelectors')
            .sb-selector__list.js-acc-inn
                a.text.text-fs14(href='service.html') Услуги обработки металла
                a.text.text-fs14(href='#') Экспресс-анализ металлов и сплавов
                a.text.text-fs14(href='#') Ответхранение
