.sidebar

    .sidebar__header
        .sb-head.hide
            a(href="index.html")
                img(src="src/assets/svg/logo-bvb-dark.svg")
            .sb-head__geo(data-toggle='modal', data-target='#modalCity')
                svg.sb-head__icon
                    use(xlink:href="/src/assets/icons.svg#geo")
                .text Москва
        .sidebar__consult
            p.text.text--bold 8-800-500-32-74
            p.text.text-fs12 Покупка и консультация
        .sidebar__selectors
            include sb-selector
    .m-panel
        .m-panel__item
            #sb-accordions.accordion.js-acc
                .accordion__item.hide-mb
                    svg(class="m-panel__icon")
                        use(xlink:href="/src/assets/icons.svg#menu-icon")
                    a.text.text-fs14(href='#') Продукция
                    .accordion__icon.collapsed(class="js-acc-btn js-collapse" type='link', data-toggle='collapse', data-target='#sbAccordions', aria-expanded='false', aria-controls='sbAccordions')
                        svg
                            use(xlink:href="/src/assets/icons.svg#arrow-down")
                #sbAccordions.collapse.collapse--show.collapse(aria-labelledby='headingOne', data-parent='#sb-accordions')
                    .accordion-inn.js-acc-inn
                        .accordion-inn__header.js-acc-btn
                            a.text.text-fs14(href='#') Нержавеющая сталь
                            .accordion__icon.collapsed(class="js-acc-btn js-sidebar-btn" type='link', data-toggle='collapse', data-target='#NerjaCollapseOne', aria-expanded='false', aria-controls='NerjaCollapseOne')
                                svg
                                    use(xlink:href="/src/assets/icons.svg#arrow-down")
                        #NerjaCollapseOne.collapse(aria-labelledby='headingOne', data-parent='#sbAccordions')
                            .accordion-inn__list.js-acc-inn
                                .accordion-last
                                    .accordion-last__header
                                        a.text.text-fs14(href='#') Нержавеющие листы с покрытием нитрид титана
                                        .accordion-last__icon(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#NerjaCollapseLastOne', aria-expanded='false', aria-controls='NerjaCollapseLastOne')
                                            svg
                                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                                    #NerjaCollapseLastOne.collapse(aria-labelledby='headingOne', data-parent='#NerjaCollapseOne')
                                        .accordion-last__list
                                            a.text.text-fs14(href='product.html') Нержавеющие листы 1
                                            a.text.text-fs14(href='product.html') Нержавеющие листы 2
                                            a.text.text-fs14(href='product.html') Нержавеющие листы 3
                                .accordion-last
                                    .accordion-last__header
                                        a.text.text-fs14(href='#') Нержавеющий уголок
                                        .accordion-last__icon(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#NerjaCollapseLastTwo', aria-expanded='false', aria-controls='NerjaCollapseLastTwo')
                                            svg
                                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                                    #NerjaCollapseLastTwo.collapse(aria-labelledby='headingOne', data-parent='#NerjaCollapseOne')
                                        .accordion-last__list
                                            a.text.text-fs14(href='#') Нержавеющий уголок 1
                                            a.text.text-fs14(href='#') Нержавеющий уголок 2
                                            a.text.text-fs14(href='#') Нержавеющий уголок 3
                                .accordion-last
                                    .accordion-last__header
                                        a.text.text-fs14(href='#') Нержавеющий шестигранник
                                        .accordion-last__icon(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#NerjaCollapseLastThree', aria-expanded='false', aria-controls='NerjaCollapseOne')
                                            svg
                                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                                    #NerjaCollapseLastThree.collapse(aria-labelledby='headingOne', data-parent='#NerjaCollapseOne')
                                        .accordion-last__list
                                            a.text.text-fs14(href='#') Нержавеющий шестигранник 1
                                            a.text.text-fs14(href='#') Нержавеющий шестигранник 2
                                            a.text.text-fs14(href='#') Нержавеющий шестигранник 3
                    .accordion-inn.js-acc-inn
                        .accordion-inn__header.js-acc-btn
                            a.text.text-fs14(href='#') Порошки металлов
                            .accordion__icon.collapsed(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#collapseInnTwo', aria-expanded='false', aria-controls='collapseInnTwo')
                                svg
                                    use(xlink:href="/src/assets/icons.svg#arrow-down")
                        #collapseInnTwo.collapse(aria-labelledby='headingOne', data-parent='#sbAccordions')
                            .accordion-inn__list.js-acc-inn
                                .accordion-last
                                    .accordion-last__header
                                        a.text.text-fs14(href='#') Нержавеющие листы с покрытием нитрид титана
                                        .accordion-last__icon(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#collapseLastTwo', aria-expanded='false', aria-controls='collapseInnTwo')
                                            svg
                                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                                    #collapseLastTwo.collapse(aria-labelledby='headingOne', data-parent='#collapseInnTwo')
                                        .accordion-last__list
                                            a.text.text-fs14(href='#') Услуги обработки металла
                                            a.text.text-fs14(href='#') Экспресс-анализ металлов и сплавов
                                            a.text.text-fs14(href='#') Ответхранение
                    .accordion-inn.js-acc-inn
                        .accordion-inn__header.js-acc-btn
                            a.text.text-fs14(href='#') Чугунный прокат
                            .accordion__icon.collapsed(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#collapseInnThree', aria-expanded='false', aria-controls='collapseInnThree')
                                svg
                                    use(xlink:href="/src/assets/icons.svg#arrow-down")
                        #collapseInnThree.collapse(aria-labelledby='headingOne', data-parent='#sbAccordions')
                            .accordion-inn__list.js-acc-inn
                                .accordion-last
                                    .accordion-last__header
                                        a.text.text-fs14(href='#') Нержавеющие листы с покрытием нитрид титана
                                        .accordion-last__icon(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#collapseLastThree', aria-expanded='false', aria-controls='collapseInnThree')
                                            svg
                                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                                    #collapseLastThree.collapse(aria-labelledby='headingOne', data-parent='#collapseInnThree')
                                        .accordion-last__list
                                            a.text.text-fs14(href='#') Услуги обработки металла
                                            a.text.text-fs14(href='#') Экспресс-анализ металлов и сплавов
                                            a.text.text-fs14(href='#') Ответхранение


                .accordion.js-acc.hide-mb
                    .accordion__item
                        svg(class="m-panel__icon")
                            use(xlink:href="/src/assets/icons.svg#menu-icon")
                        a.text.text-fs14(href='manufacture.html') Производство
                        .accordion__icon.collapsed(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#sbAccordionInnTwo', aria-expanded='false', aria-controls='sbAccordionInnTwo')
                            svg
                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                    #sbAccordionInnTwo.collapse(aria-labelledby='headingOne', data-parent='#sb-accordions')
                        .list-inn
                            a.text.text-fs14(href='#') Услуги обработки металла
                            a.text.text-fs14(href='#') Экспресс-анализ металлов и сплавов
                            a.text.text-fs14(href='#') Ответхранение
                .accordion.js-acc.hide-mb
                    .accordion__item
                        svg(class="m-panel__icon")
                            use(xlink:href="/src/assets/icons.svg#menu-icon")
                        a.text.text-fs14(href='#') Услуги
                        .accordion__icon.collapsed(class="js-acc-btn" type='link', data-toggle='collapse', data-target='#sbAccordionInnThree', aria-expanded='false', aria-controls='sbAccordionInnThree')
                            svg
                                use(xlink:href="/src/assets/icons.svg#arrow-down")
                    #sbAccordionInnThree.collapse(aria-labelledby='headingOne', data-parent='#sb-accordions')
                        .list-inn
                            a.text.text-fs14(href='#') Услуги обработки металла
                            a.text.text-fs14(href='#') Экспресс-анализ металлов и сплавов
                            a.text.text-fs14(href='#') Ответхранение
    a.text.text-fs14.sidebar__link(href="news.html") О компании
    a.text.text-fs14.sidebar__link(href="black-list.html") Клиентам
    a.text.text-fs14.sidebar__link(href="") Партнеры
    a.text.text-fs14.sidebar__link(href="gost.html") ГОСТы и ТУ
    a.text.text-fs14.sidebar__link(href="delivery.html") Доставка
    a.text.text-fs14.sidebar__link(href="contacts.html") Контакты
    .sidebar__contacts
        p.text.text--gray БВБ-Альянс г.Москва, пр. Маршала Жукова 1, кв.1 оф 428
        a(href="tel:+7 (499) 490-20-31").text.text--bold.text-fs16 8 (499) 490-20-31, 490-20-32
        br
        a(href="mailto:msk@bvb-alyans.ru").text.text--bold.text-fs16 msk@bvb-alyans.ru
        .sidebar__button
            .btn.btn--rnd Обратный звонок
        .links
            a(href="https://vk.com" target="_blank")
                svg.sidebar__icon
                    use(xlink:href="/src/assets/icons.svg#vkontakte")
            a(href="https://www.facebook.com" target="_blank")
                svg.sidebar__icon
                    use(xlink:href="/src/assets/icons.svg#facebook")
            a(href="https://twitter.com" target="_blank")
                svg.sidebar__icon
                    use(xlink:href="/src/assets/icons.svg#twiter")
            a(href="https://www.livejournal.com" target="_blank")
                svg.sidebar__icon
                    use(xlink:href="/src/assets/icons.svg#pencil")



    .last-menu
        .last-menu__header
            .last-menu__icon.js-close-lastmenu
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow")
            p.text Каталог товаров
        ul.last-menu__list
            li
                a.text(href='') Электротехническая сталь
            li
                a.text(href='') Электротехническая сталь
            li
                a.text(href='') Электротехническая сталь
    .last-menu
        .last-menu__header
            .last-menu__icon.js-close-lastmenu
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow")
            p.text 1111111
        ul.last-menu__list
            li
                a.text(href='') Электротехническая сталь
            li
                a.text(href='') Электротехническая сталь
            li
                a.text(href='') Электротехническая сталь
    .last-menu
        .last-menu__header
            .last-menu__icon.js-close-lastmenu
                svg
                    use(xlink:href="/src/assets/icons.svg#arrow")
            p.text 23231312
        ul.last-menu__list
            li
                a.text(href='') Электротехническая сталь
            li
                a.text(href='') Электротехническая сталь
            li
                a.text(href='') Электротехническая сталь
    //.sb-slava
        .btn-selector-one.js-btn
            svg
                use(xlink:href="/src/assets/icons.svg#geo")
            .text.text--light-black Продукция
        .btn-selector-one.js-btn
            svg
                use(xlink:href="/src/assets/icons.svg#cart")
            .text.text--light-black Производство
        .btn-selector-one.js-btn
            svg
                use(xlink:href="/src/assets/icons.svg#pencil")
            .text.text--light-black Услуги
        .panel-index
            .text.text--white Производство
            svg
                use(xlink:href="/src/assets/icons.svg#geo")
        .accordions
            .panel
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
                .text collapse One
            .panel
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
                .text collapse Two
            .panel
                .text collapse Three
                .text collapse Three
                .text collapse Three
                .text collapse Three
                .text collapse Three
                .text collapse Three




