.table {
  &-desktop {
    display: none;
  }

  &-mb {
    &__card {
      display: flex;
      flex-direction: column;
      padding: 10px 12px 11px 11px;
      margin-top: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      width: 100%;

      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        width: 100%;

        a {
          color: $orange;

          &:hover, &:active {
            text-decoration: underline;
          }
        }
      }
    }

    &__btn {
      display: flex;
      width: 125px;
      height: 32px;

      &--green {
        .btn--rnd {
          background: #4F4F4F;
          border: 0;
        }
      }

      svg {
        margin-left: 5px;
        width: 15px;
        height: 15px;
        fill: white;
      }
    }
  }

  &__row {
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative;

    &--hide-mb {
      display: none;
    }
  }

  .t-hide {
    display: none;
  }

  &__item {
    padding: 10px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &--hide-mb {
      display: none;
    }

    a {
      text-decoration: underline;
    }

  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 98px;
    height: 32px;
    background: $orange;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .list {
    li {
      margin-top: 7px;
      color: $orange;
      font-weight: 300;
      text-transform: uppercase;

      &:after {
        background: #333333;
      }
    }
  }

  @media(min-width: 600px) {
    &__row {
      display: flex;
      align-items: baseline;

      &--hide-mb {
        display: none;
      }
    }

    &__item {
      margin-right: 20px;
      max-width: 191px;
    }

    .list {
      display: flex;

      li {
        margin-right: 20px;
      }
    }
  }

  @media(min-width: 900px) {
    &-mb {
      display: none;
    }

    &-desktop {
      display: flex;
      flex-direction: column;
    }

    &__row {
      margin-top: 0;
      padding: 20px 10px;
      border-radius: 0;
      border-bottom: 1px solid #f6f6f6;
      box-shadow: none;

      align-items: center;

      &--hide-mb {
        display: flex;
      }

      &--gray {
        background: #f6f6f6;
      }

      .text--light {
        font-weight: 400 !important;
      }
    }

    &__item {
      margin-right: 55px;
      max-width: 281px;

      &-buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 200px;
      }

      &--hide-mb {
        display: flex;
      }
    }

    &__index {
      color: black;
      text-align: flex-start;
      width: 100%;
      max-width: 30px;
    }

    &__list {
      justify-content: space-between;
      margin-right: 97px;
      width: 430px;

      &--header {
      }

      .list {
        justify-content: space-between;
      }

      li {
        min-width: 148px;
        padding-left: 0;

        &:after {
          content: none;
        }
      }
    }

    &__info {
      display: none;
    }

    &__buy {
      margin-right: 17px;
      width: 40px;
      height: 40px;
      fill: black;
    }

    &--hide-text {
      display: none;
    }

    .t-hide {
      display: flex;
    }
  }
}
