.modal-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 37px 0 31px;
  width: 670px;
  max-width: 100%;
  border-radius: 15px;
  background: white;

  &__title {
    margin-bottom: 29px;
    padding-left: 46px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #4F4F4F;
  }

  .text-fs20 {
    padding-left: 46px;
  }

  &__row {
    display: flex;
    align-items: flex-end;
    padding: 27px 46px 27px 46px;
    width: 100%;
    background: rgba(196, 196, 196, 0.1);
    margin: 18px 0 29px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
      font-size: 20px;
      line-height: 23px;
      color: #4F4F4F;

      &:first-child {
        margin-bottom: 19px;
      }
    }
  }


  input {
    padding: 16px;
    width: 101px;
    background: white;
    font-size: 16px;
    line-height: 19px;
    border-color: white;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: 16px;
      line-height: 19px;
    }
  }

&__btn {
  display: flex;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 187px;
}

.text-fs12 {
  padding-left: 10px;
}

a {
  color: orange;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  padding: 52px 9px 37px;
  border-radius: 5px;
  width: 300px;

  .text-fs20 {
    font-size: 16px;
    line-height: 19px;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4F4F4F;
  }

  &__field {
    margin: 22px 0 20px;
    width: 283px;
  }

  &__btn {
    width: 283px;
  }
}

}