.modal-cart-service {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 37px 0 31px;
  width: 670px;
  max-width: 100%;
  border-radius: 15px;
  background: white;

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #4F4F4F;
  }

  .text-fs20 {
    text-align: center;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 27px 46px 27px 46px;
    width: 100%;
    background: rgba(196, 196, 196, 0.1);
    margin: 18px 0 29px;

    .text--gray {
      margin-top: 10px;
    }
  }

  &__btn {
    display: flex;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 187px;
  }


  @media screen and (max-width: 768px) {
    padding: 52px 9px 37px;
    border-radius: 5px;
    width: 300px;

    .text-fs20 {
      font-size: 16px;
      line-height: 19px;
    }

    &__row {
      padding: 10px 5px;
    }

    &__title {
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #4F4F4F;
    }

    &__btn {
      width: 283px;
    }
  }
}