.modal {

  &-dialog {
    padding: 30px;
    max-width: 100%;
  }

  &-content {
    margin: 0 auto;
    border: 0;
    border-radius: 15px;
    width: max-content;
    align-items: center;
  }

  &-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;

    &:hover, &:active, &:focus {
      outline: none;
    }

    span {
      font-size: 48px;
      font-weight: 300;
      color: #BDBDBD;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-dialog {
      padding: 5px;
    }

    &-content {
    border-radius: 5px;
    }

    &-close {
      right: 4px;
      top: 3px;
    }
  }
}