.modal-price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 57px 55px 51px 54px;
  width: 485px;
  max-width: 100%;
  border-radius: 15px;
  background: white;

  &__title {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #4F4F4F;
  }

  &__field {
    width: 355px;
    margin-top: 28px;
    margin-bottom: 29px;


    input {
      margin-top: 8px;
      padding: 15px 54px 15px 25px;
      width: 100%;
      border: 1px solid;
      background: transparent;
      font-size: 16px;
      line-height: 19px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 16px;
        line-height: 19px;
      }
    }

    label {
      font-size: 16px;
      line-height: 19px;
      color: #4F4F4F;
    }
  }

  &__btn {
    display: flex;
    margin-bottom: 15px;
    width: 355px;
  }

  .text-fs12 {
    padding-left: 10px;
  }

  a {
    color: orange;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;

    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 52px 9px 37px;
    border-radius: 5px;
    width: 300px;

    .text-fs20 {
      font-size: 16px;
      line-height: 19px;
    }

    &__title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #4F4F4F;
    }

    &__field {
      margin: 22px 0 20px;
      width: 283px;
    }

    &__btn {
      width: 283px;
    }
  }
}