
.modal-city {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 37px 86px 57px 49px;
  width: 1053px;
  max-width: 100%;
  border-radius: 15px;
  background: white;

  &__title {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #4F4F4F;
  }

  &__field {
    position: relative;
    width: 350px;
    margin-bottom: 37px;

    input {
      padding: 15px 54px 15px 25px;
      width: 100%;
      border: 1px solid;
      background: transparent;
      font-size: 16px;
      line-height: 19px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 16px;
        line-height: 19px;
      }
    }

    svg {
      position: absolute;
      background-size: 30px;
      right: 17px;
      top: 11px;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &:hover, &:active {
        -webkit-filter:invert(0.1);
        filter:invert(0.1);
      }
    }
  }

  &__list {
    list-style: none;
    column-count: 5;

    li {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 25px;
    }

    a {
      &:active,
      &:hover {
        color: #FFD060;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    &__list {
      column-count: 4;
    }
  }
  @media screen and (max-width: 768px) {
    height: 488px;
    padding: 20px 11px;
    border-radius: 5px;
    width: 300px;

    &__title {
      margin-bottom: 21px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #4F4F4F;
    }

    &__field {
      width: 276px;
      margin-bottom: 17px;

      svg {
        width: 25px;
        height: 25px;
        background-size: 25px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      column-count: 1;
      overflow-y: scroll;
      padding-left: 2px;
    }
  }
}