.modal-delivery {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 37px 53px 44px 37px;
  width: 707px;
  max-width: 100%;
  border-radius: 15px;
  background: white;

  &__title {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #4F4F4F;
  }

  .list li {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18px;
  }

  &__btn {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
  }

  @media screen and (max-width: 768px) {
    padding: 18px 15px 37px 9px;
    border-radius: 5px;
    width: 300px;

    .list li {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 18px;
    }

    .text-fs20 {
      font-size: 16px;
      line-height: 19px;
    }

    &__title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #4F4F4F;
    }

    &__btn {
      width: 263px;
    }
  }

}