$white: white;
$orange: #f2b61a;
$gray: #828282;
$gray-light: #F5F5F5;
$black: #333333;
$light-black: #4f4f4f;


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 8px;
  background: #f2b61a;
  border-radius: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;

  &--white {
    background: $white;
    color: $orange;
    border: 2px solid $orange;
  }

  &--rnd {
    width: 100%;
    border: 1px solid $orange;
    border-radius: 55px;
    font-weight: 500;
    text-align: center;
    color: $white;
  }

  &:active,
  &:hover {
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: 900px) {
    font-size: 16px;
  }
}

.link {
  font-family: Roboto;
  font-weight: normal;
  font-size: 13px;
  text-decoration-line: underline;
  color: $orange;

  &:active,
  &:hover {
    text-decoration: none;
  }
}

.list {
  ul {
    margin-bottom: 15px;
  }

  li {
    position: relative;
    padding-left: 20px;
    margin-top: 15px;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;

    &:after {
      position: absolute;
      content: "";
      top: 5px;
      left: 0;
      width: 4px;
      height: 4px;
      background: #f2b61a;
      border-radius: 50%;
    }
  }
}

.text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4f4f4f;

  &-h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  &-fs20 {
    font-size: 20px;
    line-height: 23px;
  }

  &-fs22 {
    font-size: 22px;
    line-height: 25px;
  }

  &-fs18 {
    font-size: 18px;
    line-height: 21px;
  }

  &-fs16 {
    font-size: 16px;
    line-height: 19px;
  }

  &-fs14 {
    font-size: 14px;
    line-height: 17px;
  }

  &-fs13 {
    font-size: 13px;
    line-height: 15px;
  }

  &-fs12 {
    font-size: 12px;
    line-height: 14px;
  }

  &--light {
    font-weight: 300;
  }

  &--center {
    text-align: center;
  }

  &--bold {
    font-weight: 600;
  }

  &--gray {
    color: $gray;
  }

  &--md {
    font-weight: 500;
  }

  &--orange {
    color: $orange;
  }

  &--white {
    color: $white;
  }

  &--gray {
    color: $gray;
  }

  &--light-gray {
    color: #BDBDBD;
  }

  &--light-black {
    color: $light-black;
  }

  &--black {
    color: $black;
  }
}

.checkbox {
  font-size: 14px;
  user-select: none;

  input {
    display: none;
  }

  .checkbox__text {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    cursor: pointer;

    &:before {
      content: "";
      display: inline-block;
      flex-shrink: 0;
      width: 15px;
      height: 15px;
      margin: auto 12px auto 0;
      border: 1px solid #BDBDBD;
      border-radius: 3px;
    }

    &:after {
      content: "";
      background: url(/src/assets/svg/check.svg) no-repeat center;
      width: 12px;
      height: 19px;
      background-size: 17px;
      display: none;
      position: absolute;
      top: -1px;
      left: 2px;
    }
  }

  input[type="checkbox"]:checked ~ label::before {
    background: #ef8d38;
    border-color: #ef8d38;
  }

  input[type="checkbox"]:checked ~ label::after {
    display: block;
  }
}

.person-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  &__img {
    object-fit: cover;
  }
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 13px 20px;
  background: $orange;
}

.divider-content {
  font-family: Roboto;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #4f4f4f;
}

.call-block {
  position: relative;
  padding: 10px 10px 4px;

  &:after {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 3px;
    height: 100%;
    background: $orange;
  }

  &__text {
    margin-bottom: 7px;
    font-size: 12px;
    line-height: 14px;

    &--bg {
      color: #4f4f4f;
    }
  }
}

.field {
  border: 2px solid #E0E0E0;
  width: 100%;
  border-radius: 5px;
  font-family: Roboto;
  color: #E0E0E0;
  outline: none;

  &::-moz-placeholder {  /* Firefox 19+ */
    line-height: 32px !important;

  }

  &:focus {
    border-color: #828282;
    color: #3C3C3C;
  }

  &.error {
    border: 1.5px solid #EB5757;
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #E0E0E0;
  }
}

.error-message {
  padding-top: 8px;
  transition: .2s linear;
  color: #EB5757;
  font-size: 14px;
  line-height: 16px;
}

//check hide
//.hide-mb {
//  visibility: hidden;
//}

//.card {
//  display: flex;
//  flex-direction: column;
//  width: 100%;
//  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
//  border-bottom-left-radius: 5px;
//  border-bottom-right-radius: 5px;
//
//  &__img {
//    object-fit: contain;
//    margin-bottom: 19px;
//  }
//
//  &__text {
//    padding-left: 15px;
//    font-weight: 500;
//    margin-bottom: 20px;
//  }
//}

.accordion {

}


// check all hides
//@media (min-width: 900px) {
//  .hide-mb {
//    visibility: visible;
//  }
//}


