$light-gray: #f5f5f5;

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 1470px;
  background: white;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  overflow-x: hidden;
}

.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 22px 48px;

  &--gray {
    background: #F9F9F9;
  }

  @media (max-width: 600px) {
    padding: 25px 22px 48px;
  }

  @media (max-width: 350px) {
    padding: 25px 15px 48px;
  }
}

.align-items-center {
  align-items: center;
}


